Repository aquasecurity/tracee, pull requests merged in 2021-09, with the labels that each got.

#927 Implement process tree filter
  tracee-ebpf/go.sum
  tracee-ebpf/main.go
  tracee-ebpf/tracee/consts.go
  tracee-ebpf/tracee/consts_amd64.go
  tracee-ebpf/tracee/consts_arm64.go
  tracee-ebpf/tracee/tracee.bpf.c
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#990 tracee-ebpf: add sched_process_exec to default set
  tracee-ebpf/tracee/consts.go
Labels: tracee-ebpf

#991 tracee-ebpf: move prepare_args() to argprinters file
  tracee-ebpf/tracee/argprinters.go
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#981 helpers/btfinfo: renamed to osinfo and improved, syncing
  tracee-ebpf/go.mod
  tracee-ebpf/go.sum
  tracee-ebpf/main.go
  tracee-ebpf/tracee/consts.go
  tracee-ebpf/tracee/tracee.bpf.c
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#984 feat: Add flag for prepared events
  tracee-rules/benchmark/benchmark_test.go
  tracee-rules/benchmark/signature/wasm/signatures.go
  tracee-rules/engine/engine.go
  tracee-rules/engine/engine_test.go
  tracee-rules/main.go
Labels: tracee-rules

#979 feat: Add flag for Partial Eval
  tracee-rules/benchmark/signature/rego/signatures.go
  tracee-rules/main.go
  tracee-rules/signature.go
  tracee-rules/signature_test.go
  tracee-rules/signatures/rego/regosig/traceerego.go
  tracee-rules/signatures/rego/regosig/traceerego_test.go
Labels: tracee-rules

#980 feat: Add flag for Runtime Target
  tracee-rules/benchmark/signature/rego/signatures.go
  tracee-rules/main.go
  tracee-rules/signature.go
  tracee-rules/signature_test.go
  tracee-rules/signatures/rego/regosig/traceerego.go
  tracee-rules/signatures/rego/regosig/traceerego_test.go
Labels: tracee-rules

#989 tracee-ebpf: move filters logic to a new file
  tracee-ebpf/main.go
  tracee-ebpf/tracee/filters.go
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#996 update docs
  Readme.md
  docs/index.md
  docs/install/prerequisites.md
  tracee-ebpf/Readme.md
Labels: documentation

#1007 tracee-rules(test): rewrite tests for RegoSignature
  .gitignore
  tracee-rules/signatures/rego/regosig/traceerego.go
  tracee-rules/signatures/rego/regosig/traceerego_test.go
Labels: tracee-rules

#1015 tracee-rules: Allow compiling and evaluating all Rego signatures at once
  .gitignore
  tracee-rules/main.go
  tracee-rules/signature.go
  tracee-rules/signature_test.go
  tracee-rules/signatures/rego/regosig/aio.go
  tracee-rules/signatures/rego/regosig/aio.rego
  tracee-rules/signatures/rego/regosig/aio_test.go
  tracee-rules/signatures/rego/regosig/mapper.go
  tracee-rules/signatures/rego/regosig/mapper_test.go
  tracee-rules/signatures/rego/regosig/traceerego_test.go
Labels: tracee-rules

#1021 Set TINI_SUBREAPER env variable in dockerfile
  Dockerfile
Labels: tracee-ebpf

#1024 tracee-rules: Upgrade external package dependency
  tracee-rules/go.mod
  tracee-rules/go.sum
Labels: tracee-rules
