Repository aquasecurity/tracee, pull requests merged in 2021-02, with the labels that each got.

#510 Remove the notion of an EOT event signaling end of transmission
  tracee-ebpf/Readme.md
  tracee-ebpf/main.go
  tracee-ebpf/main_test.go
  tracee-ebpf/tracee/printer.go
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#477 feat: Add tests for core engine functionality
  tracee-ebpf/go.sum
  tracee-rules/engine/engine.go
  tracee-rules/engine/engine_test.go
  tracee-rules/go.mod
  tracee-rules/go.sum
  tracee-rules/main.go
  tracee-rules/output.go
  tracee-rules/signature.go
Labels: tracee-rules

#500 Refactor flags in tracee-rules
  tracee-rules/Readme.md
  tracee-rules/input.go
  tracee-rules/input_test.go
  tracee-rules/main.go
Labels: tracee-rules

#512 fix webhook panic when server returns error
  tracee-rules/output.go
Labels: tracee-rules

#518 Unit tests for input source setup functions
  tracee-rules/input_test.go
Labels: tracee-rules

#523 fix: Move example sigs into own dir and exclude from build.
  tracee-rules/Makefile
  tracee-rules/Readme.md
  tracee-rules/signatures/golang/examples/example.go
  tracee-rules/signatures/rego/examples/example1.rego
  tracee-rules/signatures/rego/examples/example1_test.rego
  tracee-rules/signatures/rego/examples/example2.rego
  tracee-rules/signatures/rego/examples/example2_test.rego
Labels: signatures, tracee-rules

#526 fix: trace-ebpf: Fix typo in clang option
  tracee-ebpf/Makefile
Labels: tracee-ebpf

#528 Add sigs
  Readme.md
  tracee-rules/signature.go
  tracee-rules/signatures/golang/helpers.go
  tracee-rules/signatures/golang/stdio_over_socket.go
  tracee-rules/signatures/golang/stdio_over_socket_test.go
  tracee-rules/signatures/rego/anti_debugging_ptraceme.rego
  tracee-rules/signatures/rego/code_injection.rego
  tracee-rules/signatures/rego/code_injection_test.rego
  tracee-rules/signatures/rego/dynamic_code_loading.rego
  tracee-rules/signatures/rego/dynamic_code_loading_test.rego
  tracee-rules/signatures/rego/fileless_execution.rego
  tracee-rules/signatures/rego/fileless_execution_test.rego
  tracee-rules/signatures/rego/helpers.rego
  tracee-rules/signatures/rego/kernel_module_loading.rego
  tracee-rules/signatures/rego/kernel_module_loading_test.rego
  tracee-rules/signatures/rego/ld_preload.rego
  tracee-rules/signatures/rego/ld_preload_test.rego
  tracee-rules/signatures/rego/regosig/traceerego.go
  tracee-rules/signatures/rego/regosig/traceerego_test.go
Labels: signatures

#549 tracee-ebpf: add switch_task_ns event
  tracee-ebpf/tracee/consts.go
  tracee-ebpf/tracee/tracee.bpf.c
Labels: tracee-ebpf

#554 remove code injection sig from go
  tracee-rules/signatures/golang/code_injection.go
  tracee-rules/signatures/golang/code_injection_test.go
Labels: signatures

#562 fix dynamic code loading sig
  tracee-rules/signatures/rego/dynamic_code_loading.rego
  tracee-rules/signatures/rego/dynamic_code_loading_test.rego
Labels: signatures

#551 tracee-ebpf: update minimal kernel version to 4.18
  Readme.md
  tracee-ebpf/Readme.md
  tracee-ebpf/tracee/tracee.bpf.c
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf
