Repository aquasecurity/tracee, pull requests merged in 2021-03, with the labels that each got.

#483 feat: Add ringbuffer support to libbpfgo
  libbpfgo/libbpf_cb.go
  libbpfgo/libbpfgo.go
  libbpfgo/selftest/ringbuffers/.gitignore
  libbpfgo/selftest/ringbuffers/Makefile
  libbpfgo/selftest/ringbuffers/go.mod
  libbpfgo/selftest/ringbuffers/go.sum
  libbpfgo/selftest/ringbuffers/main.go
  libbpfgo/selftest/ringbuffers/run.sh
  libbpfgo/selftest/ringbuffers/self.bpf.c
Labels: libbpfgo

#591 Cleanup ringbuffer stop logic
  libbpfgo/libbpfgo.go
Labels: libbpfgo

#597 feat: Add signature versioning
  tracee-rules/signature_test.go
  tracee-rules/signatures/golang/examples/example.go
  tracee-rules/signatures/golang/stdio_over_socket.go
  tracee-rules/signatures/rego/anti_debugging_ptraceme.rego
  tracee-rules/signatures/rego/code_injection.rego
  tracee-rules/signatures/rego/dynamic_code_loading.rego
  tracee-rules/signatures/rego/fileless_execution.rego
  tracee-rules/signatures/rego/kernel_module_loading.rego
  tracee-rules/signatures/rego/ld_preload.rego
  tracee-rules/types/types.go
Labels: signatures

#609 fix tracee-ebpf dockerfile for go 1.16
  Dockerfile
  tracee-ebpf/Dockerfile
Labels: tracee-ebpf

#622 feat: Print loaded rules info at runtime
  tracee-rules/main.go
Labels: tracee-rules

#601 fix: move and document the signature helpers
  tracee-rules/Readme.md
  tracee-rules/signatures/golang/stdio_over_socket.go
  tracee-rules/signatures/helpers/helpers.go
Labels: tracee-rules

#493 copying argprinters funcs under libbpfgo
  libbpfgo/helpers/argParsers.go
  libbpfgo/helpers/example_tracelisten_test.go
  libbpfgo/libbpfgo.go
Labels: libbpfgo

#613 remove falcosidekick from container
  Dockerfile
  Readme.md
  entrypoint.sh
  test/bats-helpers.bash
  test/mocks/falco-sidekick
  test/mocks/mock
  test/mocks/mount
  test/mocks/tracee-ebpf
  test/mocks/tracee-rules
  tracee-rules/Readme.md
Labels: tracee-ebpf

#603 feat: add libbpfgo selftests to github actions
  .github/workflows/pr-libbpfgo.yaml
  libbpfgo/libbpfgo.go
  libbpfgo/selftest/ringbuffers/Makefile
  libbpfgo/selftest/ringbuffers/main.go
  libbpfgo/selftest/ringbuffers/run.sh
  libbpfgo/selftest/run.sh
Labels: libbpfgo

#631 Use libbpfgo/helpers package in tracee-ebpf
  tracee-ebpf/go.mod
  tracee-ebpf/go.sum
  tracee-ebpf/tracee/argprinters.go
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#630 Use Go templates for stdout
  tracee-rules/Readme.md
  tracee-rules/go.mod
  tracee-rules/go.sum
  tracee-rules/main.go
  tracee-rules/output.go
  tracee-rules/output_test.go
  tracee-rules/templates/csv.tmpl
  tracee-rules/templates/simple.tmpl
  tracee-rules/templates/sprig.tmpl
  tracee-rules/templates/xml.tmpl
  tracee-rules/types/types.go
Labels: tracee-rules

#646 types.Finding interface update
  tracee-rules/output.go
  tracee-rules/output_test.go
  tracee-rules/signatures/golang/examples/example.go
  tracee-rules/signatures/golang/stdio_over_socket.go
  tracee-rules/signatures/rego/regosig/traceerego.go
  tracee-rules/types/types.go
Labels: tracee-rules

#638 Fix PerfBuffer shutdown
  libbpfgo/libbpfgo.go
  libbpfgo/selftest/perfbuffers/.gitignore
  libbpfgo/selftest/perfbuffers/Makefile
  libbpfgo/selftest/perfbuffers/go.mod
  libbpfgo/selftest/perfbuffers/go.sum
  libbpfgo/selftest/perfbuffers/main.go
  libbpfgo/selftest/perfbuffers/run.sh
  libbpfgo/selftest/perfbuffers/self.bpf.c
Labels: libbpfgo

#657 Small fixes for documentation
  Readme.md
  docs/architecture.md
  docs/config.md
  docs/faq.md
  docs/images/architecture.png
  docs/images/tracee_logo_only.png
  docs/index.md
  docs/install/ebpf-compilation.md
  docs/install/headers.md
  docs/install/prerequisites.md
  docs/integrations.md
  docs/rules-authoring.md
  docs/rules-index.md
  docs/tracee-ebpf/index.md
  docs/tracee-ebpf/trace-options.md
  images/tracee.png
  mkdocs.yml
Labels: documentation

#659 fix json output template
  tracee-rules/templates/rawjson.tmpl
Labels: tracee-rules

#645 feat: add functions to helper package for checking kernel config options
  libbpfgo/go.mod
  libbpfgo/go.sum
  libbpfgo/helpers/kernel_features.go
  libbpfgo/helpers/kernel_features_test.go
  libbpfgo/helpers/testdata/comments_config.gz
  libbpfgo/helpers/testdata/config_standard.gz
  libbpfgo/helpers/testdata/tarred_config.tar
Labels: libbpfgo
