Repository aquasecurity/tracee, pull requests merged in 2021-04, with the labels that each got.

#656 Add Resize() and GetMaxEntries() to BPFMap
  libbpfgo/libbpfgo.go
  libbpfgo/selftest/perfbuffers/main.go
  libbpfgo/selftest/ringbuffers/Makefile
  libbpfgo/selftest/ringbuffers/main.go
Labels: libbpfgo

#671 fix error handling
  tracee-ebpf/main.go
  tracee-ebpf/tracee/printer.go
Labels: tracee-ebpf

#649 Fix eventsChannels race
  libbpfgo/helpers/rwArray.go
  libbpfgo/helpers/rwArray_test.go
  libbpfgo/libbpf_cb.go
  libbpfgo/libbpfgo.go
Labels: libbpfgo

#683 integrate and document gotemplate
  Dockerfile
  docs/integrations.md
  docs/tracee-ebpf/index.md
  tracee-ebpf/Readme.md
Labels: tracee-rules

#632 fix: trace-ebpf flag output
  tracee-ebpf/Makefile
  tracee-ebpf/main.go
  tracee-ebpf/main_test.go
  tracee-ebpf/tracee/tracee.go
Labels: tracee-ebpf

#696 Add check for empty bytes being written by file write channel
  tracee-ebpf/tracee/tracee.go
Labels: bug, tracee-ebpf

#702 add build in docker to tracee-rules
  tracee-rules/Makefile
Labels: tracee-rules

#670 Load kernel config into bpf hashmap
  .github/workflows/pr-libbpfgo.yaml
  libbpfgo/helpers/kernel_features.go
  libbpfgo/helpers/kernel_features_test.go
  tracee-ebpf/go.mod
  tracee-ebpf/go.sum
  tracee-ebpf/main.go
Labels: libbpfgo, tracee-ebpf

#714 Add tracee video hub link in README
  Readme.md
  docs/index.md
Labels: documentation
