Repository aquasecurity/tracee, pull requests merged in 2022-10, with the labels that each got.

#2230 uprobe: fix uprobe trigger triggered from multiple tracee instances
  pkg/ebpf/c/tracee.bpf.c
Labels: tracee-ebpf, uprobe, PR/fix

#2079 events: add bpf_attach event
  pkg/ebpf/c/missing_definitions.h
  pkg/ebpf/c/missing_noncore_definitions.h
  pkg/ebpf/c/struct_flavors.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
  pkg/events/parse_args.go
Labels: PR/research

#2303 hooked_proc_fops: remove redundant struct check and handle null pointer
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_processor.go
Labels: bug, tracee-ebpf

#2302 filters: flags: change mntns and pidns filter expressions
  cmd/tracee-ebpf/flags/filter.go
  docs/docs/tracing/event-filtering.md
Labels: feature

#2310 tracee: remove invalid events from tailcalls
  pkg/ebpf/tracee.go
  pkg/events/events.go
Labels: bug, PR/fix
