Repository aquasecurity/tracee, pull requests merged in 2022-04, with the labels that each got.

#1508 Load kallsyms values
  docs/install/prerequisites.md
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_definitions.go
  pkg/ebpf/initialization/ksymbols.go
  pkg/ebpf/tracee.go
Labels: tracee-ebpf

#1603 engine: unify signature loading logic
  pkg/rules/engine/engine.go
  pkg/rules/engine/engine_test.go
Labels: bug, tracee-rules

#1627 test: run unit tests with -race flag
  Makefile
  pkg/events/sorting/sorting_test.go
  pkg/rules/engine/engine.go
  pkg/rules/engine/engine_test.go
Labels: tests

#1634 fix(test): data race in TestEventsChronologicalSorter_Start
  pkg/events/sorting/sorting_test.go
Labels: tests

#1677 engine: Accept partial non tracee source selectors
  pkg/rules/engine/engine.go
  pkg/rules/engine/engine_test.go
Labels: bug, tracee-rules

#1694 fix event constants wrong convention
  pkg/ebpf/events_definitions.go
Labels: tracee-ebpf
