Repository aquasecurity/tracee, pull requests merged in 2022-12, with the labels that each got.

#2426 pkg/utils/proc: log errors as debug only
  pkg/utils/proc/ns.go
Labels: PR/fix

#2461 network: e2e-net-test v419 skip should return 0
  tests/e2e-net-test.sh
Labels: PR/fix

#2457 rules: add event name to rego signatures
  pkg/rules/signature/signature_test.go
  signatures/rego/anti_debugging_ptraceme.rego
  signatures/rego/cgroup_release_agent_modification.rego
  signatures/rego/code_injection.rego
  signatures/rego/disk_mount.rego
  signatures/rego/dropped_executable.rego
  signatures/rego/dynamic_code_loading.rego
  signatures/rego/fileless_execution.rego
  signatures/rego/illegitimate_shell.rego
  signatures/rego/k8s_service_account_token.rego.disabled
  signatures/rego/kernel_module_loading.rego
  signatures/rego/kubernetes_certificate_theft_attempt.rego
  signatures/rego/ld_preload.rego
  signatures/rego/proc_fops_hooking.rego
  signatures/rego/syscall_table_hooking.rego
Labels: PR/needs-review, PR/fix

#2460 probes: fix lockup when nested raising privileges
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
Labels: PR/needs-review, PR/fix

#2463 events_pipeline: run filters for derived events
  pkg/ebpf/events_pipeline.go
Labels: PR/needs-review, PR/fix, PR/filtering

#2465 sorting: add race condition checks for queues usage
  pkg/events/sorting/sorting.go
Labels: PR/fix

#2480 tracee.bpf: arm64: fix var warning for bpf-nocore
  pkg/ebpf/c/tracee.bpf.c
Labels: PR/fix

#2494 docs: add network events documentation to mkdocs
  docs/docs/tracing/network-events.md
  mkdocs.yml
Labels: documentation

#2493 [FEAT] builder: add custom-rules arg opt to entrypoint.sh
  builder/entrypoint.sh
Labels: feature, PR/needs-review

#2352 [FEAT] log ebpf errors
  pkg/ebpf/bpf_error.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/tracee.go
  pkg/logger/logger.go
  pkg/metrics/stats.go
Labels: PR/needs-review

#2495 docs: add everything is an event tutorial
  docs/tutorials/everything-is-an-event.md
  mkdocs.yml
Labels: documentation, PR/needs-review

#2509 network: fix net_packet_dns_request and response
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/derive/net_packet_dns.go
Labels: PR/fix

#2507 ebpf: remove interpreter map
  pkg/ebpf/c/tracee.bpf.c
Labels: PR/approved, PR/needs-rebase

#2533 ebpf: move event text segment checks to kernel
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_processor.go
  pkg/events/derive/detect_hooked_syscall.go
  pkg/events/derive/hooked_seq_ops.go
  pkg/events/events.go
Labels: area/ebpf, performance, refactor, PR/needs-review
