Repository aquasecurity/tracee, pull requests merged in 2022-11, with the labels that each got.

#2322 Documentation: Fix broken links, move deep dive section
  CONTRIBUTING.md
  Readme.md
  cmd/tracee-ebpf/readme.md
  cmd/tracee-rules/readme.md
  docs/contributing/overview.md
  docs/docs/deep-dive/architecture.md
  docs/docs/deep-dive/caching-events.md
  docs/docs/deep-dive/dropping-capabilities.md
  docs/docs/deep-dive/healthz.md
  docs/docs/deep-dive/ordering-events.md
  docs/docs/deep-dive/override-os-files.md
  docs/docs/deep-dive/overview.md
  docs/docs/deep-dive/performance.md
  docs/docs/deep-dive/secure-tracing.md
  docs/docs/detecting/rego.md
  docs/docs/overview.md
  mkdocs.yml
Labels: PR/needs-review

#2216 feature: add stdin path to sched_process_exec
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/events.go
Labels: PR/research

#2357 [FIX] events_enrich: fix missing container_remove event
  pkg/ebpf/events_enrich.go
Labels: bug, tracee-ebpf

#2254 [FEAT] logger: debug output enrichment
  pkg/logger/logger.go
Labels: feature, refactor

#2394 pkg/procinfo: procfs errors are too frequent
  pkg/procinfo/procinfo.go
Labels: PR/fix

#2378 types: add network protocol events types
  types/trace/network_trace.go
Labels: networking
