Repository aquasecurity/tracee, pull requests merged in 2022-05, with the labels that each got.

#1690 add device_add event
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/events_definitions.go
Labels: tracee-ebpf

#1689 pipeline: split process and sink stages
  pkg/ebpf/events_derived.go
  pkg/ebpf/events_pipeline.go
  pkg/events/sorting/sorting.go
Labels: tracee-ebpf

#1631 add shared_object_loaded and memory protections lsm events
  pkg/ebpf/argprinters.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/events_definitions.go
  pkg/ebpf/events_derived.go
Labels: tracee-ebpf

#1778 tracee-ebpf: fix socket_accept print
  pkg/ebpf/events_definitions.go
Labels: approved

#1549 add 'kubectl' process name to allowlist
  signatures/rego/k8s_service_account_token.rego
  signatures/rego/k8s_service_account_token_test.rego
Labels: stale, research, needs-review
