Repository aquasecurity/tracee, pull requests merged in 2022-02, with the labels that each got.

#1405 Introducing decoder pkg
  pkg/external/external.go
  tracee-ebpf/tracee/argprinters.go
  tracee-ebpf/tracee/argprinters_test.go
  tracee-ebpf/tracee/events_pipeline.go
  tracee-ebpf/tracee/events_processor.go
  tracee-ebpf/tracee/internal/bufferdecoder/decoder.go
  tracee-ebpf/tracee/internal/bufferdecoder/decoder_test.go
  tracee-ebpf/tracee/internal/bufferdecoder/eventsreader.go
  tracee-ebpf/tracee/internal/bufferdecoder/eventsreader_test.go
  tracee-ebpf/tracee/internal/bufferdecoder/protocol.go
  tracee-ebpf/tracee/internal/bufferdecoder/protocol_test.go
  tracee-ebpf/tracee/process_tree.go
  tracee-ebpf/tracee/tracee.go
  tracee-ebpf/tracee/tracee_test.go
  tracee-ebpf/tracee/write_capture.go
Labels: performance

#1454 Merge external and types into a single module
  pkg/bufferdecoder/decoder_test.go
  pkg/bufferdecoder/protocol.go
  types/detect/detect.go
  types/go.mod
  types/go.sum
  types/trace/trace.go
  types/trace/trace_test.go
Labels: tracee-ebpf, tracee-rules

#1491 update types module
  types/trace/network_trace.go
Labels: tracee-ebpf

#1503 Fix links in documentation
  docs/rules-authoring.md
Labels: documentation

#1513 manually fix docker tags for 0.6.5
  v0.6.5/index.html
  v0.6.5/integrations/index.html
  v0.6.5/search/search_index.js
  v0.6.5/tracee-ebpf/index.html
Labels: documentation
