Repository aquasecurity/tracee, pull requests merged in 2022-07, with the labels that each got.

#1820 tc and net probes refactoring
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
  pkg/events/events.go
Labels: PR/needs-review

#1877 enrich: fix enrichment queue locks
  pkg/ebpf/events_enrich.go
Labels: PR/needs-review, PR/fix

#1883 docs: improve enrichment documentation
  docs/index.md
  docs/integrations.md
Labels: documentation

#1908 DNS: drop support of DNS over TCP
  pkg/ebpf/c/tracee.bpf.c
Labels: PR/needs-review

#1876 Bugfix: cmd: enable running with high capabilities by flag
  builder/entrypoint.sh
  cmd/tracee-ebpf/capabilities.go
  cmd/tracee-ebpf/main.go
  cmd/tracee-rules/main.go
  docs/install/prerequisites.md
Labels: PR/approved, PR/needs-review, PR/fix

#1917 bugfix: pkg/events: fix setsockopt doc mismatch
  pkg/events/events.go
Labels: PR/approved

#1928 ebpf: use new libbpf syscall macros
  pkg/ebpf/c/tracee.bpf.c
Labels: PR/approved

#1915 containers: mount cpuset on cgroupsv1
  docs/install/prerequisites.md
  pkg/containers/containers.go
  pkg/containers/utils.go
Labels: tracee-ebpf, PR/needs-review, PR/fix

#1929 Bugfix: pkg/ebpf: avoid passing interpreter for static ELF
  pkg/ebpf/c/tracee.bpf.c
Labels: PR/research, PR/needs-review

#1904 events_enrich: a new atomic approach with single lock
  pkg/ebpf/events_enrich.go
Labels: PR/needs-review, PR/fix

#1943 Small fixes in docs and signature descriptions
  docs/rules-index.md
  docs/tutorials/setup-development-machine-with-vagrant.md
  signatures/rego/cgroup_release_agent_modification.rego
  signatures/rego/syscall_table_hooking.rego
Labels: PR/needs-review, PR/fix

#1966 ebpf: simplify filters logic
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/filters.go
  pkg/ebpf/tracee.go
Labels: PR/approved

#1977 pkg/ebpf: add interpreter ctime
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/events.go
Labels: PR/tests-failed

#1997 tracee: split new between new and init
  cmd/tracee-ebpf/capabilities.go
  cmd/tracee-ebpf/main.go
  pkg/ebpf/tracee.go
Labels: tracee-ebpf, refactor, PR/needs-review

#1984 Bugfix: container created flag
  cmd/tracee-rules/output_test.go
  go.mod
  go.sum
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/protocol.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_pipeline.go
  pkg/rules/engine/engine_test.go
  types/trace/trace_test.go
Labels: PR/needs-review

#2024 fix: verifier error on arm due to register reuse
  pkg/ebpf/c/tracee.bpf.c
Labels: bug
