Repository aquasecurity/tracee, pull requests merged in 2022-03, with the labels that each got.

#1512 Load expened kconfig to BPF
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/initialization/kconfig.go
  pkg/ebpf/tracee.go
Labels: tracee-ebpf

#1525 decoding: cast SlimCred to trace.SlimCred
  pkg/bufferdecoder/eventsreader.go
Labels: bug

#1578 fix(deploy): update DaemonSet config to deploy tracee in K8s
  Vagrantfile
  deploy/kubernetes/tracee-falcosidekick/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
Labels: bug

#1584 docs: update documentation for 0.7
  builder/Dockerfile.mkdocs
  docs/building/containers.md
  docs/images/tracee_video_thumbnail.png
  docs/index.md
  docs/install/headers.md
  docs/install/prerequisites.md
  docs/tracee-ebpf/index.md
  docs/tracee-ebpf/trace-options.md
  mkdocs.yml
Labels: documentation

#1598 Refactor event derivation mechanism
  pkg/ebpf/events_derived.go
  pkg/ebpf/tracee.go
Labels: tracee-ebpf, performance
