Repository aquasecurity/tracee, pull requests merged in 2022-01, with the labels that each got.

#1320 tracee-ebpf: seperate flag parsing function from main.go
  cmd/tracee-ebpf/internal/flags/flags-capture.go
  cmd/tracee-ebpf/internal/flags/flags-filter.go
  cmd/tracee-ebpf/internal/flags/flags-output.go
  cmd/tracee-ebpf/main.go
  cmd/tracee-ebpf/main_test.go
Labels: tracee-ebpf

#1328 Tracee-ebpf: Added exit of process group flag to sched_process_exit
  tracee-ebpf/tracee/co-re/vmlinux.h
  tracee-ebpf/tracee/events_decoder.go
  tracee-ebpf/tracee/events_definitions.go
  tracee-ebpf/tracee/tracee.bpf.c
Labels: tracee-ebpf

#1381 tracee-ebpf: increase event count on init event
  tracee-ebpf/tracee/tracee.go
Labels: bug, tracee-ebpf

#1379 events_pipeline: Fixed bug of counting events twice
  tracee-ebpf/tracee/events_pipeline.go
Labels: bug, tracee-ebpf

#1376 tracee-ebpf: fix eBPF load regression for v5.4 kernel
  tracee-ebpf/tracee/tracee.bpf.c
Labels: bug

#1390 Types module separation preparation
  types/go.mod
  types/types.go
Labels: tracee-rules

#1391 refactor: update type module to cross compile Go plugins
  cmd/tracee-rules/input.go
  cmd/tracee-rules/main.go
  cmd/tracee-rules/main_test.go
  cmd/tracee-rules/output.go
  cmd/tracee-rules/output_test.go
  cmd/tracee-rules/signature.go
  cmd/tracee-rules/signature_test.go
  docs/rules-authoring.md
  go.mod
  go.sum
  signatures/golang/examples/example.go
  signatures/golang/export.go
  signatures/golang/kubernetes_api_connection.go
  signatures/golang/kubernetes_api_connection_test.go
  signatures/golang/stdio_over_socket.go
  signatures/golang/stdio_over_socket_test.go
  signatures/signaturestest/signaturestest.go
  tracee-rules/benchmark/benchmark_test.go
  tracee-rules/benchmark/helpers_test.go
  tracee-rules/benchmark/signature/golang/anti_debugging.go
  tracee-rules/benchmark/signature/golang/code_injection.go
  tracee-rules/benchmark/signature/golang/noop.go
  tracee-rules/benchmark/signature/rego/signatures.go
  tracee-rules/benchmark/signature/wasm/signatures.go
  tracee-rules/engine/engine.go
  tracee-rules/engine/engine_test.go
  tracee-rules/regosig/aio.go
  tracee-rules/regosig/aio_test.go
  tracee-rules/regosig/mapper.go
  tracee-rules/regosig/traceerego.go
  tracee-rules/regosig/traceerego_test.go
Labels: tracee-rules, signatures

#1393 delete old types directory
  tracee-rules/types/types.go
Labels: tracee-rules

#1387 add stats printing to stderr in case of lost events
  tracee-ebpf/tracee/events_processor.go
  tracee-ebpf/tracee/net_events.go
  tracee-ebpf/tracee/write_capture.go
Labels: tracee-rules
