Repository aquasecurity/tracee, pull requests merged in 2022-06, with the labels that each got.

#1718 create new event - file operations hooking under /proc detection
  pkg/bufferdecoder/eventsreader.go
  pkg/ebpf/c/missing_definitions.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/events_definitions.go
  pkg/ebpf/events_processor.go
Labels: stale, research, needs-review

#1792 [MAINT] cd to /vagrant when you ssh to Vagrant vm
  Vagrantfile
Labels: maintenance

#1794 [MAINT] Format OPA Rego code with opa fmt
  signatures/rego/anti_debugging_ptraceme.rego
  signatures/rego/anti_debugging_ptraceme_test.rego
  signatures/rego/cgroup_release_agent_modification.rego
  signatures/rego/cgroup_release_agent_modification_test.rego
  signatures/rego/code_injection.rego
  signatures/rego/code_injection_test.rego
  signatures/rego/disk_mount.rego
  signatures/rego/disk_mount_test.rego
  signatures/rego/dropped_executable.rego
  signatures/rego/dropped_executable_test.rego
  signatures/rego/dynamic_code_loading.rego
  signatures/rego/dynamic_code_loading_test.rego
  signatures/rego/fileless_execution.rego
  signatures/rego/fileless_execution_test.rego
  signatures/rego/helpers.rego
  signatures/rego/illegitimate_shell.rego
  signatures/rego/illegitimate_shell_test.rego
  signatures/rego/k8s_service_account_token.rego
  signatures/rego/k8s_service_account_token_test.rego
  signatures/rego/kernel_module_loading.rego
  signatures/rego/kernel_module_loading_test.rego
  signatures/rego/kubernetes_certificate_theft_attempt.rego
  signatures/rego/kubernetes_certificate_theft_attempt_test.rego
  signatures/rego/ld_preload.rego
  signatures/rego/ld_preload_test.rego
  signatures/rego/syscall_table_hooking.rego
  signatures/rego/syscall_table_hooking_test.rego
Labels: maintenance

#1791 [REFACTOR] Separate probes and add new required field for probe dependencies
  cmd/tracee-ebpf/capabilities.go
  cmd/tracee-ebpf/main.go
  pkg/ebpf/events_definitions.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
Labels: PR/changes-requested

#1775 tracee-ebpf: separate printer and debug package
  cmd/tracee-ebpf/internal/debug/debug.go
  cmd/tracee-ebpf/internal/debug/debug_test.go
  cmd/tracee-ebpf/internal/flags/debug_test.go
  cmd/tracee-ebpf/internal/flags/flags-containers.go
  cmd/tracee-ebpf/internal/flags/flags-output.go
  cmd/tracee-ebpf/internal/printer/printer.go
  cmd/tracee-ebpf/internal/printer/printer_test.go
  cmd/tracee-ebpf/main.go
Labels: refactor

#1799 k8s deployment: increase needed limits because of caching
  deploy/kubernetes/tracee-falcosidekick/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
Labels: PR/needs-review

#1817 [MAINT] Fix noisy Test_getSignatures that was trying to load *_test.rego files
  cmd/tracee-rules/output_test.go
  cmd/tracee-rules/signature_test.go
  cmd/tracee-rules/testdata/goldens/broken.tmpl
  cmd/tracee-rules/testdata/signatures/anti_debugging_ptraceme.rego
  cmd/tracee-rules/testdata/signatures/code_injection.rego
  cmd/tracee-rules/testdata/signatures/helpers.rego
Labels: PR/needs-review, PR/maintenance

#1811 event: set_task_comm
  pkg/ebpf/argprinters.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_definitions.go
  pkg/ebpf/probes/probes.go
Labels: PR/changes-requested

#1835 [MAINT] dependencies: bump OPA version to 0.41.0
  .github/actions/build-dependencies/action.yaml
  .github/workflows/pr.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/test-signatures.yaml
  Makefile
  Vagrantfile
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
  go.mod
  go.sum
  packaging/Dockerfile.fedora-packaging
  packaging/Dockerfile.ubuntu-packaging
Labels: PR/maintenance

#1818 [REFACTOR] events: split events files from ebpf package
  cmd/tracee-ebpf/capabilities.go
  cmd/tracee-ebpf/capabilities_test.go
  cmd/tracee-ebpf/internal/flags/flags-filter.go
  cmd/tracee-ebpf/main.go
  cmd/tracee-ebpf/main_test.go
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/net_decoder.go
  pkg/bufferdecoder/protocol.go
  pkg/ebpf/events_amd64.go
  pkg/ebpf/events_arm64.go
  pkg/ebpf/events_definitions.go
  pkg/ebpf/events_derived.go
  pkg/ebpf/events_enrich.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_processor.go
  pkg/ebpf/filters.go
  pkg/ebpf/net_events.go
  pkg/ebpf/net_proto.go
  pkg/ebpf/net_proto_handlers.go
  pkg/ebpf/tracee.go
  pkg/events/amd64.go
  pkg/events/arm64.go
  pkg/events/capabilities.go
  pkg/events/derive.go
  pkg/events/derive_test.go
  pkg/events/events.go
  pkg/events/parse_args.go
  pkg/events/usermode.go
  pkg/events/usermode_test.go
  tests/integration/integration_test.go
Labels: tracee-ebpf, refactor, PR/needs-review

#1840 enrichment: remove leading slash from docker container names
  pkg/containers/runtime/docker.go
Labels: bug

#1827 docs: add nix/nixos install details
  docs/install/distros/nix-nixos.md
  mkdocs.yml
Labels: PR/changes-requested

#1812 feat: add Helm chart to install Tracee with Postee
  .github/workflows/publish-helm.yaml
  .gitignore
  RELEASING.md
  Vagrantfile
  deploy/helm/tracee/.helmignore
  deploy/helm/tracee/Chart.lock
  deploy/helm/tracee/Chart.yaml
  deploy/helm/tracee/templates/NOTES.txt
  deploy/helm/tracee/templates/_helpers.tpl
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/templates/serviceaccount.yaml
  deploy/helm/tracee/values.yaml
  docs/install/kubernetes.md
  docs/tutorials/setup-development-machine-with-vagrant.md
Labels: PR/needs-review

#1822 Refactor/derived events package
  pkg/ebpf/events_derived.go
  pkg/ebpf/events_enrich.go
  pkg/ebpf/events_processor.go
  pkg/events/derive.go
  pkg/events/derive/container_create.go
  pkg/events/derive/container_removed.go
  pkg/events/derive/derive.go
  pkg/events/derive/derive_test.go
  pkg/events/derive/detect_hooked_syscall.go
  pkg/events/derive/hooked_seq_ops.go
  pkg/events/derive/net_packet.go
  pkg/events/derive_test.go
  pkg/events/events.go
  pkg/events/parse/params.go
  pkg/utils/utils.go
Labels: tracee-ebpf, refactor, PR/needs-review

#1848 One config value
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/tracee.go
Labels: PR/approved

#1851 tracee-ebpf: define map size per each map
  pkg/ebpf/c/tracee.bpf.c
Labels: PR/approved

#1853 Bugfix: pkg/events/derive: add support to no derivation
  pkg/events/derive/derive.go
  pkg/events/derive/derive_test.go
Labels: bug, PR/needs-review

#1878 signatures: fix runc false-positive on TRC-11
  signatures/rego/disk_mount.rego
  signatures/rego/disk_mount_test.rego
Labels: PR/fix

#1841 pkg/ebpf: add syscall pathname to security_file_open
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/events.go
Labels: tracee-ebpf, PR/needs-review

#1889 pkg/ebpf: add inode mode to sched_process_exec args
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/events.go
Labels: PR/research, PR/needs-review

#1869 DNS events: export DNS struct
  cmd/tracee-ebpf/internal/printer/printer.go
  cmd/tracee-rules/input.go
  pkg/ebpf/net_proto_handlers.go
  pkg/events/events.go
  types/trace/network_trace.go
Labels: PR/needs-review, PR/fix

#1859 pkg/ebpf: new security_socket_setsockopt event
  docs/events/lsm_hooks/security_socket_setsockopt.md
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
  pkg/events/parse_args.go
Labels: tracee-ebpf, PR/research, PR/needs-review

#1766 tracee-rules: introduce CEL signatures
  Vagrantfile
  cmd/tracee-rules/main.go
  cmd/tracee-rules/signature.go
  deploy/helm/tracee/Chart.lock
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
  go.mod
  go.sum
  pkg/rules/celsig/config.go
  pkg/rules/celsig/config_test.go
  pkg/rules/celsig/library.go
  pkg/rules/celsig/library_test.go
  pkg/rules/celsig/signature.go
  pkg/rules/celsig/signature_test.go
  pkg/rules/celsig/testdata/rules/anti_debugging_ptraceme.yml
  pkg/rules/celsig/testdata/rules/signatures.yaml
  pkg/rules/celsig/wrapper/event.pb.go
  pkg/rules/celsig/wrapper/event.proto
  pkg/rules/celsig/wrapper/wrapper.go
  pkg/rules/celsig/wrapper/wrapper_test.go
  pkg/rules/regosig/testdata/anti_debugging_ptraceme.rego
  pkg/rules/regosig/testdata/fileless_execution.rego
  pkg/rules/regosig/testdata/helpers.rego
  pkg/rules/regosig/testdata/illegitimate_shell.rego
  pkg/rules/regosig/testdata/sockaddr.rego
  pkg/rules/regosig/traceerego_test.go
Labels: PR/POC, PR/needs-review

#1895 Bugfix: pkg/ebpf: fix non-CORE SYS_SETSOCKOPT redefinition warning
  pkg/ebpf/c/tracee.bpf.c
Labels: bug, tracee-ebpf, PR/needs-review, PR/bug-fix
