Repository aquasecurity/tracee, pull requests merged in 2022-09, with the labels that each got.

#2151 add file_operations hooking signature
  signatures/rego/proc_fops_hooking.rego
  signatures/rego/proc_fops_hooking_test.rego
Labels: signatures

#2166 [FIX] events: add execve and execveat to security_file_open syscalls
  pkg/ebpf/tracee_test.go
  pkg/events/events.go
Labels: bug, PR/approved, PR/needs-review

#2163 Remove net debug
  pkg/bufferdecoder/net_decoder.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/net_events.go
  pkg/ebpf/tracee.go
  pkg/events/events.go
Labels: networking

#2194 refactor: clean up tracee-rules/main.go
  cmd/tracee-rules/main.go
  cmd/tracee-rules/main_test.go
Labels: PR/approved

#2110 log: introduce simple logger package
  cmd/tracee-ebpf/main.go
  cmd/tracee-rules/main.go
  go.mod
  go.sum
  pkg/logger/logger.go
Labels: feature, refactor, PR/needs-review
