Repository aquasecurity/tracee, pull requests merged in 2022-08, with the labels that each got.

#2017 recomission integration tests
  .github/actions/build-dependencies/action.yaml
  .github/workflows/pr.yaml
  Makefile
  pkg/ebpf/tracee.go
  tests/integration/integration_test.go
  tests/integration/tracee.go
Labels: testing

#1985 tracee-bench: benchmark tracee's performance through prometheus
  Makefile
  cmd/tracee-bench/main.go
  cmd/tracee-bench/main_test.go
  cmd/tracee-bench/prometheus.sh
  cmd/tracee-bench/prometheus.yml
  cmd/tracee-bench/readme.md
  go.mod
  go.sum
Labels: performance, feature

#2064 Add daily tests workflow and respective badge
  .github/workflows/test-daily.yaml
  Makefile
  Readme.md
  tests/libbpfgo.sh
Labels: documentation, testing

#2084 enrich: add queue cleaner goroutine
  pkg/ebpf/events_enrich.go
Labels: PR/approved

#2069 trigger: move event triggering logic out of derive
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
  pkg/events/derive/container_create.go
  pkg/events/derive/container_remove.go
  pkg/events/derive/derive.go
  pkg/events/derive/derive_test.go
  pkg/events/derive/detect_hooked_syscall.go
  pkg/events/derive/hooked_seq_ops.go
  pkg/events/derive/net_packet.go
  pkg/events/derive/symbols_loaded.go
  pkg/events/derive/trigger.go
  pkg/events/events.go
  pkg/events/trigger/context.go
  pkg/events/trigger/context_test.go
  pkg/events/trigger/errors.go
Labels: refactor, PR/approved

#2090 trigger: fix context apply
  pkg/ebpf/events_processor.go
  pkg/events/trigger/context_test.go
Labels: PR/approved

#2111 feat(deps): Bump up Postee Helm chart version.
  deploy/helm/tracee/Chart.yaml
Labels: UX

#2080 ebpf: optimize SysEnter and SysExit probes
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/events.go
Labels: tracee-ebpf, performance, refactor, PR/needs-review
