Repository aquasecurity/tracee, pull requests merged in 2023-01, with the labels that each got.

#2535 trace: add types of HTTP events
  types/trace/network_trace.go
Labels: kind/feature, area/network, milestone/next

#2548 tracee-rules: use logger instead of Printf
  cmd/tracee-rules/main.go
Labels: kind/feature

#2540 ebpf: change thread start time to be since epoch
  pkg/ebpf/events_pipeline.go
Labels: kind/bug, area/ebpf

#2470 pkg/ebpf: create `do_mmap` event
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
  pkg/events/parse_args.go
Labels: area/ebpf, kind/feature, area/events, milestone/next

#2549 cmd/tracee: fix event channel go routine order
  pkg/cmd/tracee.go
Labels: kind/bug, area/events

#2537 Store event data in a map
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/chore, milestone/next

#2517 filters: expand binary filter to support mount ns
  docs/docs/tracing/event-filtering.md
  pkg/cmd/flags/filter.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/filters.go
  pkg/filters/binary.go
  pkg/filters/errors.go
  pkg/utils/proc/ns.go
Labels: area/ebpf, kind/feature, milestone/next, area/filtering

#2514 pipeline: change event processing to be map based
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, kind/chore, milestone/next

#2506 modifying webhook in tracee Helm Chart
  deploy/helm/tracee/Chart.lock
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
Labels: area/UX, area/kubernetes, kind/chore, milestone/next

#2554 docs: remove outdated video from Readme
  Readme.md
Labels: kind/documentation, milestone/next

#2557 chore: add go signatures to the tar release
  builder/Makefile.release
Labels: kind/chore, milestone/next, area/release

#2550 tracee: refactor signals done channel
  cmd/tracee-ebpf/main.go
  cmd/tracee-rules/main.go
  cmd/tracee/main.go
  pkg/cmd/tracee.go
  pkg/ebpf/rule_engine.go
  pkg/rules/benchmark/benchmark_test.go
  pkg/rules/engine/engine.go
  pkg/rules/engine/engine_test.go
Labels: area/rules, kind/chore, milestone/next

#2547 network: add cgroup based pcap capture code
  docs/docs/capturing/index.md
  pkg/bufferdecoder/eventsreader.go
  pkg/cmd/flags/capture.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/net_capture.go
  pkg/ebpf/tracee.go
  pkg/events/derive/net_packet_icmp.go
  pkg/events/derive/net_packet_icmpv6.go
  pkg/events/derive/net_packet_ipv4.go
  pkg/events/derive/net_packet_ipv6.go
  pkg/events/derive/net_packet_tcp.go
  pkg/events/derive/net_packet_udp.go
  pkg/events/events.go
  pkg/metrics/stats.go
  pkg/pcaps/cache.go
  pkg/pcaps/common.go
  pkg/pcaps/pcap.go
  pkg/pcaps/pcaps.go
  pkg/utils/utils.go
Labels: kind/feature, area/network, milestone/next

#2565 types/trace: add kernel read type
  types/trace/trace.go
Labels: area/ebpf, area/events, milestone/next

#2574 add e2e test for http events
  signatures/helpers/helpers.go
  tests/e2e-net-rules/e2e-http.go
  tests/e2e-net-rules/export.go
  tests/e2e-net-rules/scripts/http.sh
Labels: area/ebpf, area/testing, area/network, kind/chore, area/events, milestone/next

#2513 commends: add new comments about packet formats.
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/documentation, kind/chore, milestone/next

#2483 events: add print_mem_dump event
  pkg/ebpf/bpf_log.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_processor.go
  pkg/ebpf/ksymbols.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
  pkg/events/events.go
  pkg/filters/args.go
Labels: area/ebpf, kind/feature, area/events, milestone/next

#2581 ebpf: turn has_prefix() to macro using compound expr
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf, area/co-re, milestone/next

#2584 enrich: fix remove and create ordering
  pkg/ebpf/events_enrich.go
Labels: area/kubernetes, area/events, milestone/next

#2575 events: always detect originated syscall
  docs/contributing/events/kprobes/kallsyms_lookup_name.md
  docs/docs/deep-dive/caching-events.md
  docs/docs/deep-dive/ordering-events.md
  docs/docs/deep-dive/performance.md
  docs/docs/detecting/go-cel.md
  docs/docs/detecting/golang.md
  docs/docs/detecting/index.md
  docs/docs/detecting/rego.md
  docs/docs/tracing/output-formats.md
  docs/docs/tracing/output-options.md
  pkg/cmd/flags/flags_test.go
  pkg/cmd/flags/output.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/tracee.go
  tests/e2e-net-test.sh
  tests/integration/tracee.go
  tests/kerneltest.sh
Labels: area/ebpf, area/UX, area/events, milestone/next

#2601 network: remove leftovers from previous code
  pkg/cmd/flags/filter.go
  pkg/ebpf/filters.go
  pkg/ebpf/tracee.go
  pkg/events/derive/net_packet_helpers.go
  pkg/events/events.go
  types/trace/network_trace.go
Labels: area/network, kind/chore, milestone/next

#2602 containers: register DockerEnricher for podman
  docs/docs/integrating/container-engines.md
  pkg/cmd/flags/containers.go
  pkg/containers/containers.go
Labels: area/kubernetes

#2580 rules: raise privileges when needed if user root
  cmd/tracee-rules/input.go
  cmd/tracee-rules/main.go
  pkg/rules/celsig/config.go
  pkg/rules/signature/signature.go
Labels: kind/bug, area/rules, area/signatures, milestone/next

#2605 network: uncomment e2e network tests config script
  tests/e2e-net-test.sh
Labels: area/network, kind/chore, milestone/next

#2321 pkg/ebpf: add vfs_read and vfs_readv events
  docs/contributing/events/kprobes/vfs_read.md
  docs/contributing/events/kprobes/vfs_readv.md
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
Labels: area/ebpf, kind/feature, area/events, milestone/next

#2604 network: pcap default cap mode to a single file
  docs/docs/capturing/index.md
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/flags_test.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/net_capture.go
  pkg/pcaps/common.go
  pkg/pcaps/pcap.go
  pkg/pcaps/pcaps.go
Labels: area/network, kind/chore, milestone/next

#2609 chore: add MatchedScopes to Event
  types/trace/trace.go
Labels: milestone/next

#2616 ebpf: fix progs from kthread ctx might preempt work
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf, milestone/next

#2621 network: adjust capturing packets in many fronts
  docs/docs/capturing/index.md
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/flags_test.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/net_capture.go
  pkg/ebpf/tracee.go
  pkg/pcaps/pcaps.go
Labels: area/UX, kind/feature, area/network, milestone/next

#2627 docs: fix Makefile help rule (--log debug)
  builder/Makefile.tracee-container
Labels: kind/documentation, milestone/next

#2628 docs: introduce scopes documentation
  docs/docs/tracing/event-filtering.md
  docs/docs/tracing/scopes.md
  mkdocs.yml
Labels: kind/documentation, milestone/next, area/filtering

#2630 packages: update distro packaging files
  .github/workflows/test-os-packaging-daily.yaml
  .gitignore
  builder/Makefile.packaging
  docs/contributing/building/packaging.md
  packaging/Dockerfile.ubuntu-packaging
  packaging/fedora/tracee.spec
  packaging/ubuntu/control
  packaging/ubuntu/rules
Labels: area/UX, kind/chore, milestone/next

#2551 tracee: add event derivation registering
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
  pkg/events/derive/container_create.go
  pkg/events/derive/container_remove.go
  pkg/events/derive/derive.go
  pkg/events/derive/derive_test.go
  pkg/events/derive/detect_hooked_syscall.go
  pkg/events/derive/errors.go
  pkg/events/derive/hooked_seq_ops.go
  pkg/events/derive/net_packet_dns.go
  pkg/events/derive/net_packet_http.go
  pkg/events/derive/net_packet_icmp.go
  pkg/events/derive/net_packet_icmpv6.go
  pkg/events/derive/net_packet_ipv4.go
  pkg/events/derive/net_packet_ipv6.go
  pkg/events/derive/net_packet_tcp.go
  pkg/events/derive/net_packet_udp.go
  pkg/events/derive/symbols_loaded.go
Labels: area/ebpf, kind/chore, area/events, milestone/next

#2634 cli: fix: event list table header alignment
  pkg/cmd/tracee.go
Labels: milestone/next

#2639 docs: cli: general fixes and cosmetics
  RELEASING.md
  docs/docs/capturing/index.md
  docs/docs/tracing/event-filtering.md
  pkg/cmd/flags/capabilities.go
  pkg/cmd/flags/filter.go
Labels: kind/documentation, kind/chore, milestone/next

#2632 Feature/types event syscall
  types/trace/trace.go
Labels: milestone/next

#2642 fix: doc: mscope: examples
  docs/docs/tracing/scopes.md
Labels: kind/documentation, kind/chore, milestone/next, area/filtering

#2636 chore: new default set of events
  pkg/events/events.go
Labels: kind/chore, area/events, milestone/next

#2644 ebpf: set context seq ops scopes to always on
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/trigger/context.go
Labels: kind/bug, area/events, area/filtering

#2645 chore: fix: default set container conflict
  pkg/events/events.go
Labels: kind/bug, kind/chore, area/events

#2646 ebpf: initialize scopes in trigger events
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/events, area/filtering

#2650 chore: remove mount dup from default evts
  pkg/events/events.go
Labels: kind/chore, area/events

#2591 Feature/add originated syscall to all events
  cmd/tracee-rules/output_test.go
  docs/contributing/events/kprobes/kallsyms_lookup_name.md
  docs/docs/capturing/index.md
  docs/docs/deep-dive/caching-events.md
  docs/docs/tracing/event-filtering.md
  docs/docs/tracing/network-events.md
  docs/docs/tracing/output-formats.md
  docs/docs/tracing/output-options.md
  docs/tutorials/everything-is-an-event.md
  docs/tutorials/setup-development-machine-with-vagrant.md
  go.mod
  go.sum
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/protocol.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_pipeline.go
  pkg/events/events.go
  pkg/events/parse_args.go
  pkg/filters/args.go
  pkg/filters/context.go
  tests/integration/integration_test.go
Labels: area/ebpf, kind/feature, area/events, milestone/next
