Repository aquasecurity/tracee, pull requests merged in 2023-02, with the labels that each got.

#2667 fix: filters: uint can't be less than 0
  pkg/filters/uint.go
Labels: kind/bug, area/UX, milestone/next, area/filtering

#2545 ebpf: split code
  Makefile
  builder/Makefile.checkers
  pkg/ebpf/c/common/arch.h
  pkg/ebpf/c/common/arguments.h
  pkg/ebpf/c/common/binprm.h
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/common/cgroups.h
  pkg/ebpf/c/common/common.h
  pkg/ebpf/c/common/consts.h
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/c/common/kconfig.h
  pkg/ebpf/c/common/ksymbols.h
  pkg/ebpf/c/common/logging.h
  pkg/ebpf/c/common/memory.h
  pkg/ebpf/c/common/namespaces.h
  pkg/ebpf/c/common/network.h
  pkg/ebpf/c/common/probes.h
  pkg/ebpf/c/common/task.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/missing_noncore_definitions.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
Labels: area/ebpf, area/co-re, kind/chore, milestone/next

#2668 fix: tests: TestInitNamespacesEvent to integration
  pkg/events/usermode_test.go
  tests/integration/integration_test.go
Labels: kind/bug, area/testing, milestone/next

#2672 docs: update required docker flags
  docs/getting-started/installing/prerequisites.md
Labels: kind/documentation, milestone/next

#2682 packaging: fix os packaging
  .github/workflows/test-os-packaging-daily.yaml
  builder/Makefile.packaging
  docs/contributing/building/packaging.md
  packaging/Dockerfile.fedora-packaging
  packaging/Dockerfile.ubuntu-packaging
Labels: area/UX, kind/chore, milestone/next

#2689 network: default to capturing all network traffic
  docs/docs/capturing/index.md
  pkg/cmd/flags/capture.go
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/tracee.go
  pkg/pcaps/common.go
  pkg/pcaps/pcap.go
  pkg/pcaps/pcaps.go
Labels: area/network, kind/chore

#2696 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/chore

#2701 metrics: remove old net event stats
  docs/docs/tracing/output-formats.md
  pkg/metrics/stats.go
Labels: area/UX, kind/chore, milestone/next

#2704 fix: change log flag to be a string slice
  cmd/tracee-ebpf/main.go
Labels: kind/bug, area/UX

#2707 btfhub: sync new kernels recently added
  3rdparty/btfhub.sh
Labels: kind/chore, milestone/next, area/build

#2706 pipeline: fix multiple derived events logic
  pkg/ebpf/events_pipeline.go
Labels: kind/bug, area/events, milestone/next

#2673 feat: add more info to logger debug level
  pkg/logger/logger.go
Labels: kind/feature, milestone/next

#2703 chore: generate k8s statics
  RELEASING.md
  deploy/kubernetes/kustomize/base/kustomization.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/kustomize/falcosidekick/kustomization.yaml
  deploy/kubernetes/kustomize/postee/kustomization.yaml
  deploy/kubernetes/tracee-falcosidekick/kustomization.yaml
  deploy/kubernetes/tracee-falcosidekick/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
  deploy/kubernetes/update-static.sh
Labels: area/kubernetes, milestone/v0.12.0

#2720 tracee: fix filters
  cmd/tracee/main.go
  cmd/tracee/main_test.go
Labels: milestone/v0.12.0

#2729 flags: remove cache-events from output help
  pkg/cmd/flags/output.go
Labels: milestone/v0.12.0

#2726 swap uint and containers equality order
  pkg/filters/containers.go
  pkg/filters/string.go
  pkg/filters/uint.go
Labels: kind/bug, milestone/v0.12.0, area/filtering

#2719 types: upgrade go-yaml
  types/go.mod
  types/go.sum
Labels: milestone/v0.12.0

#2560 ebpf: add prog_override_return arg to bpf_attach
  docs/contributing/events/security_alerts/bpf_attach.md
  pkg/ebpf/c/missing_definitions.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/events/events.go
  pkg/events/parse_args.go
Labels: area/ebpf, area/events, milestone/v0.12.0

#2738 filterscopes: create a filterscopes pkg
  pkg/cmd/flags/filter.go
  pkg/cmd/flags/flags_test.go
  pkg/ebpf/tracee.go
  pkg/filterscope/errors.go
  pkg/filterscope/filterscope.go
  pkg/filterscope/filterscopes.go
Labels: kind/chore, milestone/v0.12.0, area/filtering

#2737 log when not a container cgroup instead of err
  pkg/ebpf/events_processor.go
Labels: kind/bug, area/events, milestone/v0.12.0

#2607 sign container images with cosign
  .github/workflows/release.yaml
  builder/Makefile.release
Labels: kind/chore, milestone/v0.12.0, area/build

#2742 trace: add hidden kernel module struct
  types/trace/trace.go
Labels: kind/feature, area/events, milestone/v0.12.0

#2712 events: print seconds of timespec
  pkg/bufferdecoder/eventsreader.go
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
Labels: area/ebpf, area/events

#2755 ebpf: save_args_to_submit_buf minor format change
  pkg/ebpf/c/common/buffer.h
Labels: kind/chore, milestone/v0.12.0

#2752 types: add event metadata
  types/trace/trace.go
Labels: area/events, milestone/v0.12.0

#2690 events: add vfs_utimes event
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
Labels: area/ebpf, area/events, milestone/v0.12.0

#2764 chore (tests): add e2e instrumentation tests
  .github/workflows/pr.yaml
  Makefile
  tests/e2e-instrumentation-signatures/e2e-vfs_write.go
  tests/e2e-instrumentation-signatures/export.go
  tests/e2e-instrumentation-signatures/scripts/vfs_write.sh
  tests/e2e-instrumentation-test.sh
Labels: area/testing, kind/chore, milestone/v0.12.0

#2749 feat: add do_truncate event
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
Labels: kind/feature, area/events, milestone/v0.12.0

#2713 tracee: fix args on signatures events
  pkg/ebpf/finding.go
  pkg/ebpf/finding_test.go
  pkg/ebpf/signature_engine.go
  pkg/events/events.go
  pkg/filters/args.go
Labels: milestone/v0.12.0

#2768 tests: fix integration pkg race conditions
  pkg/ebpf/tracee.go
  tests/integration/integration_test.go
  tests/integration/tracee.go
Labels: kind/bug, area/testing, milestone/v0.12.0

#2776 workflow: move runners to jenkins
  .github/workflows/pr.yaml
Labels: area/testing, milestone/v0.12.0, area/build

#2767 flags: cli: docs: rename trace flag to filter
  RELEASING.md
  builder/Makefile.tracee-container
  builder/entrypoint.sh
  cmd/tracee-ebpf/main.go
  cmd/tracee/main.go
  deploy/helm/tracee/templates/daemonset.yaml
  docs/contributing/building/environment.md
  docs/contributing/building/nocore-ebpf.md
  docs/contributing/events/kprobes/kallsyms_lookup_name.md
  docs/contributing/events/security_alerts/bpf_attach.md
  docs/contributing/events/security_alerts/symbols_collision.md
  docs/contributing/events/security_alerts/symbols_loaded.md
  docs/docs/capturing/index.md
  docs/docs/deep-dive/override-os-files.md
  docs/docs/detecting/go-cel.md
  docs/docs/detecting/golang.md
  docs/docs/detecting/index.md
  docs/docs/detecting/rego.md
  docs/docs/integrating/container-engines.md
  docs/docs/tracing/event-filtering.md
  docs/docs/tracing/network-events.md
  docs/docs/tracing/output-formats.md
  docs/docs/tracing/output-options.md
  docs/docs/tracing/scopes.md
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/filter.go
  pkg/cmd/flags/help.go
  pkg/cmd/urfave/urfave.go
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
  pkg/signatures/benchmark/README.md
  tests/e2e-instrumentation-test.sh
  tests/e2e-net-test.sh
  tests/kerneltest.sh
Labels: kind/documentation, area/UX, kind/chore, milestone/v0.12.0, area/filtering

#2779 signatures: load sigs as default events
  cmd/tracee/main.go
  cmd/tracee/main_test.go
Labels: milestone/v0.12.0

#2777 tracee: make it the default binary
  builder/entrypoint.sh
Labels: milestone/v0.12.0
