Repository aquasecurity/tracee, pull requests merged in 2023-07, with the labels that each got.

#3281 fix: signature event not triggering if base filtered
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
  pkg/events/events.go
  pkg/filters/args.go
Labels: area/ebpf, area/events, area/filtering, milestone/v0.17.0

#3297 pipeline memory efficiency using pool
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_pipeline_bench_test.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/testing, kind/chore

#3298 events: update syscall_pathname for security_file_open
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, area/events

#3311 pkg/containers: fix deadlock
  pkg/containers/containers.go
Labels: backport/v0.16.0

#3316 chore: bump k8s tag to 0.16.1
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, backport/v0.16.0

#3319 [v0.16.0] chore: bump k8s tag to 0.16.1
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3317 docs: updating link to tracee docs for search results
  cmd/tracee-rules/readme.md
Labels: kind/documentation, area/UX

#3314 feature: remove policy actions
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/events/overview.md
  docs/docs/policies/actions.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/tutorials/k8s-policies.md
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/dig.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
  mkdocs.yml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/cobra/helper.go
  pkg/cmd/cobra/helper_test.go
  pkg/cmd/printer/benchmarks/printer_test.go
  pkg/cmd/printer/policy.go
  pkg/policy/policy_file.go
  pkg/policy/policy_file_test.go
Labels: kind/documentation, area/testing, area/UX, area/kubernetes, milestone/v0.17.0

#3325 fix (cgroups): already dead edge case
  pkg/cgroup/cgroup.go
  pkg/containers/containers.go
  pkg/ebpf/controlplane/controller.go
Labels: area/ebpf, milestone/v0.17.0

#3326 [v0.16.0] backport: dead cgroups fix
  pkg/cgroup/cgroup.go
  pkg/containers/containers.go
  pkg/ebpf/controlplane/controller.go
Labels: area/ebpf, backport/v0.16.0

#3331 chore bump 0.16.2
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3332 [v0.16.0] chore: bump k8s tag to 0.16.2
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, backport/v0.16.0

#3330 feature(k8s): policy k8s compatible
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/events/overview.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/tutorials/k8s-policies.md
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/dig.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
  pkg/cmd/cobra/helper.go
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
  pkg/policy/policy_file_test.go
  pkg/policy/v1beta1/policy_file.go
  pkg/policy/v1beta1/policy_file_test.go
  tests/integration/event_filters_test.go
Labels: kind/documentation, area/testing, area/UX, area/kubernetes, area/flags, milestone/v0.17.0

#3337 fix(ebpf): size of mntns/pidns filters key holders
  pkg/ebpf/c/common/filtering.h
  tests/integration/event_filters_test.go
  tests/integration/tracee.go
Labels: area/ebpf, area/testing, milestone/v0.17.0

#3338 [v0.17.0] fix(ebpf): size of mntns/pidns filters key holders (#3337)
  pkg/ebpf/c/common/filtering.h
  tests/integration/event_filters_test.go
  tests/integration/tracee.go
Labels: area/ebpf, area/testing

#3335 fix: validate policy names are rfc 1123
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/events/overview.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/tutorials/k8s-policies.md
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
  go.mod
  pkg/cmd/flags/policy_test.go
  pkg/policy/v1beta1/policy_file.go
  pkg/policy/v1beta1/policy_file_test.go
  tests/integration/event_filters_test.go
Labels: kind/documentation, area/testing, area/UX, area/kubernetes, area/build, area/flags, milestone/v0.17.0

#3344 [v0.17.0] fix: validate policy names are rfc 1123 (#3335)
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/events/overview.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/tutorials/k8s-policies.md
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
  go.mod
  pkg/cmd/flags/policy_test.go
  pkg/policy/v1beta1/policy_file.go
  pkg/policy/v1beta1/policy_file_test.go
  tests/integration/event_filters_test.go
Labels: kind/documentation, area/testing, area/UX, area/kubernetes, area/build, area/flags

#3321 remove help command, create flags markdown docs
  cmd/tracee-ebpf/main.go
  cmd/tracee/cmd/analyze.go
  cmd/tracee/cmd/list.go
  cmd/tracee/cmd/root.go
  docs/docs/deep-dive/caching-events.md
  docs/docs/deep-dive/dropping-capabilities.md
  docs/docs/flags/cache.md
  docs/docs/flags/capabilities.md
  docs/docs/flags/capture.md
  docs/docs/flags/config.md
  docs/docs/flags/containers.md
  docs/docs/flags/events.md
  docs/docs/flags/log.md
  docs/docs/flags/output.md
  docs/docs/flags/rego.md
  docs/docs/flags/scope.md
  docs/docs/forensics/index.md
  docs/docs/outputs/output-formats.md
  docs/docs/outputs/output-options.md
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/help.go
  pkg/cmd/flags/logger.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/rego.go
  pkg/cmd/flags/tracee_ebpf_output.go
Labels: kind/bug, kind/documentation, area/UX, area/flags, backport/v0.17.0

#3342 fix: data source registration after NewEngine
  cmd/tracee-rules/main.go
  pkg/ebpf/signature_engine.go
  pkg/signatures/engine/engine.go
  pkg/signatures/engine/engine_test.go
Labels: area/ebpf, area/signatures, area/testing, area/UX, backport/v0.17.0

#3346 [v0.17.0] chore (engine): split Init from NewEngine (#3342)
  cmd/tracee-rules/main.go
  pkg/ebpf/signature_engine.go
  pkg/signatures/engine/engine.go
  pkg/signatures/engine/engine_test.go
Labels: kind/bug, area/ebpf, area/signatures, area/testing, area/UX

#3349 fix(build): btfhub's bpftool in alpine container
  builder/Dockerfile.alpine-tracee-container
Labels: kind/bug, area/build

#3350 fix(build): btfhub's bpftool in alpine container (#3349)
  builder/Dockerfile.alpine-tracee-container
Labels: area/build

#3348 chore(build): add LOGFROM flag to check-pr rule
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
Labels: kind/chore, area/build, milestone/v0.18.0

#3351 chore(build): change check-pr output format
  Makefile
Labels: area/build, milestone/v0.18.0
