Repository aquasecurity/tracee, pull requests merged in 2023-04, with the labels that each got.

#2958 workflows: make release like the snapshot logic
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
  builder/Makefile.release
Labels: area/build

#2959 release: fix release_notes.txt placement
  .github/workflows/release.yaml
  .gitignore
  builder/Makefile.release
Labels: area/build

#2960 release: create tgz at the end because of cleans
  builder/Makefile.release
Labels: area/build

#2962 release: re-enable BTFHUB before release
  builder/Makefile.release
Labels: area/build

#2964 events: fix return value of process_execute_failed event
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#2976 docs: add bpf capture documentation
  docs/docs/forensics/index.md
Labels: kind/documentation

#2977 docs: fix logging documentation
  docs/docs/outputs/logging.md
  docs/docs/outputs/output-formats.md
  mkdocs.yml
Labels: kind/documentation

#2983 k8s: bump tag to 0.13.1
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#2984 sig: engine: copy event before engine processing
  pkg/ebpf/signature_engine.go
Labels: kind/bug, area/ebpf

#2985 fix: strip v from docker images tags
  .github/workflows/release.yaml
Labels: area/build

#2986 temporary: adjust github image tags for latest releases
  .github/workflows/release-temporary.yaml
Labels: area/build

#2987 temporary: typo fix for arm64 release tag
  .github/workflows/release-temporary.yaml
Labels: area/build

#2988 temporary: remove temporary workflow that fixed docker tags
  .github/workflows/release-temporary.yaml
Labels: area/build

#2937 feat: support unmarshalling trace types
  types/trace/trace.go
Labels: milestone/v0.14.0

#2981 chore: bump postee to 2.9.0
  deploy/helm/tracee/Chart.lock
  deploy/helm/tracee/Chart.yaml
Labels: area/kubernetes, milestone/v0.14.0

#2997 docs: remove tracee-action metion
  Readme.md
Labels: kind/documentation

#2999 Enable a Debug Shell for Test Runners
  .github/workflows/debug-shell.yaml
  tests/remotessh.sh
Labels: area/testing, area/build

#3005 workflow: raise timeout limit for debug shell jobs
  .github/workflows/debug-shell.yaml
Labels: area/build

#2996 feat: unmarshall trace types correctly
  types/trace/trace.go
Labels: kind/feature, milestone/v0.14.0, area/types

#3009 feat: use new types in signatures
  go.mod
  go.sum
  signatures/helpers/helpers.go
Labels: area/signatures, area/build

#3012 types: update tracee to use latest types
  go.mod
  go.sum
Labels: area/build

#3002 fix multiple symbols prints bug
  pkg/ebpf/tracee.go
Labels: kind/bug, area/ebpf, area/uprobe, milestone/v0.14.0
