Repository aquasecurity/tracee, pull requests merged in 2023-12, with the labels that each got.

#3723 chore(ci): bump changed-files to v40.2.0
  .github/workflows/pr.yaml
Labels: kind/chore, area/build, milestone/v0.20.0

#3733 bugfix(ebpf): avoid errors upon hash calc fail
  pkg/containers/path_resolver.go
  pkg/ebpf/processor_funcs.go
Labels: area/ebpf

#3724 fix: webhook template should support sprig funcs
  pkg/cmd/printer/printer.go
Labels: area/UX

#3728 feature: add ctime to containers data source
  pkg/containers/datasource.go
Labels: kind/feature, milestone/v0.20.0

#3740 chore(release): use go1.20 for releasing
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
Labels: area/build

#3744 fix(release): tracee-container alpine version to 3.18
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
Labels: area/build

#3749 chore: refer to man pages
  docs/docs/advanced/caching-events.md
  docs/docs/advanced/dropping-capabilities.md
  docs/docs/advanced/forensics.md
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/logger.go
  pkg/cmd/flags/output.go
Labels: kind/documentation, area/UX, kind/chore, area/flags, milestone/v0.20.0

#3761 feature(api): add data source grpc service
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource.proto
  api/v1beta1/datasource_grpc.pb.go
  api/v1beta1/event.pb.go
  api/v1beta1/event_data.pb.go
  api/v1beta1/tracee.pb.go
Labels: milestone/v0.20.0

#3762 chore(api): fix typo
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource.proto
  api/v1beta1/datasource_grpc.pb.go
Labels: kind/chore, milestone/v0.20.0

#3764 chore(makefile): fix doube-quoted version string
  Makefile
Labels: area/build

#3766 feat(ebpf): optimize sendmsg/recvmsg kprobes
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, area/performance, milestone/v0.20.0

#3770 fix(network): fix http request/response events
  pkg/events/derive/net_packet.go
Labels: area/events

#3769 fix(ebpf): adjust inode struct to kernel v6.6
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/c/vmlinux_flavors.h
Labels: kind/bug, area/ebpf, milestone/v0.20.0

#3763 feat(types): improve datasource write api
  types/detect/detect.go
Labels: kind/feature, milestone/v0.20.0, area/datasources

#3775 fix: create pid file under install-path
  pkg/cmd/cobra/cobra.go
  pkg/cmd/tracee.go
  pkg/cmd/urfave/urfave.go
  tests/e2e-inst-test.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
Labels: kind/bug, area/testing, area/UX, milestone/v0.20.0

#3743 feature: add signature name to event definition
  go.mod
  go.sum
  pkg/cmd/initialize/sigs.go
  pkg/cmd/initialize/sigs_test.go
  pkg/ebpf/finding_test.go
  pkg/events/definition.go
  pkg/events/definition_group_test.go
  pkg/events/definition_test.go
  pkg/events/derive/derive_test.go
  pkg/policy/v1beta1/policy_file_test.go
  pkg/server/grpc/tracee.go
Labels: area/ebpf, area/testing, area/UX, area/events, area/build

#3777 Fix dynamic data arguments
  go.mod
  go.sum
  pkg/server/grpc/event_data.go
Labels: area/build

#3780 chore(derive/http): change log level when packets are malformed
  pkg/events/derive/net_packet.go
Labels: kind/chore, area/events, area/logging, milestone/v0.20.0
