Repository aquasecurity/tracee, pull requests merged in 2023-06, with the labels that each got.

#3189 events: fix hidden_kernel_module trigger time
  pkg/ebpf/hidden_kernel_module.go
Labels: area/ebpf, milestone/v0.15.0

#3192 policy: fix output options
  pkg/cmd/cobra/helper.go
  pkg/cmd/cobra/helper_test.go
Labels: area/testing, area/UX, milestone/v0.15.0

#3187 tracee: fix output configuration via configfile
  pkg/cmd/cobra/cobra.go
Labels: area/UX, milestone/v0.15.0

#3198 ebpf: bitwise should_submit_net_event return
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3204 k8s: bump release tag to 0.15.0
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.15.0

#3206 workflow: fix contents permissions
  .github/workflows/release.yaml
Labels: area/build

#3212 workflow: fix cosign signing
  .github/workflows/release.yaml
Labels: area/build

#2688 make integration tests more robust
  .gitignore
  Makefile
  go.mod
  go.sum
  tests/integration/cpu/cpu.go
  tests/integration/event_filters_test.go
  tests/integration/exec.go
  tests/integration/exec_test.go
  tests/integration/integration_test.go
  tests/integration/syscaller/cmd/syscall.go
  tests/integration/syscaller/cmd/syscall_test.go
  tests/integration/syscaller/cmd/syscaller.go
  tests/integration/tester.sh
  tests/integration/tracee.go
Labels: area/testing, kind/chore, area/build, milestone/v0.15.0

#3220 tests: fix event MatchedPoliciesUser check
  tests/integration/event_filters_test.go
Labels: kind/bug, area/testing

#3221 Create SECURITY.md
  SECURITY.md
Labels: kind/documentation

#3225 ebpf: fix mem_prot_alert anonymous file info
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf, area/events, milestone/v0.16.0

#3215 makefile: add check-pr rule
  Makefile
Labels: kind/chore, area/build, milestone/v0.16.0

#3232 k8s: bump release tag to 0.15.1
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3226 make: set LIBBPFGO_OSRELEASE_FILE default value
  Readme.md
  builder/entrypoint.sh
  docs/docs/integrating/container-engines.md
  docs/getting-started/installing/override-os-files.md
  docs/index.md
  docs/tutorials/deploy-grafana-dashboard.md
Labels: kind/documentation, kind/feature, area/build, milestone/v0.16.0

#3140 chore: migrate to golang-lru v2
  go.mod
  go.sum
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
  pkg/events/derive/hidden_kernel_module.go
  pkg/events/derive/symbols_loaded.go
  pkg/pcaps/cache.go
  pkg/pcaps/common.go
Labels: area/ebpf, area/events, area/build, milestone/v0.16.0

#3236 go.mod: remove types replace
  go.mod
  go.sum
Labels: kind/chore, area/build

#3231 containers: trim mountpoint from stored paths
  pkg/containers/containers.go
Labels: kind/bug, area/kubernetes, milestone/v0.16.0

#3238 docs: remove old trace subcommand
  docs/docs/integrating/container-engines.md
Labels: kind/documentation, kind/chore

#3233 engine: fix panic on waitgroup
  pkg/signatures/engine/engine.go
Labels: area/signatures, milestone/v0.16.0

#3240 ebpf: fix socket_accept event
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/events.go
Labels: kind/bug, area/ebpf, area/events, milestone/v0.16.0

#3244 tracee: skip golang plugin for static binaries
  pkg/signatures/signature/signature.go
Labels: area/signatures, milestone/v0.16.0

#3246 tracee: signatures-dir accept multiple values
  cmd/tracee-rules/main.go
  cmd/tracee/cmd/list.go
  cmd/tracee/cmd/root.go
  docs/docs/events/custom/overview.md
  pkg/cmd/cobra/cobra.go
  pkg/signatures/signature/signature.go
  pkg/signatures/signature/signature_test.go
Labels: area/signatures, kind/documentation, area/testing, area/UX, milestone/v0.16.0

#3136 change hooked_syscalls event so users can specify syscalls to check.
  docs/docs/events/builtin/extra/hooked_syscalls.md
  pkg/bufferdecoder/decoder.go
  pkg/ebpf/c/common/arch.h
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
  pkg/events/amd64.go
  pkg/events/arm64.go
  pkg/events/derive/hooked_syscall.go
  pkg/events/events.go
Labels: area/ebpf, kind/documentation, area/uprobe, kind/feature, area/events, milestone/v0.16.0

#3271 build: remove signing from snapshot
  .github/workflows/release-snapshot.yaml
Labels: area/build, milestone/v0.16.0

#3272 release: bump release tag to 0.16.0
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.16.0

#3270 fix: send init events to pipeline
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
Labels: kind/bug, area/ebpf, milestone/v0.16.0

#3274 fix(pkg/events): fix tailcall dependencies race issues
  pkg/ebpf/tracee.go
  pkg/ebpf/tracee_test.go
  pkg/events/events.go
Labels: area/ebpf, area/testing, area/events, milestone/v0.16.0

#3273 build: remove release on tag push
  .github/workflows/mkdocs-latest.yaml
  .github/workflows/release.yaml
Labels: area/build, milestone/v0.16.0

#3269 chore: move syscaller to dist
  .gitignore
  Makefile
  tests/integration/event_filters_test.go
  tests/integration/integration_test.go
  tests/integration/tracee.go
Labels: area/testing, kind/chore, area/build, milestone/v0.16.0

#3101 tracee: add analyze cmd
  cmd/tracee/cmd/analyze.go
Labels: area/UX, milestone/v0.16.0

#3242 policies: rename list fields to be plural
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/events/overview.md
  docs/docs/policies/actions.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/tutorials/k8s-policies.md
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/dig.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
  pkg/cmd/cobra/helper.go
  pkg/cmd/cobra/helper_test.go
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
  pkg/cmd/printer/benchmarks/printer_test.go
  pkg/cmd/printer/policy.go
  pkg/policy/policy_file.go
  pkg/policy/policy_file_test.go
Labels: kind/documentation, area/testing, area/UX, area/kubernetes, area/flags, milestone/v0.16.0

#3276 fix(pkg/counter): finish making counter atomic
  pkg/counter/counter.go
  pkg/counter/counter_bench_test.go
  pkg/counter/counter_test.go
  pkg/ebpf/bpf_log.go
  pkg/ebpf/capture.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_processor.go
  pkg/ebpf/net_capture.go
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
  pkg/events/trigger/context.go
  pkg/metrics/stats.go
  pkg/signatures/engine/engine.go
  pkg/signatures/engine/engine_test.go
  pkg/signatures/metrics/stats.go
Labels: area/ebpf, area/signatures, area/performance, area/testing, area/events, backport/v0.16.0, milestone/v0.17.0

#3280 fix: derived event not triggering if base filtered
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf, backport/v0.16.0, milestone/v0.17.0

#3287 [v0.16.0] fix: derived event not triggering if base filtered
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf

#3285 enrich: fixes post control plane
  pkg/containers/containers.go
  pkg/containers/datasource.go
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/events_processor.go
Labels: area/ebpf, backport/v0.16.0, milestone/v0.17.0

#3289 fix: enrich post control plane (#3285)
  pkg/containers/containers.go
  pkg/containers/datasource.go
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/events_processor.go
Labels: area/ebpf, backport/v0.16.0

#3292 docs: add analyze documentation
  docs/docs/events/custom/analyze.md
  mkdocs.yml
Labels: kind/documentation

#3291 doc: add tutorial to verify tracee signature
  docs/tutorials/verify-tracee-signature.md
Labels: kind/documentation, milestone/v0.17.0
