Repository aquasecurity/tracee, pull requests merged in 2023-08, with the labels that each got.

#3352 fix(filter): remove unneeded workaround
  pkg/cmd/flags/filter.go
Labels: area/UX, area/flags

#3360 events: adjust hidden kernel module event to v6.4
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/c/vmlinux_flavors.h
Labels: area/ebpf

#3370 fix(config): loading config file
  cmd/tracee/cmd/root.go
Labels: area/UX, backport/v0.17.0

#3371 Update the URL as the old one did not lead to the grafana tutorial an…
  deploy/grafana/README.md
Labels: kind/documentation, area/kubernetes

#3374 chore: bump k8s tags to 0.17.1
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, backport/v0.17.0

#3375 [v0.17.1] fix(config): loading config file
  cmd/tracee/cmd/root.go
Labels: area/UX

#3376 [v0.17.1] chore: bump k8s tags to 0.17.1 (#3374)
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore

#3379 docs: additional resources for the docs
  docs/tutorials/additional-resources.md
  mkdocs.yml
Labels: kind/documentation

#3391 feat: add loggers atomic level
  pkg/cmd/flags/logger.go
  pkg/events/derive/symbols_loaded_test.go
  pkg/logger/logger.go
  pkg/signatures/engine/engine_test.go
Labels: area/signatures, area/testing, area/UX, area/events, area/logging, area/flags

#3390 Add grpc server
  Makefile
  cmd/tracee-ebpf/main.go
  cmd/tracee-rules/main.go
  cmd/tracee/cmd/root.go
  cmd/tracee/cmd/version.go
  go.mod
  go.sum
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/grpc.go
  pkg/cmd/flags/server/server.go
  pkg/cmd/tracee.go
  pkg/cmd/urfave/urfave.go
  pkg/server/grpc/server.go
  pkg/server/grpc/server_test.go
  pkg/server/grpc/tracee.go
  pkg/server/http/server.go
  pkg/server/http/server_test.go
  pkg/version/version.go
Labels: area/testing, area/UX, area/build, area/flags, milestone/v0.18.0

#3393 `--help` flag parsing
  cmd/tracee/cmd/root.go
Labels: kind/bug, area/UX

#3394 Add grpc diagnostic
  go.mod
  go.sum
  pkg/cmd/flags/logger.go
  pkg/cmd/tracee.go
  pkg/logger/logger.go
  pkg/server/grpc/diagnostic.go
  pkg/server/grpc/server.go
  pkg/server/grpc/server_test.go
Labels: area/testing, area/UX, area/build, area/logging, area/flags

#3373 fix: k8s policies tutorial
  docs/tutorials/k8s-policies.md
Labels: kind/documentation

#3343 chore(flags): change scope/event flag parsers
  pkg/cmd/flags/event.go
  pkg/cmd/flags/event_test.go
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/scope.go
  pkg/cmd/flags/scope_test.go
Labels: area/testing, area/UX, kind/chore, area/flags, milestone/v0.18.0

#3414 refactor: getStackAddresses doesn't return an err
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf

#3417 chore(revive): mitigate redundant warning
  cmd/tracee-bench/main.go
Labels: area/UX, kind/chore

#3418 fix: committing typo
  docs/contributing/guidelines.md
Labels: kind/documentation
