Repository aquasecurity/tracee, pull requests merged in 2023-10, with the labels that each got.

#3538 fix(networking): fix net_packet_http errors on empty OK
  pkg/events/derive/net_packet_http.go
Labels: area/events

#3540 docs(network): improve documentation
  docs/docs/events/builtin/network.md
  docs/docs/events/builtin/network/index.md
  docs/docs/events/builtin/network/net_packet_dns.md
  docs/docs/events/builtin/network/net_packet_dns_request.md
  docs/docs/events/builtin/network/net_packet_dns_response.md
  docs/docs/events/builtin/network/net_packet_http.md
  docs/docs/events/builtin/network/net_packet_http_request.md
  docs/docs/events/builtin/network/net_packet_http_response.md
  docs/docs/events/builtin/network/net_packet_icmp.md
  docs/docs/events/builtin/network/net_packet_icmpv6.md
  docs/docs/events/builtin/network/net_packet_ipv4.md
  docs/docs/events/builtin/network/net_packet_ipv6.md
  docs/docs/events/builtin/network/net_packet_tcp.md
  docs/docs/events/builtin/network/net_packet_udp.md
  mkdocs.yml
Labels: kind/documentation

#3536 fix(decoder): read uint16 from buffer
  pkg/bufferdecoder/decoder.go
Labels: kind/bug

#3546 fix(go.mod): remove types replacement leftover
  go.mod
  go.sum
Labels: area/build

#3542 fix: add path to executable
  types/api/v1beta1/event.pb.go
  types/api/v1beta1/event.proto
Labels: backport/v0.18.0

#3549 fix: update types
  go.mod
  go.sum
Labels: area/build, backport/v0.18.0

#3554 fix: cap_capable should parse arguments
  pkg/events/parse_args.go
Labels: area/events, backport/v0.18.0

#3550 fix: add missing types
  types/api/v1beta1/event_data.pb.go
  types/api/v1beta1/event_data.proto
Labels: backport/v0.18.0

#3539 Fix event data
  go.mod
  go.sum
  pkg/ebpf/finding.go
  pkg/ebpf/finding_test.go
  pkg/server/grpc/event_data.go
  pkg/server/grpc/event_data_test.go
  types/api/v1beta1/event_data.proto
Labels: area/ebpf, area/testing, area/build, backport/v0.18.0

#3557 fix: add api root dir
  Makefile
  api/go.mod
  api/go.sum
  api/v1beta1/definition.pb.go
  api/v1beta1/definition.proto
  api/v1beta1/diagnostic.pb.go
  api/v1beta1/diagnostic.proto
  api/v1beta1/diagnostic_grpc.pb.go
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
  api/v1beta1/event_data.pb.go
  api/v1beta1/event_data.proto
  api/v1beta1/tracee.pb.go
  api/v1beta1/tracee.proto
  api/v1beta1/tracee_grpc.pb.go
Labels: area/build, backport/v0.18.0

#3558 Use api module
  go.mod
  go.sum
  pkg/server/grpc/diagnostic.go
  pkg/server/grpc/event_data.go
  pkg/server/grpc/event_data_test.go
  pkg/server/grpc/server.go
  pkg/server/grpc/server_test.go
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
  types/api/v1beta1/definition.pb.go
  types/api/v1beta1/definition.proto
  types/api/v1beta1/diagnostic.pb.go
  types/api/v1beta1/diagnostic.proto
  types/api/v1beta1/diagnostic_grpc.pb.go
  types/api/v1beta1/event.pb.go
  types/api/v1beta1/event.proto
  types/api/v1beta1/event_data.pb.go
  types/api/v1beta1/event_data.proto
  types/api/v1beta1/tracee.pb.go
  types/api/v1beta1/tracee.proto
  types/api/v1beta1/tracee_grpc.pb.go
Labels: area/testing, area/build, backport/v0.18.0

#3545 docs: adding YouTube tutorials on Tracee to the respective docs pages
  docs/docs/events/overview.md
  docs/docs/policies/index.md
  docs/getting-started/kubernetes-quickstart.md
  docs/images/ebpftraceehelminstall.png
  docs/images/liveqa.png
  docs/images/lokitut.png
  docs/images/traceepolicies.png
  docs/tutorials/promtail.md
Labels: kind/documentation

#3537 fix: docker documentation for arm64 architecture
  docs/getting-started/docker-quickstart.md
  docs/images/docker-arm64.png
Labels: kind/documentation

#3548 fix(events): fix dns events slice out of bounds issues
  pkg/events/derive/net_packet_dns.go
  pkg/events/derive/net_packet_helpers.go
Labels: area/events

#3568 docs(datasources): make datasource docs more complete
  docs/docs/data-sources/containers.md
  docs/docs/data-sources/overview.md
  docs/docs/data-sources/process-tree.md
  mkdocs.yml
Labels: kind/documentation

#3569 chore(golang): update types and api to latest for security
  go.mod
  go.sum
Labels: area/build

#3571 fix(event): make sure parent points to a real process
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/common/task.h
Labels: area/ebpf

#3575 chore: goimports-reviser new formatting
  embedded.go
  pkg/cgroup/errors.go
  pkg/counter/counter_bench_test.go
  pkg/filters/errors.go
  pkg/logger/logcounter.go
  pkg/mount/errors.go
  pkg/policy/errors.go
  pkg/proctree/thread.go
  pkg/utils/numbers.go
  tests/testutils/cpu.go
  types/datasource/proctree.go
Labels: area/testing, kind/chore, area/filtering, area/logging

#3577 fix(events): make ns parent pid exist only in same ns
  pkg/ebpf/c/common/context.h
Labels: area/ebpf

#3582 chore(workflow): commit single dev image for multip arches
  .github/workflows/release-snap-test.yaml
  .github/workflows/release-snapshot.yaml
Labels: area/build

#3579 chore(tests): re-enable 'trace events from pid 1'
  tests/integration/event_filters_test.go
  tests/integration/syscaller/cmd/syscall_test.go
  tests/integration/tracee.go
Labels: area/testing, milestone/v0.19.0

#3587 chore(version): bump version to v0.18.1
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3588 fix(workflow): fix release procedure
  .github/workflows/release-temporary.yaml
  .github/workflows/release.yaml
Labels: area/build

#3592 feat(events): refactor hooked_syscall event
  docs/docs/events/builtin/extra/hooked_syscall.md
  docs/docs/events/builtin/extra/hooked_syscalls.md
  pkg/cmd/initialize/sigs_test.go
  pkg/ebpf/c/common/consts.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/hooked_syscall_table.go
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/core_amd64.go
  pkg/events/core_arm64.go
  pkg/events/derive/hooked_syscall.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
  signatures/rego/syscall_table_hooking.rego
  signatures/rego/syscall_table_hooking_test.rego
Labels: area/ebpf, area/signatures, kind/documentation, area/testing, area/UX, area/events

#3594 chore(events): rename syscall hooking arguments
  pkg/events/core.go
Labels: area/events

#3597 revert: revert recently changed hooked_syscall event
  docs/docs/events/builtin/extra/hooked_syscall.md
  docs/docs/events/builtin/extra/hooked_syscalls.md
  pkg/cmd/initialize/sigs_test.go
  pkg/ebpf/c/common/consts.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/hooked_syscall_table.go
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/core_amd64.go
  pkg/events/core_arm64.go
  pkg/events/derive/hooked_syscall.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
  signatures/rego/syscall_table_hooking.rego
  signatures/rego/syscall_table_hooking_test.rego
Labels: area/ebpf, area/signatures, kind/documentation, area/testing, area/UX, area/events

#3600 Bugfix/capture write address error
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3604 docs(events): make sure default events docs are correct
  docs/docs/events/builtin/extra/cgroup_mkdir.md
  docs/docs/events/builtin/extra/cgroup_rmdir.md
  docs/docs/events/builtin/extra/container_create.md
  docs/docs/events/builtin/extra/container_remove.md
  docs/docs/events/builtin/extra/format.md
  docs/docs/events/builtin/extra/sched_process_exec.md
  docs/docs/events/builtin/extra/security_inode_unlink.md
  docs/docs/events/builtin/extra/security_sb_mount.md
  docs/docs/events/builtin/extra/security_socket_accept.md
  docs/docs/events/builtin/extra/security_socket_bind.md
  docs/docs/events/builtin/extra/security_socket_connect.md
  docs/docs/events/builtin/syscalls/chmod.md
  docs/docs/events/builtin/syscalls/chown.md
  docs/docs/events/builtin/syscalls/creat.md
  docs/docs/events/builtin/syscalls/fchmod.md
  docs/docs/events/builtin/syscalls/fchmodat.md
  docs/docs/events/builtin/syscalls/fchown.md
  docs/docs/events/builtin/syscalls/fchownat.md
  docs/docs/events/builtin/syscalls/finit_module.md
  docs/docs/events/builtin/syscalls/init_module.md
  docs/docs/events/builtin/syscalls/lchown.md
  docs/docs/events/builtin/syscalls/memfd_create.md
  docs/docs/events/builtin/syscalls/move_mount.md
  docs/docs/events/builtin/syscalls/process_vm_readv.md
  docs/docs/events/builtin/syscalls/process_vm_writev.md
  docs/docs/events/builtin/syscalls/ptrace.md
  docs/docs/events/builtin/syscalls/setfsgid.md
  docs/docs/events/builtin/syscalls/setfsuid.md
  docs/docs/events/builtin/syscalls/setgid.md
  docs/docs/events/builtin/syscalls/setns.md
  docs/docs/events/builtin/syscalls/setpgid.md
  docs/docs/events/builtin/syscalls/setregid.md
  docs/docs/events/builtin/syscalls/setresgid.md
  docs/docs/events/builtin/syscalls/setresuid.md
  docs/docs/events/builtin/syscalls/setreuid.md
  docs/docs/events/builtin/syscalls/setsid.md
  docs/docs/events/builtin/syscalls/setuid.md
  mkdocs.yml
Labels: kind/documentation

#3611 chore(build): cosign images and the manifest as well
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
  builder/Makefile.release
Labels: area/build

#3616 docs: redo readme and getting started
  Readme.md
  docs/docs/install/distros/fedora.md
  docs/docs/install/distros/nix-nixos.md
  docs/docs/install/distros/ubuntu.md
  docs/docs/install/docker.md
  docs/docs/install/index.md
  docs/docs/install/kubernetes.md
  docs/docs/install/override-os-files.md
  docs/docs/install/prerequisites.md
  docs/getting-started/installing/docker.md
  docs/getting-started/installing/kubernetes.md
  docs/index.md
  mkdocs.yml
Labels: kind/documentation

#3623 chore(k8s): remove containers config option
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/tracee/tracee.yaml
  examples/config/global_config.json
  examples/config/global_config.yaml
Labels: milestone/v0.19.0

#3598 fix: enrichment for kind and minikube
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/kubernetes/tracee/tracee.yaml
  pkg/containers/containers.go
  pkg/k8s/k8s.go
Labels: area/kubernetes, milestone/v0.19.0

#3622 feature(webhook): add template and content type
  pkg/cmd/printer/printer.go
Labels: area/UX, milestone/v0.19.0

#3619 feature(k8s): add default events to k8s policies
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.19.0

#3627 docs: installation section
  docs/docs/deep-dive/ksyms.md
  docs/docs/deep-dive/os-info.md
  docs/docs/install/distros/fedora.md
  docs/docs/install/distros/nix-nixos.md
  docs/docs/install/distros/ubuntu.md
  docs/docs/install/index.md
  docs/docs/install/prerequisites.md
  mkdocs.yml
Labels: kind/documentation

#3620 Allow default policy customization
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/helm/tracee/values.yaml
Labels: area/kubernetes, milestone/v0.19.0

#3631 fix: remove noisy debug log
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf

#3624 chore: disable cri enrich on tests
  tests/integration/tracee.go
Labels: area/testing, kind/chore, milestone/v0.19.0

#3630 docs: docker guide and mac
  Readme.md
  docs/docs/deep-dive/mac.md
  docs/docs/install/docker.md
  docs/index.md
Labels: kind/documentation

#3643 chore(cmd): remove go-cel terminology leftover
  cmd/tracee-rules/main.go
  cmd/tracee/cmd/analyze.go
  cmd/tracee/cmd/list.go
  cmd/tracee/cmd/root.go
Labels: area/UX

#3642 fix(initialize): do not fail kconfig options
  docs/docs/deep-dive/os-info.md
  pkg/cmd/initialize/kernelconfig.go
Labels: kind/bug, kind/documentation, area/UX
