Repository aquasecurity/tracee, pull requests merged in 2023-09, with the labels that each got.

#3429 fix(flags): use scope flag parser for policy
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
Labels: kind/bug, area/testing, area/UX, area/flags, milestone/v0.18.0

#3413 fix: capture of writev
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3421 fix: fix section name for vfs_readv
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf

#3361 feat: filter file capture by ELF type
  docs/docs/forensics/index.md
  pkg/cmd/flags/capture.go
  pkg/config/config.go
  pkg/ebpf/c/capture_filtering.h
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/tracee.h
  pkg/events/core.go
Labels: area/ebpf, kind/documentation, area/UX, kind/feature, area/events, area/flags, milestone/v0.18.0

#3378 docs: modifying readme
  Readme.md
  docs/getting-started/docker-quickstart.md
  docs/images/log-example.png
  docs/index.md
  mkdocs.yml
Labels: kind/documentation

#3433 Fix(capture): fix verifier issue with elf capture
  pkg/ebpf/c/common/filesystem.h
Labels: area/ebpf

#3384 fix: print_mem_dump fails on missing symbol
  pkg/ebpf/tracee.go
  pkg/events/definition_dependencies.go
Labels: area/ebpf, area/events, milestone/v0.18.0

#3436 Revert "fix: print_mem_dump fails on missing symbol (#3384)"
  pkg/ebpf/tracee.go
  pkg/events/definition_dependencies.go
Labels: area/ebpf, area/events

#3443 fix(definitions): ksymbols dependencies handled wrongly
  pkg/events/core.go
Labels: area/events

#3411 feat: add streams
  pkg/cmd/cobra/cobra.go
  pkg/cmd/tracee.go
  pkg/cmd/urfave/urfave.go
  pkg/config/config.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
  pkg/policy/errors.go
  pkg/policy/policies.go
  pkg/policy/policy.go
  pkg/streams/streams.go
  pkg/streams/streams_test.go
  tests/integration/event_filters_test.go
Labels: area/ebpf, area/testing, area/UX, milestone/v0.18.0

#3442 feat: add argv to security_bprm_check
  docs/docs/events/builtin/extra/security_bprm_check.md
  mkdocs.yml
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, kind/documentation, kind/feature, area/events, milestone/v0.18.0

#3459 feat: add version proto
  types/api/v1beta1/definition.pb.go
  types/api/v1beta1/definition.proto
Labels: milestone/v0.18.0

#3437 feat: add version and description to definition
  pkg/cmd/initialize/sigs.go
  pkg/cmd/initialize/sigs_test.go
  pkg/ebpf/finding_test.go
  pkg/events/core.go
  pkg/events/core_test.go
  pkg/events/definition.go
  pkg/events/definition_group_test.go
  pkg/events/definition_test.go
  pkg/events/derive/derive_test.go
  pkg/events/version.go
  pkg/policy/v1beta1/policy_file_test.go
Labels: area/ebpf, area/testing, area/UX, area/events, milestone/v0.18.0

#3431 Add enable/disable rule
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/policy_manager.go
  pkg/ebpf/policy_manager_test.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/testing, milestone/v0.18.0

#3434 Update Readme.md
  Readme.md
Labels: kind/documentation

#3474 chore(revive): disable unchecked-type-assertion
  .revive.toml
Labels: kind/chore, milestone/v0.18.0

#3450 Add definition grpc endpoint
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
Labels: area/build

#3467 feat: add enable/disable event rpc
  types/api/v1beta1/tracee.pb.go
  types/api/v1beta1/tracee.proto
  types/api/v1beta1/tracee_grpc.pb.go
Labels: milestone/v0.18.0

#3482 chore(libbpfgo): bump to v0.5.0-libbpf-1.2
  go.mod
  go.sum
Labels: kind/chore, area/build, milestone/v0.18.0

#3476 chore(ebpf): not fail if some ksymbol is not found
  pkg/ebpf/ksymbols.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, kind/chore, milestone/v0.18.0

#3483 chore(tests): comment out init sighup test
  tests/integration/event_filters_test.go
Labels: area/testing, kind/chore, milestone/v0.18.0

#3466 feat: add event enable/disable
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/policy_manager.go
  pkg/ebpf/policy_manager_test.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/testing, milestone/v0.18.0

#3487 feat: add enable/disable event grpc endpoint
  go.mod
  go.sum
  pkg/server/grpc/server.go
  pkg/server/grpc/tracee.go
Labels: area/build

#3492 fix: GetEventDefinition doesn't have params
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
Labels: area/build

#3484 fix: rename policy apiVersion and kind
  deploy/helm/tracee/templates/tracee-policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/events/overview.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/tutorials/k8s-policies.md
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/dig.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
  pkg/policy/v1beta1/policy_file.go
  pkg/policy/v1beta1/policy_file_test.go
Labels: kind/documentation, area/testing, area/kubernetes

#3497 fix(ebpf): fix symbol name on error
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
Labels: kind/bug, area/ebpf, milestone/v0.18.0

#3501 Revert "fix(ebpf): fix symbol name on error"
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
Labels: area/ebpf

#3493 Add streams endpoint
  go.mod
  go.sum
  pkg/ebpf/finding.go
  pkg/ebpf/finding_test.go
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
Labels: area/ebpf, area/testing, area/build

#3502 fix(packaging): adjust ubuntu and fedora packaging
  .github/workflows/test-os-packaging-daily.yaml
  packaging/Dockerfile.fedora-packaging
  packaging/Dockerfile.ubuntu-packaging
  packaging/fedora/tracee.spec
  packaging/ubuntu/control
Labels: area/release, area/build

#3504 fix(ebpf): triggerMemDump check all filters
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
Labels: kind/bug, area/ebpf, milestone/v0.18.0

#3412 events: add ftrace_hook event
  docs/docs/events/builtin/extra/ftrace_hook.md
  pkg/ebpf/hidden_kernel_module.go
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/trace.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/ftrace.go
  pkg/events/ftrace_test.go
  pkg/utils/utils.go
Labels: area/ebpf, kind/documentation, area/testing, area/events

#3503 feat(event): export thread, process and parent entity id
  cmd/tracee-rules/output_test.go
  go.mod
  go.sum
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/protocol.go
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/types.h
  pkg/ebpf/events_pipeline.go
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
Labels: area/ebpf, area/testing, area/UX, area/build, milestone/v0.18.0

#3509 feat(types): add proctree datasource
  types/datasource/proctree.go
Labels: kind/feature, area/types, milestone/v0.18.0, area/proctree

#3510 fix: convert `[]trace.Argument` into `map<string,EventData>`
  go.mod
  go.sum
  pkg/server/grpc/event_data.go
  pkg/server/grpc/event_data_test.go
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
Labels: area/testing, area/build

#3515 fix: link cosign tutorial to mkdocs.yml
  mkdocs.yml
Labels: kind/documentation

#3498 fix(proctree): allow regular events to create proctree nodes
  pkg/cmd/flags/proctree.go
  pkg/ebpf/c/common/consts.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/controlplane/processes.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/processor_proctree.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/policy/policies.go
  pkg/proctree/proctree.go
  pkg/proctree/proctree_feed.go
  pkg/proctree/proctree_output.go
  tests/integration/tracee.go
Labels: area/ebpf, area/testing, area/UX, area/events, area/flags

#3306 docs: Fix incorrect flags and usage documentation for unlinkat
  docs/docs/events/builtin/syscalls/unlinkat.md
Labels: kind/documentation, milestone/v0.18.0

#3464 chore(vagrant): add support to arm64 architecture
  Vagrantfile
Labels: kind/chore, milestone/v0.18.0

#3523 fix(Vagrantfile): wrong var reference
  Vagrantfile
Labels: kind/bug, milestone/v0.18.0

#3456 docs: running tracee docker container on amd64 and arm64
  docs/getting-started/docker-quickstart.md
Labels: kind/documentation

#3522 feat(proctree): create process tree data source
  pkg/ebpf/signature_engine.go
  pkg/proctree/datasource.go
  pkg/proctree/proctree_output.go
  pkg/proctree/taskinfo.go
Labels: area/ebpf, milestone/v0.18.0

#3527 chore(k8s): bump k8s tag to v0.18.0
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3528 feat(types): add PoliciesVersion field to Event
  types/trace/trace.go
Labels: kind/feature

#3529 chore(types): bump types to 29c9b63 (policies version)
  go.mod
  go.sum
Labels: kind/chore, area/build
