Repository aquasecurity/tracee, pull requests merged in 2023-03, with the labels that each got.

#2746 Add multiple printers
  cmd/tracee-ebpf/main.go
  cmd/tracee/main.go
  pkg/cmd/flags/flags_test.go
  pkg/cmd/flags/help.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/tracee_ebpf_output.go
  pkg/cmd/printer/broadcast.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
  pkg/cmd/tracee.go
  pkg/cmd/urfave/urfave.go
Labels: milestone/v0.12.0, area/flags

#2782 Add webhook printer
  pkg/cmd/flags/flags_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/printer/printer.go
Labels: milestone/v0.12.0

#2785 k8s: remove flag everythingIsAnEvent from helm
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
Labels: milestone/v0.12.0

#2789 printer: block instead of drop events for broadcast
  pkg/cmd/printer/broadcast.go
Labels: milestone/v0.12.0

#2786 k8s: fix templates to use unified binary
  deploy/helm/tracee/templates/NOTES.txt
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/kustomize/falcosidekick/kustomization.yaml
  deploy/kubernetes/kustomize/postee/kustomization.yaml
  deploy/kubernetes/tracee-falcosidekick/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: milestone/v0.12.0

#2791 k8s: bump version
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/tracee-falcosidekick/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: milestone/v0.12.0

#2795 k8s: remove falcosidekiq yaml
  cmd/tracee-rules/output_test.go
  cmd/tracee-rules/templates/falcosidekick.tmpl
  deploy/kubernetes/kustomize/falcosidekick/kustomization.yaml
  deploy/kubernetes/tracee-falcosidekick/falcosidekick.yaml
  deploy/kubernetes/tracee-falcosidekick/kustomization.yaml
  deploy/kubernetes/tracee-falcosidekick/tracee.yaml
  deploy/kubernetes/update-static.sh
  docs/docs/deep-dive/architecture.md
  docs/docs/integrating/falcosidekick.md
  docs/docs/integrating/go-templates.md
  docs/docs/integrating/postee.md
  docs/docs/integrating/webhook.md
  mkdocs.yml
Labels: milestone/v0.12.0

#2800 gptdocs: add option to generate docs for a list of events
  cmd/tracee-gptdocs/main.go
  pkg/cmd/gptdocs.go
  pkg/cmd/urfave/urfave.go
Labels: kind/bug, milestone/v0.12.0

#2805 workflow: turn github node jobs paralell
  .github/workflows/pr.yaml
Labels: area/build, milestone/v0.13.0

#2811 docs: small fixes
  docs/index.md
Labels: kind/documentation, milestone/v0.13.0

#2817 [ARM64 TESTS] workflow: add arm64 runners and tests
  .github/workflows/pr.yaml
Labels: kind/chore, area/build, milestone/v0.13.0

#2828 builder: add goimports to tracee-make docker imgs
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
Labels: kind/chore, milestone/v0.13.0

#2831 workflow: add alma linux as rhel clone to the PR workflow
  .github/workflows/pr.yaml
  tests/e2e-net-signatures/scripts/setup.sh
  tests/e2e-net-test.sh
Labels: area/testing, area/build, milestone/v0.13.0

#2833 Workflow paths
  .github/workflows/pr.yaml
Labels: kind/chore, area/build, milestone/v0.13.0

#2844 workflow: pr: enable tests in arm64 and rhel_arm64
  .github/workflows/pr.yaml
Labels: kind/bug, area/testing, kind/chore, area/build, milestone/v0.13.0

#2848 workflow: test other tools builds as well
  .github/workflows/pr.yaml
Labels: area/testing, kind/chore, area/build, milestone/v0.13.0

#2851 workflow: change release AMI IDs to latest
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: kind/chore, area/release, area/build, milestone/v0.13.0, area/arm64

#2856 chore: fix deprecated nodejs warning for github action
  .github/workflows/mkdocs-dev.yaml
  .github/workflows/mkdocs-latest.yaml
  .github/workflows/pr.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
  .github/workflows/test-daily.yaml
  .github/workflows/test-os-packaging-daily.yaml
Labels: kind/chore, milestone/v0.13.0

#2857 go: update runc from 1.1.2 to 1.1.4 due to security
  .github/workflows/pr.yaml
  go.mod
  go.sum
Labels: kind/chore, area/build, milestone/v0.13.0, dependencies

#2862 workflow: fix release-snapshot with dev-full tag
  .github/workflows/release-snapshot.yaml
Labels: kind/chore, area/release, area/build, milestone/v0.13.0

#2846 feat: add PTRACE_POKEDATA to ptrace_code_injection
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
Labels: kind/bug, area/signatures, kind/feature, milestone/v0.13.0

#2865 workflow: fix: github login action not working
  .github/workflows/pr.yaml
Labels: kind/chore, area/build, milestone/v0.13.0

#2869 workflow: change release AMI IDs to latest (#2851)
  .github/workflows/release.yaml
  builder/Makefile.release
Labels: kind/bug, area/release, area/build, milestone/v0.13.0

#2794 feat: add inotify_find_inode event
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probes.go
  pkg/events/events.go
Labels: milestone/v0.13.0

#2875 workflow: add PRs labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: kind/chore, area/build, milestone/v0.13.0

#2878 workflow: snapshot labels for jenkins are too long
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: area/build

#2881 types: matchedScopes -> matchedPolicies
  types/trace/trace.go
Labels: kind/chore

#2825 ebpf: remove params_type_map and use events_map instead
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/c/common/probes.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/tracee.go
Labels: area/ebpf, kind/chore, milestone/v0.13.0

#2885 workflow: add amzn2 5.10 kernel AMIs to tests
  .github/workflows/pr.yaml
Labels: area/testing, area/build, milestone/v0.13.0

#2813 ebpf: remove bin_args_map
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/chore, milestone/v0.13.0

#2884 tests: disable cache for integration tests
  Makefile
Labels: area/testing, area/build, milestone/v0.13.0

#2886 workflow: add gke 5.4, 5.10 and 5.15 kernel AMIs to tests
  .github/workflows/pr.yaml
Labels: area/build, milestone/v0.13.0

#2897 fix: base event filters
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf

#2895 fix: fix old_path arg of security_inode_rename
  .github/workflows/pr.yaml
  pkg/ebpf/c/tracee.bpf.c
  tests/e2e-instrumentation-signatures/e2e-security_inode_rename.go
  tests/e2e-instrumentation-signatures/export.go
  tests/e2e-instrumentation-signatures/scripts/security_inode_rename.sh
  tests/e2e-instrumentation-test.sh
Labels: kind/bug, area/ebpf, area/testing, area/build, milestone/v0.13.0

#2874 add bpf byte code capture
  docs/classic-docs/docs/capturing/index.md
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/decoder_test.go
  pkg/bufferdecoder/protocol.go
  pkg/bufferdecoder/protocol_test.go
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/flags_test.go
  pkg/ebpf/c/common/bpf_prog.h
  pkg/ebpf/c/common/consts.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/tracee.go
  pkg/ebpf/write_capture.go
  pkg/events/events.go
Labels: area/ebpf, kind/documentation, area/testing, area/UX, kind/feature, area/events, milestone/v0.13.0, area/flags

#2853 ebpf: align execve enter and exit timestamps
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/chore, milestone/v0.13.0

#2863 workflow: pr: enable tests in all archs
  .github/workflows/pr.yaml
Labels: kind/bug, area/build, milestone/v0.13.0, area/arm64

#2910 workflow: pr: enable TRC-104 test in RHEL ARM64
  .github/workflows/pr.yaml
Labels: kind/bug, area/build, milestone/v0.13.0, area/arm64

#2912 fix: use correct type for bpf helpers
  pkg/events/parse_args.go
Labels: kind/bug, area/events

#2905 feat: use libbpfgo helpers to parse bpf helpers
  go.mod
  go.sum
  pkg/events/parse_args.go
Labels: area/events, area/build

#2909 refactor: move log-file to be under --log
  pkg/cmd/flags/flags_test.go
  pkg/cmd/flags/logger.go
  pkg/cmd/flags/logger_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/tracee_ebpf_output.go
  pkg/cmd/urfave/urfave.go
Labels: area/testing, area/UX, milestone/v0.13.0, area/flags

#2921 types: add container and kubernetes context fields
  types/trace/trace.go
  types/trace/trace_test.go
Labels: area/testing, kind/chore, milestone/v0.13.0

#2903 add syscall support for print_mem_dump
  pkg/ebpf/tracee.go
Labels: area/ebpf, milestone/v0.13.0

#2922 types: event policy name
  types/trace/trace.go
Labels: kind/chore, milestone/v0.13.0

#2925 containers: parse ContainerID by inner cgroup
  pkg/containers/containers.go
  pkg/events/derive/container_create.go
Labels: kind/feature, area/events, milestone/v0.13.0

#2891 Feature/improve symbols loaded performance
  pkg/events/derive/symbols_loaded.go
  pkg/utils/sharedobjs/host_symbols_loader.go
Labels: kind/feature, area/events, milestone/v0.13.0

#2927 tests: re-enable integration for policies
  tests/integration/integration_test.go
  tests/integration/tester.sh
Labels: area/testing, milestone/v0.13.0

#2930 events: prevent symbols map cache corruption
  pkg/events/derive/symbols_collision.go
Labels: kind/bug, area/performance, area/events, milestone/v0.13.0

#2931 chore: add tracee logos
  brand/Tracee-OSS-Logo-Color-Horizontal-RGB-2022.png
  brand/Tracee-OSS-Logo-Color-Horizontal-RGB-2022.svg
  brand/Tracee-OSS-Logo-Color-Stacked-RGB-2022.png
  brand/Tracee-OSS-Logo-Color-Stacked-RGB-2022.svg
  brand/Tracee-OSS-Logo-White-Horizontal-RGB-2022.png
  brand/Tracee-OSS-Logo-White-Horizontal-RGB-2022.svg
  brand/Tracee-OSS-Logo-White-Stacked-RGB-2022.png
  brand/Tracee-OSS-Logo-White-Stacked-RGB-2022.svg
  brand/readme.md
Labels: kind/documentation

#2938 policies: fix container scope
  examples/container_dns_events.yaml
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
Labels: area/testing, area/UX, area/flags

#2939 docs: update docs to reflect new binary
  RELEASING.md
  Readme.md
  builder/Makefile.tracee-make
  builder/entrypoint.sh
  cmd/tracee-bench/readme.md
  docs/contributing/building/building.md
  docs/contributing/building/containers.md
  docs/contributing/building/environment.md
  docs/contributing/building/macosx.md
  docs/contributing/building/nocore-ebpf.md
  docs/contributing/building/packaging.md
  docs/contributing/guidelines.md
  docs/contributing/overview.md
  docs/contributing/setup-development-machine-with-vagrant.md
  docs/docs/deep-dive/caching-events.md
  docs/docs/deep-dive/dropping-capabilities.md
  docs/docs/deep-dive/ordering-events.md
  docs/docs/deep-dive/secure-tracing.md
  docs/docs/events/builtin/extra/symbols_collision.md
  docs/docs/events/builtin/network.md
  docs/docs/events/builtin/syscalls/shmat.md
  docs/docs/events/builtin/syscalls/sigsuspend.md
  docs/docs/events/builtin/syscalls/times.md
  docs/docs/events/custom/golang.md
  docs/docs/events/custom/rego.md
  docs/docs/filters/filtering.md
  docs/docs/forensics/index.md
  docs/docs/integrating/container-engines.md
  docs/docs/integrating/healthz.md
  docs/docs/outputs/output-formats.md
  docs/docs/outputs/output-options.md
  docs/docs/overview.md
  docs/getting-started/installing/distros/nix-nixos.md
  docs/getting-started/installing/kubernetes.md
  docs/getting-started/installing/override-os-files.md
  docs/getting-started/kubernetes-quickstart.md
  docs/index.md
  docs/tutorials/deploy-grafana-dashboard.md
  docs/tutorials/promtail.md
  pkg/signatures/benchmark/README.md
Labels: area/signatures, kind/documentation, area/UX, area/build, milestone/v0.13.0

#2948 Fix policy docs newline
  docs/docs/policies/index.md
Labels: kind/documentation, milestone/v0.13.0

#2949 k8s: bump version
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.13.0

#2952 release: makefile change to sign all images
  builder/Makefile.release
Labels: area/release, milestone/v0.13.0

#2953 release: crane is buggy, remove until fixed
  .github/workflows/release.yaml
  builder/Makefile.release
Labels: area/build

#2955 makefile: remove cosign leftover and fix release makefile
  .github/workflows/release.yaml
  builder/Makefile.release
Labels: area/build
