Repository aquasecurity/tracee, pull requests merged in 2023-11, with the labels that each got.

#3649 fix: k8s static deploy
  deploy/generate-k8s-static.yaml
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/kubernetes/tracee/tracee.aquasec.com_policies.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.19.0

#3646 fix: structured k8s config
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
Labels: area/kubernetes, milestone/v0.19.0

#3647 docs: add kubernetes operator
  docs/docs/policies/kubernetes.md
Labels: kind/documentation, milestone/v0.19.0

#3641 docs: change directory structure, overview content in each section an…
  docs/contributing/architecture.md
  docs/docs/config/overview.md
  docs/docs/data-sources/containers.md
  docs/docs/deep-dive/caching-events.md
  docs/docs/deep-dive/ksyms.md
  docs/docs/events/custom/analyze.md
  docs/docs/events/index.md
  docs/docs/events/overview.md
  docs/docs/filters/filtering.md
  docs/docs/flags/config.1.md
  docs/docs/flags/containers.1.md
  docs/docs/install/config/cli.md
  docs/docs/install/config/kubernetes.md
  docs/docs/install/container-engines.md
  docs/docs/install/docker.md
  docs/docs/install/healthz.md
  docs/docs/install/kubernetes.md
  docs/docs/install/prometheus.md
  docs/docs/outputs/index.md
  docs/docs/outputs/logging.md
  docs/docs/outputs/output-formats.md
  docs/docs/outputs/output-options.md
  docs/docs/overview.md
  docs/docs/policies/index.md
  docs/docs/policies/rules.md
  docs/docs/policies/scopes.md
  docs/docs/policies/usage/cli.md
  docs/docs/policies/usage/kubernetes.md
  docs/index.md
  docs/man/containers.1
  mkdocs.yml
Labels: kind/documentation, milestone/v0.19.0

#3652 docs: kubernetes guide
  docs/docs/install/kubernetes.md
Labels: kind/documentation, milestone/v0.19.0

#3617 docs: edit existing tutorials #3605
  Vagrantfile
  docs/images/signatures.png
  docs/images/tracee-grafana-dashboard.png
  docs/tutorials/additional-resources.md
  docs/tutorials/deploy-grafana-dashboard.md
  docs/tutorials/overview.md
  docs/tutorials/promtail.md
  docs/tutorials/tracee-vagrant.md
  docs/tutorials/verify-tracee-signature.md
  mkdocs.yml
Labels: kind/documentation, milestone/v0.19.0

#3655 docs: fixes and changes after #3641
  Readme.md
  docs/docs/advanced/caching-events.md
  docs/docs/advanced/data-sources/containers.md
  docs/docs/advanced/data-sources/overview.md
  docs/docs/advanced/data-sources/process-tree.md
  docs/docs/advanced/dropping-capabilities.md
  docs/docs/advanced/forensics.md
  docs/docs/advanced/ksyms.md
  docs/docs/advanced/mac.md
  docs/docs/advanced/ordering-events.md
  docs/docs/advanced/os-info.md
  docs/docs/advanced/secure-tracing.md
  docs/docs/flags/capabilities.1.md
  docs/docs/install/config/cli.md
  docs/docs/install/config/index.md
  docs/docs/install/config/kubernetes.md
  docs/docs/install/container-engines.md
  docs/docs/install/docker.md
  docs/docs/install/healthz.md
  docs/docs/install/prerequisites.md
  docs/index.md
  mkdocs.yml
Labels: kind/documentation

#3661 chore(k8s): prepare v0.19.0 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3662 docs: fix broken links #3658
  docs/docs/advanced/data-sources/containers.md
  docs/docs/advanced/data-sources/process-tree.md
  docs/docs/flags/config.1.md
  docs/docs/install/docker.md
  mkdocs.yml
Labels: kind/documentation

#3663 docs: move kubernetes policy usage into separate section
  docs/docs/policies/kubernetes.md
  docs/docs/policies/usage/cli.md
  docs/docs/policies/usage/kubernetes.md
Labels: kind/documentation

#3651 docs: rewrite output section
  docs/docs/install/config/cli.md
  docs/docs/outputs/index.md
  docs/docs/outputs/logging.md
  docs/docs/outputs/output-formats.md
  docs/docs/outputs/output-options.md
Labels: kind/documentation, milestone/v0.19.0

#3683 rebase of https://github.com/aquasecurity/tracee/pull/3638
  tests/integration/event_filters_test.go
  tests/integration/syscaller/cmd/syscaller.go
  tests/integration/tracee.go
  tests/testutils/cpu.go
  tests/testutils/errors.go
  tests/testutils/exec.go
Labels: area/testing

#3687 chore(container): same default events as k8s deployment
  builder/entrypoint.sh
Labels: area/build

#3674 fix(ebpf): use ts as fd_arg_path_map key
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/processor_funcs.go
  pkg/events/parse_args.go
Labels: kind/bug, area/ebpf, area/events, milestone/v0.20.0

#3694 fix(finding): add missing fields
  pkg/ebpf/finding.go
Labels: kind/bug, area/ebpf, milestone/v0.20.0

#3681 refactor(engine): feed engine with signatures events
  pkg/ebpf/signature_engine.go
  tests/e2e-inst-signatures/e2e-signature_derivation.go
  tests/e2e-inst-signatures/export.go
  tests/e2e-inst-signatures/scripts/signature_derivation.sh
Labels: area/ebpf, area/testing, milestone/v0.20.0

#3692 feat(signatures): add simple proctree datasource envelope
  signatures/helpers/proctree.go
Labels: area/signatures, kind/feature, area/proctree

#3708 feature(types): add packet metadata type
  types/trace/network_trace.go
  types/trace/trace.go
Labels: milestone/v0.20.0

#3710 probes: improve probes by having specific getters
  pkg/ebpf/probes/cgroup.go
  pkg/ebpf/probes/uprobe.go
  pkg/ebpf/tracee.go
Labels: area/ebpf

#3702 docs: add discussion template for adopters
  .github/DISCUSSION_TEMPLATE/adopters.yml
Labels: area/build

#3691 Feature/proctree query time
  go.mod
  go.sum
  pkg/proctree/datasource.go
  signatures/helpers/proctree.go
  tests/e2e-inst-signatures/e2e-proctree_data_source.go
Labels: area/signatures, area/testing, area/build, area/types, area/proctree

#3716 chore: rename Context to EventContext
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/decoder_test.go
  pkg/bufferdecoder/protocol.go
  pkg/bufferdecoder/protocol_test.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_pipeline_bench_test.go
Labels: area/ebpf, area/testing, kind/chore, milestone/v0.20.0
