Repository aquasecurity/tracee, pull requests merged in 2023-05, with the labels that each got.

#3022 fix: kernel version comparison
  pkg/ebpf/events_processor.go
Labels: kind/bug, area/ebpf, area/events

#3024 tracee: add engine field to tracee object
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
  pkg/signatures/engine/engine.go
Labels: area/ebpf, area/signatures, milestone/v0.14.0

#3025 events: fix hidden_kernel_module derivation
  pkg/events/derive/hidden_kernel_module.go
Labels: kind/bug, area/events, milestone/v0.14.0

#3010 Fix docs
  docs/getting-started/kubernetes-quickstart.md
  docs/index.md
Labels: kind/documentation

#3030 k8s: bump to 0.14.0
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3034 workflow: fix mkdocs-dev workflow to ubuntu-latest
  .github/workflows/mkdocs-dev.yaml
Labels: area/build

#3037 feat: support running tracee from pid ns
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3038 libbpfgo: trim suffix newline from libbpf message
  pkg/cmd/initialize/callbacks.go
Labels: kind/bug, area/UX

#3050 release: fix workflow to push tracee:${TAG}
  .github/workflows/release.yaml
Labels: area/build

#3042 cli: don't sort flags in help/usage messages
  cmd/tracee/cmd/root.go
Labels: kind/bug, area/UX, milestone/v0.14.1

#3048 cmd: log only after tracee.Run()
  cmd/tracee/cmd/root.go
  cmd/tracee/main.go
Labels: area/UX

#3040 ebpf: use new libbpf syscall macros
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/feature

#3056 workflow: move workflows to aqua infrastructure
  .github/workflows/debug-shell.yaml
  .github/workflows/pr.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: area/build

#3049 tracee: move metrics register to tracee
  pkg/cmd/tracee.go
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/UX, kind/chore, milestone/v0.14.1

#3058 cmd: cobra: fix parsing for multiple values
  cmd/tracee/cmd/root.go
  docs/docs/config/overview.md
  pkg/cmd/cobra/cobra.go
Labels: kind/documentation, area/UX

#3069 workflow: add 6.1 and 6.3 kernels
  .github/workflows/debug-shell.yaml
  .github/workflows/pr.yaml
Labels: area/build, milestone/v0.14.1

#3045 fix: update github bug and PR templates
  .github/ISSUE_TEMPLATE/BUG.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build, milestone/v0.14.1

#3073 change mem_prot_alert alert from W+E to W
  types/trace/trace.go
Labels: kind/bug, area/types

#3072 make print_mem_dump reprint on kernel module load
  pkg/ebpf/events_processor.go
  pkg/events/events.go
Labels: kind/bug, area/events, milestone/v0.14.1

#3075 remove pid file on exit
  pkg/cmd/tracee.go
  pkg/ebpf/events_processor.go
  pkg/ebpf/tracee.go
  pkg/ebpf/write_capture.go
  pkg/utils/files.go
Labels: area/ebpf, area/UX, milestone/v0.14.1

#3080 Bump libbpfgo to v0.4.8.1-libbpf-1.2.0
  go.mod
  go.sum
Labels: area/build

#3064 fix: correct list of bpf helpers
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux.h
Labels: area/ebpf, milestone/v0.14.1

#3081 tracee: warn only if pidfile removal fails
  pkg/cmd/tracee.go
Labels: area/UX, milestone/v0.14.1

#3084 release: fix arm64 release file
  .github/workflows/release-arm64-only.yaml
  .github/workflows/release.yaml
Labels: area/build

#3085 release: fix arm64 releasing workflow
  .github/workflows/release-arm64-only.yaml
Labels: area/build

#3087 workflow: guarantee release has needed tags
  .github/workflows/release-arm64-only.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: area/build

#3088 workflow: fetch-depth 0 instead of git fetch
  .github/workflows/release-arm64-only.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: area/build

#3095 btfhub: fix tracee container image with btfhub
  .dockerignore
  builder/Dockerfile.alpine-tracee-container
  pkg/cmd/initialize/bpfobject.go
Labels: area/UX, area/build

#3097 btfhub: extract embedded BTF file correctly
  pkg/cmd/initialize/bpfobject.go
Labels: area/UX

#3098 k8s: bump release tag
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#3102 workflow: add cosign to release snapshot
  .github/workflows/release-snapshot.yaml
Labels: area/build

#3104 workflow: add cosign to release snapshot
  .github/workflows/release-snapshot.yaml
Labels: area/build

#3106 workflow: sign aquasec/tracee:x86_64-dev
  .github/workflows/release-snapshot.yaml
Labels: area/build

#3096 k8s: enrichment enabled by default
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.15.0

#3099 docs: remove classic-docs
  docs/classic-docs/docs/capturing/index.md
  docs/classic-docs/docs/deep-dive/architecture.md
  docs/classic-docs/docs/deep-dive/caching-events.md
  docs/classic-docs/docs/deep-dive/dropping-capabilities.md
  docs/classic-docs/docs/deep-dive/healthz.md
  docs/classic-docs/docs/deep-dive/ordering-events.md
  docs/classic-docs/docs/deep-dive/override-os-files.md
  docs/classic-docs/docs/deep-dive/performance.md
  docs/classic-docs/docs/deep-dive/secure-tracing.md
  docs/classic-docs/docs/detecting/avd.md
  docs/classic-docs/docs/detecting/go-cel.md
  docs/classic-docs/docs/detecting/golang.md
  docs/classic-docs/docs/detecting/index.md
  docs/classic-docs/docs/detecting/rego.md
  docs/classic-docs/docs/detecting/rules.md
  docs/classic-docs/docs/integrating/container-engines.md
  docs/classic-docs/docs/integrating/go-templates.md
  docs/classic-docs/docs/integrating/postee.md
  docs/classic-docs/docs/integrating/prometheus.md
  docs/classic-docs/docs/integrating/webhook.md
  docs/classic-docs/docs/overview.md
  docs/classic-docs/docs/tracing/event-filtering.md
  docs/classic-docs/docs/tracing/index.md
  docs/classic-docs/docs/tracing/network-events.md
  docs/classic-docs/docs/tracing/output-formats.md
  docs/classic-docs/docs/tracing/output-options.md
  docs/classic-docs/docs/tracing/scopes.md
  docs/classic-docs/images/architecture.png
  docs/classic-docs/images/tracee-cache.png
  docs/classic-docs/images/tracee-performance.png
  docs/classic-docs/images/tracee-pipeline-overview.png
  docs/classic-docs/images/tracee.png
  docs/classic-docs/images/tracee_logo_only.png
  docs/classic-docs/images/tracee_video_thumbnail.png
  docs/docs/overview.md
Labels: kind/documentation, milestone/v0.15.0

#3107 workflow: sign release images
  .github/workflows/release.yaml
Labels: area/build, milestone/v0.15.0

#3090 refactor: add broadcast printer
  pkg/cmd/cobra/cobra.go
  pkg/cmd/printer/broadcast.go
  pkg/cmd/tracee.go
  pkg/cmd/urfave/urfave.go
Labels: area/UX, area/policies, milestone/v0.15.0

#3089 k8s: remove postee denpedency
  RELEASING.md
  deploy/helm/tracee/Chart.lock
  deploy/helm/tracee/Chart.yaml
  deploy/helm/tracee/templates/NOTES.txt
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/kustomize/base/kustomization.yaml
  deploy/kubernetes/kustomize/base/tracee.yaml
  deploy/kubernetes/kustomize/postee/kustomization.yaml
  deploy/kubernetes/tracee-postee/kustomization.yaml
  deploy/kubernetes/tracee-postee/tracee.yaml
  deploy/kubernetes/tracee/tracee.yaml
  deploy/kubernetes/update-static.sh
  docs/contributing/architecture.md
  docs/contributing/setup-development-machine-with-vagrant.md
  docs/getting-started/installing/kubernetes.md
Labels: kind/documentation, area/kubernetes, milestone/v0.15.0

#3117 tracee: add ready callback
  pkg/cmd/tracee.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/UX

#3091 Add k8s configmap
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/config/kubernetes.md
  mkdocs.yml
Labels: kind/documentation, area/kubernetes, milestone/v0.15.0

#3127 fix: file_modification not triggered in newer kernels
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3131 docs: fix mkdocs
  mkdocs.yml
Labels: kind/documentation

#3128 k8s: add readiness probe
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.15.0

#3134 k8s: fix helm installation
  docs/getting-started/installing/kubernetes.md
  docs/getting-started/kubernetes-quickstart.md
Labels: kind/documentation, milestone/v0.15.0

#3139 k8s: fix k8s installation docs
  docs/getting-started/installing/kubernetes.md
Labels: kind/documentation

#3138 k8s: add helm test workflow
  .github/workflows/test-helm-chart.yaml
  deploy/helm/chart_schema.yaml
  deploy/helm/ct.yaml
  deploy/helm/lintconf.yaml
Labels: area/kubernetes, area/build, milestone/v0.15.0

#3144 policy: fix validation of args and retval
  pkg/policy/policy_file.go
  pkg/policy/policy_file_test.go
Labels: area/testing, milestone/v0.15.0

#3146 docs: examples: place examples files by kind
  docs/docs/config/kubernetes.md
  docs/docs/config/overview.md
  examples/config/global_config.json
  examples/config/global_config.yaml
  examples/policies/container_dns_events.yaml
  examples/policies/context_comm.yaml
  examples/policies/dig.yaml
  examples/policies/new_containers.yaml
  examples/policies/new_pids.yaml
  examples/policies/not_containers.yaml
  examples/policies/openat_args_pahtname.yaml
  examples/policies/pid_equal.yaml
  examples/policies/scope_comm.yaml
  examples/policies/signature_events.yaml
  examples/policies/uid_higher_than_or_equal_to_zero.yaml
Labels: kind/documentation, milestone/v0.15.0

#3126 Add policy printer
  docs/docs/policies/actions.md
  pkg/cmd/cobra/cobra.go
  pkg/cmd/cobra/helper.go
  pkg/cmd/printer/broadcast.go
  pkg/cmd/printer/policy.go
  pkg/cmd/urfave/urfave.go
  pkg/policy/policy_file.go
Labels: kind/documentation, area/UX, milestone/v0.15.0

#3001 events: improve hidden_kernel_module
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/hidden_kernel_module.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
  pkg/events/derive/hidden_kernel_module.go
  pkg/events/events.go
Labels: area/ebpf, area/events, milestone/v0.15.0

#3154 chore: restore old ContainerID field
  cmd/tracee-rules/output_test.go
  go.mod
  go.sum
  pkg/ebpf/events_pipeline.go
  tests/integration/integration_test.go
Labels: area/ebpf, area/testing, area/UX, kind/chore, area/build, area/types, milestone/v0.15.0

#3159 bpf: fix int truncation in address holder
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3162 ebpf: events: set policies for init events
  pkg/ebpf/tracee.go
  pkg/policy/policies.go
Labels: kind/bug, area/ebpf, milestone/v0.15.0

#3168 policy: add not-equal operator parsing
  pkg/policy/policy_file.go
  pkg/policy/policy_file_test.go
Labels: kind/bug, milestone/v0.15.0

#3149 printer: fix policy printer
  pkg/cmd/printer/benchmarks/printer_test.go
  pkg/cmd/printer/policy.go
Labels: area/testing, area/UX, milestone/v0.15.0

#3178 docs: update docs for bpf_attach event
  docs/docs/events/builtin/extra/bpf_attach.md
Labels: kind/documentation, milestone/v0.15.0
