Repository aquasecurity/tracee, pull requests merged in 2024-04, with the labels that each got.

#3939 chore!: remove gob support from tracee-rules
  cmd/tracee-rules/input.go
  cmd/tracee-rules/input_test.go
Labels: area/testing, area/UX, milestone/v0.21.0

#3893 fix(filters): handle syscall arg
  pkg/filters/args.go
  pkg/filters/args_test.go
  pkg/filters/benchmarks/string_test.go
  pkg/filters/context.go
  pkg/filters/filters.go
  pkg/filters/string.go
  pkg/filters/string_test.go
  pkg/policy/policy.go
Labels: kind/bug, area/testing, area/filtering, milestone/v0.21.0

#3941 fix: preallocate ids for signatures upon load
  pkg/cmd/initialize/sigs.go
Labels: area/UX

#3946 chore(deps): bump google.golang.org/protobuf to v1.33.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build, area/api

#3951 fix: security_socket_connect wrong fd
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf

#3958 chore: set xtrace on e2e-install-deps.sh script
  tests/e2e-install-deps.sh
Labels: area/testing, kind/chore, milestone/v0.21.0

#3954 Add `ArgVal` signature helper
  signatures/helpers/arguments_helpers.go
Labels: area/signatures

#3956 chore(policy): add policiesMapByName to Policies
  pkg/policy/errors.go
  pkg/policy/policies.go
  pkg/policy/policies_test.go
Labels: area/testing, kind/chore

#3931 Dependencies tree manager
  pkg/ebpf/ksymbols.go
  pkg/ebpf/tracee.go
  pkg/events/dependencies/event.go
  pkg/events/dependencies/manager.go
  pkg/events/dependencies/manager_test.go
Labels: area/ebpf, area/testing, area/events

#3952 chore: various co-re fixes
  pkg/ebpf/c/common/cgroups.h
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/common/network.h
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf

#3962 Run x86_64 & aarch64 builds in parallel
  .github/workflows/release-snapshot.yaml
Labels: area/build

#3968 chore(ci): run x86_64 & aarch64 builds in parallel
  .github/workflows/release.yaml
Labels: kind/chore, area/build

#3966 chore: make Cloner generic
  pkg/events/derive/symbols_collision.go
  pkg/events/derive/symbols_loaded.go
  pkg/filters/args.go
  pkg/filters/args_test.go
  pkg/filters/binary.go
  pkg/filters/bool.go
  pkg/filters/bool_test.go
  pkg/filters/context.go
  pkg/filters/context_test.go
  pkg/filters/filters.go
  pkg/filters/int.go
  pkg/filters/int_test.go
  pkg/filters/processtree.go
  pkg/filters/retval.go
  pkg/filters/sets/prefixset.go
  pkg/filters/sets/suffixset.go
  pkg/filters/string.go
  pkg/filters/string_test.go
  pkg/filters/uint.go
  pkg/filters/uint_test.go
  pkg/policy/policies.go
  pkg/policy/policies_test.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/utils/utils.go
Labels: area/testing, kind/chore, area/events, area/filtering

#3972 fix: capture io
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf

#3975 chore: remove OPT_PROCESS_INFO
  pkg/ebpf/c/common/consts.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/tracee.go
Labels: area/ebpf, kind/chore

#3969 chore(ci): bump actions versions
  .github/workflows/auto-author-assign.yml
  .github/workflows/debug-shell.yaml
  .github/workflows/labeler.yml
  .github/workflows/mkdocs-dev.yaml
  .github/workflows/mkdocs-latest.yaml
  .github/workflows/pr.yaml
  .github/workflows/publish-helm.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
  .github/workflows/test-daily.yaml
  .github/workflows/test-helm-chart.yaml
Labels: kind/chore, area/build

#3959 Add timestamp docker tag for dev image
  .github/workflows/release-snapshot.yaml
Labels: area/build

#3922 fix: show argv on failed execve events
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: kind/bug, area/ebpf, area/events, milestone/v0.21.0

#3981 fix(analyze): bind flags with viper
  cmd/tracee/cmd/analyze.go
Labels: kind/bug, area/UX, milestone/v0.21.0

#3895 fix: wrong print_mem_dump errors about args filter
  pkg/ebpf/tracee.go
Labels: kind/bug, area/ebpf, milestone/v0.21.0

#3985 fix(ebpf): use debug error level instead of error
  pkg/ebpf/tracee.go
Labels: kind/bug, area/ebpf, milestone/v0.21.0

#3990 fix: vagrantfile url for opa download
  Vagrantfile
Labels: area/build, milestone/v0.21.0

#3994 fix(ebpf): check if engineOutput is closed
  pkg/ebpf/signature_engine.go
Labels: kind/bug, area/ebpf, milestone/v0.21.0

#3997 chore: refactor equality computation
  pkg/policy/ebpf.go
  pkg/policy/equality.go
Labels: kind/chore, milestone/v0.21.0

#4000 Wait for apt locks
  tests/e2e-install-deps.sh
Labels: kind/bug, area/testing, milestone/v0.21.0

#3995 Rename context filters to scope filters
  docs/docs/flags/events.1.md
  docs/docs/policies/rules.md
  docs/man/events.1
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/event.go
  pkg/cmd/flags/event_test.go
  pkg/cmd/flags/filter.go
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
  pkg/ebpf/events_pipeline.go
  pkg/filters/errors.go
  pkg/filters/scope.go
  pkg/filters/scope_test.go
  pkg/policy/policies.go
  pkg/policy/policies_compute.go
  pkg/policy/policies_iterator.go
  pkg/policy/policies_test.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
Labels: area/ebpf, kind/documentation, area/testing, area/UX, kind/feature, area/filtering, area/flags, milestone/v0.21.0

#3943 fix: proper fragment delimiters in webhook URL
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
Labels: area/testing, area/UX

#4004 fix event definitions api
  api/v1beta1/tracee.pb.go
  api/v1beta1/tracee.pb.json.go
  api/v1beta1/tracee.proto
  api/v1beta1/tracee_grpc.pb.go
Labels: area/api

#4006 grpc: update definitions api
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
Labels: area/build, area/grpc

#4007 chore(k8s): prepare v0.21.0 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.21.0

#3983 fix(events): fix `process_execute_failed` missing symbol for new kernels
  .github/workflows/pr.yaml
  docs/docs/events/builtin/extra/process_execute_failed.md
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/definition_dependencies.go
  pkg/events/derive/process_execute_failed.go
  tests/e2e-inst-signatures/e2e-process_execute_failed.go
  tests/e2e-inst-signatures/export.go
  tests/e2e-inst-signatures/scripts/process_execute_failed.sh
  tests/e2e-inst-test.sh
Labels: kind/bug, area/ebpf, kind/documentation, area/testing, area/events, area/build, milestone/v0.21.0

#4011 [v0.21.0] fix(events): fix process_execute_failed missing symbol for new kernels
  .github/workflows/pr.yaml
  docs/docs/events/builtin/extra/process_execute_failed.md
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/definition_dependencies.go
  pkg/events/derive/process_execute_failed.go
  tests/e2e-inst-signatures/e2e-process_execute_failed.go
  tests/e2e-inst-signatures/export.go
  tests/e2e-inst-signatures/scripts/process_execute_failed.sh
  tests/e2e-inst-test.sh
Labels: area/ebpf, kind/documentation, area/testing, area/events, area/build
