Repository aquasecurity/tracee, pull requests merged in 2024-05, with the labels that each got.

#4015 fix(events): hidden_kernel_module - change history scan behaviour
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/derive/hidden_kernel_module.go
Labels: area/ebpf, area/events

#4020 fix(events): hidden_kernel_module - change history scan behaviour
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/derive/hidden_kernel_module.go
Labels: area/ebpf, area/events

#3989 feat(proctree): control procfs query by config
  docs/docs/advanced/data-sources/builtin/process-tree.md
  pkg/cmd/flags/proctree.go
  pkg/proctree/proctree.go
  pkg/proctree/proctree_feed.go
Labels: kind/documentation, area/UX, area/flags, area/proctree, milestone/v0.22.0

#4022 feat(proctree): control procfs query by config
  docs/docs/advanced/data-sources/builtin/process-tree.md
  pkg/cmd/flags/proctree.go
  pkg/proctree/proctree.go
  pkg/proctree/proctree_feed.go
Labels: kind/documentation, area/UX, area/flags, area/proctree, backport/v0.21.0

#4027 fix: network event context
  pkg/ebpf/c/tracee.bpf.c
  tests/e2e-net-signatures/e2e-dns.go
  tests/e2e-net-signatures/e2e-http.go
  tests/e2e-net-signatures/e2e-icmp.go
  tests/e2e-net-signatures/e2e-icmpv6.go
  tests/e2e-net-signatures/e2e-ipv4.go
  tests/e2e-net-signatures/e2e-ipv6.go
  tests/e2e-net-signatures/e2e-tcp.go
  tests/e2e-net-signatures/e2e-udp.go
Labels: kind/bug, area/ebpf, area/testing, milestone/v0.21.0

#4029 [v0.21.0] fix: network event context
  pkg/ebpf/c/tracee.bpf.c
  tests/e2e-net-signatures/e2e-dns.go
  tests/e2e-net-signatures/e2e-http.go
  tests/e2e-net-signatures/e2e-icmp.go
  tests/e2e-net-signatures/e2e-icmpv6.go
  tests/e2e-net-signatures/e2e-ipv4.go
  tests/e2e-net-signatures/e2e-ipv6.go
  tests/e2e-net-signatures/e2e-tcp.go
  tests/e2e-net-signatures/e2e-udp.go
Labels: area/ebpf, kind/documentation, area/testing, area/UX, area/events, area/build, area/flags, backport/v0.21.0

#4025 fix(ebpf): use kprobes for execute_finished
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
Labels: area/ebpf, area/events, milestone/v0.21.0

#4030 fix(ebpf): use kprobes for execute_finished
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
Labels: area/ebpf, area/events

#3945 feat: performance gate
  .github/workflows/performance.yaml
  performance/benchmark/common/tracee.yaml
  performance/benchmark/network/bench.sh
  performance/benchmark/network/manifests/crd.yaml
  performance/benchmark/network/manifests/loadgenerator.yaml
  performance/benchmark/network/manifests/microservices.yaml
  performance/benchmark/network/manifests/policies/bench.yaml
Labels: kind/feature, area/build, milestone/v0.22.0

#4032 feat(events): use same tailcalls for process_execute_failed
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/probes/probe_group.go
  pkg/events/core.go
  pkg/events/definition_dependencies.go
Labels: area/ebpf, area/events

#4034 fix: avoid logging warnings for non-ELF so loading
  pkg/events/derive/symbols_collision_test.go
  pkg/events/derive/symbols_loaded.go
  pkg/events/derive/symbols_loaded_test.go
  pkg/utils/sharedobjs/host_symbols_loader.go
  pkg/utils/sharedobjs/host_symbols_loader_test.go
  pkg/utils/sharedobjs/shared_object.go
Labels: area/testing, area/events

#4037 fix: avoid logging warnings for non-ELF so loading
  pkg/events/derive/symbols_collision_test.go
  pkg/events/derive/symbols_loaded.go
  pkg/events/derive/symbols_loaded_test.go
  pkg/utils/sharedobjs/host_symbols_loader.go
  pkg/utils/sharedobjs/host_symbols_loader_test.go
  pkg/utils/sharedobjs/shared_object.go
Labels: area/testing, area/events

#4036 fix: performance yaml
  .github/workflows/performance.yaml
Labels: kind/bug, area/build, milestone/v0.22.0

#4038 chore: add workflow_disptach to perf gate
  .github/workflows/performance.yaml
Labels: kind/chore, area/build, milestone/v0.22.0

#3919 Add `set_fs_pwd` event
  .github/workflows/pr.yaml
  docs/docs/events/builtin/extra/set_fs_pwd.md
  pkg/ebpf/c/common/arch.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
  tests/e2e-inst-signatures/e2e-set_fs_pwd.go
  tests/e2e-inst-signatures/export.go
  tests/e2e-inst-signatures/scripts/set_fs_pwd.sh
  tests/e2e-inst-test.sh
Labels: area/ebpf, kind/documentation, area/testing, area/events, area/build, milestone/v0.22.0

#4040 chore(events): decrease SO loader error log level to debug
  pkg/events/derive/symbols_collision.go
  pkg/events/derive/symbols_loaded.go
  pkg/events/derive/symbols_loaded_test.go
Labels: area/testing, area/events

#4041 v0.21.0:chore(events): decrease SO loader error log level to debug
  pkg/events/derive/symbols_collision.go
  pkg/events/derive/symbols_loaded.go
  pkg/events/derive/symbols_loaded_test.go
Labels: area/testing, area/events

#4035 fix: remove invalid "format" event from docs
  mkdocs.yml
Labels: kind/documentation, milestone/v0.21.0

#4042 fix: remove invalid "format" event from docs
  mkdocs.yml
Labels: kind/documentation

#4043 chore(perf): upgrade aws-auth back to v4.0.2
  .github/workflows/performance.yaml
Labels: area/build

#4046 fix(perf): add missing cluser name env var
  .github/workflows/performance.yaml
Labels: area/build

#4048 fix(perf): various changes and fixes
  .github/workflows/performance.yaml
Labels: area/build

#4049 chore(perf): refactor network benchmark call
  .github/workflows/performance.yaml
  Makefile
  performance/benchmark/common/bench.yaml
  performance/benchmark/network/bench.sh
Labels: area/build

#4047 fix(tests): fix goroutines leakage in integration tests
  tests/integration/capture_test.go
  tests/perftests/metrics_test.go
  tests/testutils/exec.go
  tests/testutils/tracee.go
Labels: area/testing

#4052 0.21.0/fix(tests): fix goroutines leakage in integration tests
  tests/integration/capture_test.go
  tests/perftests/metrics_test.go
  tests/testutils/exec.go
  tests/testutils/tracee.go
Labels: area/testing

#4054 Revert "chore(k8s): prepare v0.21.0 release"
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4018 chore(helm): rename helm field config file
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/install/config/kubernetes.md
Labels: kind/documentation, area/kubernetes, milestone/v0.22.0

#4055 [v0.21.0] Revert "chore(k8s): prepare v0.21.0 release (#4007)"
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4057 chore(helm): rename helm field config file (#4018)
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/install/config/kubernetes.md
Labels: kind/documentation, area/kubernetes

#4017 chore(docs): fix helm field in kubernets doc
  docs/docs/install/config/kubernetes.md
Labels: kind/documentation, milestone/v0.22.0

#4061 fix(performance.yaml): add aws authentication back
  .github/workflows/performance.yaml
Labels: area/build

#4062 fix(performance.yaml): logout after image publish
  .github/workflows/performance.yaml
Labels: area/build

#4014 chore: code refactor to add assertion
  .revive.toml
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_pipeline_bench_test.go
  pkg/events/derive/symbols_collision.go
  pkg/events/derive/symbols_collision_test.go
  pkg/events/ftrace.go
  pkg/server/grpc/tracee.go
  pkg/signatures/benchmark/signature/golang/anti_debugging.go
  pkg/signatures/benchmark/signature/golang/code_injection.go
  pkg/utils/sharedobjs/host_symbols_loader.go
  tests/integration/capture_test.go
  tests/integration/event_filters_test.go
  types/trace/trace.go
Labels: area/ebpf, area/signatures, area/testing, area/events, area/grpc

#4077 [v0.21.0] fix: select cgroup mountpoint with the smallest inode number
  pkg/cgroup/cgroup.go
  pkg/mount/mount.go
Labels: milestone/v0.21.0

#4076 fix: select cgroup mountpoint with the smallest inode number
  pkg/cgroup/cgroup.go
  pkg/mount/mount.go
Labels: milestone/v0.21.0

#4082 chore(docs): rename args filter to data filter
  docs/docs/events/builtin/extra/symbols_collision.md
  docs/docs/events/builtin/extra/symbols_loaded.md
  docs/docs/policies/rules.md
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf, kind/documentation

#4091 chore: Integrate libbpfgo packages into project
  go.mod
  go.sum
  pkg/bufferdecoder/eventsreader.go
  pkg/cmd/cobra/cobra.go
  pkg/cmd/initialize/bpfobject.go
  pkg/cmd/initialize/kernelconfig.go
  pkg/cmd/urfave/urfave.go
  pkg/config/config.go
  pkg/ebpf/hooked_syscall_table.go
  pkg/ebpf/initialization/kconfig.go
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/uprobe.go
  pkg/ebpf/processor.go
  pkg/ebpf/tracee.go
  pkg/events/derive/hooked_seq_ops.go
  pkg/events/derive/hooked_syscall.go
  pkg/events/parse_args.go
  pkg/events/parse_args_test.go
  pkg/utils/environment/testdata/os-release-almalinux
  pkg/utils/utils.go
  tests/e2e-inst-signatures/e2e-process_execute_failed.go
  tests/e2e-inst-signatures/e2e-set_fs_pwd.go
  tests/integration/tracee.go
Labels: area/ebpf, area/testing, area/UX, area/events, area/build

#4085 feature: add enum EventId to event definition
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
Labels: milestone/v0.21.0, area/api
