Repository aquasecurity/tracee, pull requests merged in 2024-10, with the labels that each got.

#4340 chore(types): add Zero field to ArgMeta
  types/trace/trace.go
Labels: kind/chore, milestone/v0.23.0

#4343 remove policy and capture form docs
  docs/docs/install/config/index.md
Labels: kind/documentation

#4348 [v0.22.3] chore!: rollback proctree to simple LRU (#4299)
  docs/docs/install/config/index.md
  docs/docs/policies/usage/cli.md
  examples/config/global_config.yaml
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
  pkg/cmd/flags/proctree.go
  pkg/proctree/proctree.go
Labels: kind/documentation, area/testing, area/UX, area/flags, cherry-pick

#4349 [v0.22.3] chore(types): add Zero field to ArgMeta
  types/trace/trace.go
Labels: cherry-pick

#4355 fix: print err when parseArgument() fails
  pkg/server/grpc/event_data.go
Labels: kind/bug, area/grpc, milestone/v0.23.0

#4359 feat(ebpf): restrict set_fs_pwd to (f)chdir syscall
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, milestone/v0.23.0, candidate/v0.22.3

#4361 [v0.22.3] feat(ebpf): restrict set_fs_pwd to (f)chdir syscall (#4359)
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/feature, cherry-pick

#4366 feat(events): change log level in hooked_syscall
  pkg/ebpf/hooked_syscall_table.go
Labels: area/ebpf

#4367 fix(events): check if init finished in hidden kernel module
  pkg/events/derive/hidden_kernel_module.go
Labels: area/events

#4371 changed process filter to scope filters
  docs/docs/policies/rules.md
Labels: kind/documentation

#4328 fix(mount): reintroduce root path requirement
  pkg/mount/mount.go
Labels: milestone/v0.23.0, candidate/v0.22.3

#4373 Backport v0.22.0
  pkg/ebpf/hooked_syscall_table.go
  pkg/events/derive/hidden_kernel_module.go
Labels: area/ebpf, area/events

#4374 chore(k8s): prepare v0.22.3 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4375 [v0.22.3] chore(k8s): prepare v0.22.3 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes
