Repository aquasecurity/tracee, pull requests merged in 2024-08, with the labels that each got.

#4222 fix: necessary to Init engine before Start
  pkg/signatures/benchmark/benchmark_test.go
Labels: area/signatures, area/testing

#4216 fix: TRACE_RET_FUNC macro
  pkg/ebpf/c/common/probes.h
Labels: kind/bug, area/ebpf, milestone/v0.22.0

#4200 chore(parsers): optimize ParseMmapProt
  pkg/events/parsers/data_parsers.go
  pkg/events/parsers/data_parsers_bench_test.go
  pkg/events/parsers/data_parsers_test.go
Labels: area/testing, kind/chore, area/events, milestone/v0.22.0

#4197 improve flag parsing performance
  pkg/events/parse_args.go
  pkg/events/parse_args_bench_test.go
  pkg/events/parse_args_test.go
Labels: area/testing, kind/chore, area/events, milestone/v0.22.0

#4234 fix: set engine to nil - sig benchmark
  pkg/signatures/benchmark/benchmark_test.go
Labels: area/signatures, area/testing

#4238 feat(ebpf): use bpf_task_pt_regs when available
  pkg/ebpf/c/common/arch.h
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/common/task.h
  pkg/ebpf/c/vmlinux.h
Labels: area/ebpf

#4243 feat: add syscall helper macros
  pkg/ebpf/c/common/probes.h
Labels: area/ebpf

#4224 feat(ebpf): make security_socket_setsockopt not rely on sys_enter/exit
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4247 remove e2e tests for kernels 5.4 and 4.18 on ARM
  .github/workflows/pr.yaml
Labels: area/build

#4245 fix(ebpf): use correct syscall id for compat
  pkg/ebpf/c/common/task.h
Labels: area/ebpf

#4226 feat(ebpf): make security_file_open not rely on sys_enter/exit
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4220 feat(ebpf): remove sys_enter/exit dependency from security_socket_con…
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4213 feat(ebpf): make security_socket_accept not rely on sys_enter/exit
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4227 feat(ebpf): make mem_prot_alert not rely on sys_enter/exit
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4225 feat(ebpf): make security_socket_bind not rely on sys_enter/exit
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4228 feat(ebpf): make set_fs_pwd not rely on sys_enter/exit
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4251 chore: pin go tools versions
  .github/actions/build-dependencies/action.yaml
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
Labels: kind/chore, area/build

#4223 perf: benchmark improve sig GetMetadata
  pkg/signatures/benchmark/benchmark_test.go
  pkg/signatures/benchmark/helpers_test.go
  pkg/signatures/benchmark/signature/golang/performance_static.go
Labels: area/signatures, area/testing

#4217 Improve `save_args_to_submit_buf`
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/types.h
Labels: area/ebpf, kind/chore, milestone/v0.22.0

#4235 feat(ebpf): add path&ctime to module_load event
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4259 process_execute_failed: don't rely on sys_enter
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4199 optimize parser options check
  pkg/events/parsers/data_parsers.go
  pkg/events/parsers/data_parsers_bench_test.go
  pkg/events/parsers/data_parsers_test.go
Labels: area/testing, area/events, milestone/v0.22.0

#4242 Changelog optimization
  pkg/changelog/changelog.go
  pkg/changelog/changelog_benchmark_test.go
  pkg/changelog/changelog_test.go
Labels: kind/bug, area/testing, kind/chore, milestone/v0.22.0

#4194 fix: improve performance of readStringVarFromBuff
  pkg/bufferdecoder/eventsreader.go
  pkg/bufferdecoder/eventsreader_bench_test.go
  pkg/bufferdecoder/eventsreader_test.go
Labels: kind/bug, area/testing, milestone/v0.22.0

#4196 fix(build): parallel build (libbpf wise)
  .gitignore
  Makefile
Labels: kind/bug, area/build, milestone/v0.22.0

#4262 fix(build): cyclic dependency in makefile
  .built_libbpf
  .gitignore
  Makefile
Labels: kind/bug, area/build, milestone/v0.22.0

#4263 [v0.22.0] fix(build): cyclic dependency in makefile
  .built_libbpf
  .gitignore
  Makefile
Labels: kind/bug, area/build

#4267 chore(k8s): prepare v0.22.0 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4269 chore(ci): update release amis
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: kind/chore, area/build, milestone/v0.23.0

#4271 fix(build): set `GOTOOLCHAIN="auto"` for alpine
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
Labels: kind/bug, area/build, milestone/v0.23.0
