Repository aquasecurity/tracee, pull requests merged in 2024-09, with the labels that each got.

#4274 fix: release snapshot target arch
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
Labels: area/build

#4278 [v0.22.1] fix: release snapshot target arch
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
Labels: area/build

#4280 update go.sum and go.mod with grpc change
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
Labels: area/build, area/grpc

#4283 fix: process_execute_failed use correct lru
  pkg/events/derive/process_execute_failed.go
Labels: area/events

#4284 Remove irrelevant context from uprobe based events
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
Labels: area/ebpf

#4275 chore: use 6.2.0-1018-aws kernel
  Vagrantfile
Labels: kind/chore

#4291 [v0.22.1] fix: process_execute_failed use correct lru
  pkg/events/derive/process_execute_failed.go
Labels: area/events

#4292 [v0.22.1] Remove irrelevant context from uprobe based events
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
Labels: area/ebpf

#4293 [v0.21.1] update syscall table: lookup_dcookie is removed
  pkg/events/core_amd64.go
  pkg/events/core_arm64.go
Labels: area/events

#4295 chore(k8s): prepare v0.22.1 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4296 [v0.22.1] chore(k8s): prepare v0.22.1 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4299 chore!: rollback proctree to simple LRU
  docs/docs/install/config/index.md
  docs/docs/policies/usage/cli.md
  examples/config/global_config.yaml
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
  pkg/cmd/flags/proctree.go
  pkg/proctree/proctree.go
Labels: kind/documentation, area/testing, area/UX, kind/chore, area/flags, milestone/v0.23.0

#4301 Fix `timespec_t` args not being submitted to userspace
  pkg/ebpf/c/common/buffer.h
Labels: area/ebpf, milestone/v0.23.0

#4310 sched_process_exec: don't drop event in capture exec
  pkg/ebpf/processor_funcs.go
Labels: area/ebpf

#4309 chore: deactive performance gate
  .github/workflows/performance.yaml
Labels: kind/chore, area/build, milestone/v0.23.0

#4317 chore: sig helper clone metadata
  signatures/helpers/helpers.go
Labels: area/signatures

#4306 fix(tests): possible goroutine leak
  tests/testutils/exec.go
Labels: kind/bug, area/testing, milestone/v0.23.0

#4318 chore(tests): increase Tracee startup timeout
  tests/testutils/tracee.go
Labels: area/testing, kind/chore

#4303 Documentation patch
  docs/docs/flags/scope.1.md
  docs/docs/install/config/cli.md
  docs/docs/install/config/index.md
  docs/docs/policies/rules.md
  docs/docs/policies/scopes.md
  docs/man/scope.1
  examples/config/global_config.yaml
  examples/config/global_config_cli.yaml
  mkdocs.yml
Labels: kind/documentation

#4319 Revert "chore: sig helper clone metadata"
  signatures/helpers/helpers.go
Labels: area/signatures

#4320 Revert "perf: benchmark improve sig GetMetadata"
  pkg/signatures/benchmark/benchmark_test.go
  pkg/signatures/benchmark/helpers_test.go
  pkg/signatures/benchmark/signature/golang/performance_static.go
Labels: area/signatures, area/testing

#4322 chore(k8s): prepare v0.22.2 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4304 change argv to args
  signatures/helpers/arguments_helpers.go
Labels: area/signatures

#4307 fix(proctree): possible sync.Once data race
  pkg/proctree/proctree.go
  pkg/proctree/proctree_procfs.go
Labels: kind/bug, milestone/v0.23.0

#4329 fix(ebpf): set pipeline chan size from config
  pkg/ebpf/signature_engine.go
Labels: area/ebpf, milestone/v0.23.0

#4333 chore(ci): add possibility of ff merging via ui
  .github/workflows/fast-forward.yaml
  .github/workflows/pr-ff.yaml
Labels: kind/chore, area/build, milestone/v0.23.0
