Repository aquasecurity/tracee, pull requests merged in 2024-02, with the labels that each got.

#3839 Fix ArgsNum
  pkg/ebpf/processor_proctree.go
  pkg/events/derive/derive.go
  pkg/events/ftrace.go
  pkg/events/trigger/context.go
Labels: area/ebpf, area/events

#3846 Fix typo in kubernetes install guide
  docs/docs/install/kubernetes.md
Labels: kind/documentation

#3838 fix(processors): change args values by name
  pkg/ebpf/processor_funcs.go
  pkg/events/parse_args.go
Labels: kind/bug, area/ebpf, area/events

#3852 Set exec-hash default option
  docs/docs/flags/output.1.md
  docs/man/output.1
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/filehash/cache.go
Labels: kind/bug, kind/documentation, area/testing, area/UX, area/flags, milestone/v0.20.0

#3853 chore(k8s): prepare v0.20.0 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.20.0

#3859 Docs: fixed the typo
  docs/docs/policies/index.md
Labels: kind/documentation

#3841 chore: remove gob printer
  docs/docs/flags/output.1.md
  docs/docs/install/config/index.md
  docs/docs/outputs/output-formats.md
  docs/man/output.1
  examples/config/global_config.yaml
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/cmd/flags/tracee_ebpf_output.go
  pkg/cmd/flags/tracee_ebpf_output_test.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
  pkg/signatures/benchmark/helpers_test.go
Labels: area/signatures, kind/documentation, area/testing, area/UX, area/flags

#3832 feat: allow webhook configuration via helm values
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
Labels: area/kubernetes, milestone/v0.21.0

#3875 Use EXECUTION_TYPE label for github self host runner
  .github/workflows/debug-shell.yaml
  .github/workflows/pr.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: area/build

#3880 fix(docs): kubectl configmap command
  docs/docs/install/config/kubernetes.md
Labels: kind/documentation, milestone/v0.21.0

#3887 fix: bump opa to v0.61.0
  builder/Dockerfile.alpine-tracee-container
Labels: area/build

#3890 chore: add labels for grpc and api
  .github/labeler.yml
Labels: area/build

#3894 fix(derive): keep symbols_collision state between events
  pkg/ebpf/tracee.go
Labels: area/ebpf

#3884 helm: config go template only if passed
  deploy/helm/tracee/templates/tracee-config.yaml
Labels: area/kubernetes

#3901 ebpf: don't send magic_write with zero bytes
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf
