Repository aquasecurity/tracee, pull requests merged in 2024-03, with the labels that each got.

#3896 fix(events): fix ftrace_hook
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/ftrace.go
Labels: area/ebpf, area/events

#3910 fix(tests): e2e-install-deps.sh wait for unlock
  tests/e2e-install-deps.sh
Labels: kind/bug, area/testing, milestone/v0.21.0

#3920 chore: use map instead of stack to store task_info
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/chore

#3906 Improve bpf policies config access
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
Labels: kind/bug, area/ebpf, kind/chore

#3913 Change inotify_watch event to security_path_notify
  docs/docs/events/builtin/extra/security_path_notify.md
  go.mod
  go.sum
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
  pkg/events/parse_args.go
  tests/e2e-inst-signatures/e2e-security_path_notify.go
  tests/e2e-inst-signatures/export.go
  tests/e2e-inst-signatures/scripts/fsnotify_tester.c
  tests/e2e-inst-signatures/scripts/security_path_notify.sh
  tests/e2e-inst-test.sh
Labels: area/ebpf, kind/documentation, area/testing, area/events, area/build

#3907 Concurrency issue at analyze
  cmd/tracee/cmd/analyze.go
  pkg/signatures/engine/engine.go
Labels: area/signatures, area/UX, milestone/v0.21.0

#3927 refactor: move to the new pyroscope package
  go.mod
  go.sum
  pkg/server/http/server.go
Labels: kind/chore, area/build, milestone/v0.21.0

#3929 fix: make check-pr compliant with different shells
  Makefile
Labels: kind/bug, area/build, milestone/v0.21.0

#3934 chore: ensure unattended-upgrades killing
  tests/e2e-install-deps.sh
Labels: area/testing, kind/chore
