Repository aquasecurity/tracee, pull requests merged in 2024-01, with the labels that each got.

#3786 fix: use thread safe wrapper for ksyms table
  pkg/ebpf/ksymbols.go
  pkg/utils/ksyms/safe_ksym_table.go
Labels: kind/bug, area/ebpf, milestone/v0.20.0

#3792 fix: triggeredBy should print event on table output
  pkg/cmd/printer/printer.go
Labels: area/UX

#3794 fix(doc): contribution document link
  Readme.md
Labels: kind/documentation

#3797 fix(ebpf): fix hidden_kernel_module error in some kernels
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#3784 fix(events): restore dependency in hooked_syscall
  pkg/events/core.go
Labels: kind/bug, area/events, milestone/v0.20.0

#3808 chore(docs): specify distros and versions support
  docs/docs/install/prerequisites.md
Labels: kind/documentation

#3735 Remove BPF map macros
  pkg/ebpf/c/capture_filtering.h
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
Labels: area/ebpf, milestone/v0.20.0

#3812 Fix event data structure
  Makefile
  api/v1beta1/datasource.pb.json.go
  api/v1beta1/definition.pb.json.go
  api/v1beta1/diagnostic.pb.json.go
  api/v1beta1/event.pb.go
  api/v1beta1/event.pb.json.go
  api/v1beta1/event.proto
  api/v1beta1/event_data.pb.go
  api/v1beta1/event_data.pb.json.go
  api/v1beta1/event_data.proto
  api/v1beta1/threat.pb.json.go
  api/v1beta1/tracee.pb.json.go
  builder/Dockerfile.protoc
Labels: area/build

#3810 chore(ci): add mantic 6.6 AMIs
  .github/workflows/pr.yaml
Labels: area/build, milestone/v0.20.0

#3765 feat(signatures): expose signatures helpers as Go module
  go.mod
  go.sum
  signatures/helpers/go.mod
Labels: area/signatures, area/build

#3809 Make policies config versioned
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/config.go
  pkg/ebpf/tracee.go
  pkg/policy/ebpf.go
Labels: area/ebpf, kind/chore, milestone/v0.20.0

#3819 chore: remove replace of signatures helpers
  go.mod
  go.sum
Labels: kind/chore

#3831 chore: remove clang march flag
  Makefile
Labels: kind/chore, area/build, milestone/v0.20.0

#3833 chore: increase vb resources
  Vagrantfile
Labels: kind/chore, milestone/v0.20.0

#3835 fix: skip timestamp normalizing in derived events
  pkg/ebpf/processor_funcs.go
Labels: kind/bug, area/ebpf, milestone/v0.20.0
