Repository aquasecurity/tracee, pull requests merged in 2024-11, with the labels that each got.

#4380 fix(events): fix slice out of bounds in hidden_kernel_module
  pkg/events/derive/hidden_kernel_module.go
Labels: area/events

#4377 fix(engine): restrict finding feedback
  cmd/tracee/cmd/analyze.go
  pkg/signatures/engine/engine.go
Labels: kind/bug, area/signatures, area/UX, milestone/v0.23.0

#4379 fix(events): fix slice out of bounds in hidden_kernel_module
  pkg/events/derive/hidden_kernel_module.go
Labels: area/events

#4382 chore(k8s): prepare v0.22.4 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore, milestone/v0.23.0

#4383 [v0.22.4] chore(k8s): prepare v0.22.4 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore, cherry-pick

#4376 Refactor filter matching
  pkg/ebpf/c/common/filtering.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/filters/binary.go
  pkg/filters/bool.go
  pkg/filters/bool_test.go
  pkg/filters/processtree.go
  pkg/filters/processtree_test.go
  pkg/filters/string.go
  pkg/filters/string_test.go
  pkg/filters/uint.go
  pkg/policy/ebpf.go
  pkg/policy/equality.go
Labels: area/ebpf, area/testing, area/filtering

#4394 fix(epbf): fix behavior of `has_prefix() ` and add `strncmp()`
  pkg/ebpf/c/capture_filtering.h
  pkg/ebpf/c/common/common.h
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#4389 perf: remove sys_enter/exit dependency from default event set
  pkg/events/core.go
  signatures/golang/illegitimate_shell.go
  signatures/golang/illegitimate_shell_test.go
  signatures/golang/kernel_module_loading.go
  signatures/golang/kernel_module_loading_test.go
Labels: area/signatures, area/testing, area/events

#4392 feat(helpers): GetProtoHTTPRequestByName/GetProtoHTTPResponseByName
  signatures/helpers/helpers.go
Labels: area/signatures

#4390 Refactor: Restructure event and rename context
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource_grpc.pb.go
  api/v1beta1/definition.pb.go
  api/v1beta1/diagnostic.pb.go
  api/v1beta1/diagnostic_grpc.pb.go
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
  api/v1beta1/event_data.pb.go
  api/v1beta1/event_data.proto
  api/v1beta1/threat.pb.go
  api/v1beta1/tracee.pb.go
  api/v1beta1/tracee_grpc.pb.go
Labels: area/api

#4398 refactor: Rename event parameters to fields
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/eventsreader.go
  pkg/bufferdecoder/eventsreader_test.go
  pkg/cmd/gptdocs.go
  pkg/cmd/initialize/sigs/sigs_test.go
  pkg/cmd/list.go
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/types.h
  pkg/ebpf/controlplane/signal.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/definition.go
  pkg/events/definition_group.go
  pkg/events/derive/derive.go
  pkg/events/derive/derive_test.go
  pkg/events/derive/process_execute_failed.go
  pkg/events/ftrace.go
  pkg/events/usermode.go
  pkg/filters/data.go
  pkg/policy/ebpf.go
  pkg/policy/policy_manager.go
  pkg/policy/v1beta1/policy_file.go
Labels: area/ebpf, area/testing, area/UX, area/events, area/filtering
