Repository aquasecurity/tracee, pull requests merged in 2024-06, with the labels that each got.

#4078 fix(changelog): size enforcement corrupted cache
  pkg/changelog/changelog.go
Labels: kind/bug, area/proctree, milestone/v0.21.0

#4079 0.21.0/fix(changelog): size enforcement corrupted cache
  pkg/changelog/changelog.go
Labels: kind/bug, priority/backlog, area/proctree

#4101 [v0.21.0] feature: add enum EventId to event definition (#4085)
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
Labels: kind/feature, milestone/v0.21.0, area/api

#4106 chore: bump api,signatures/helpers,types
  go.mod
  go.sum
  signatures/helpers/go.sum
Labels: area/signatures, area/build

#4108 feat(events): remove throttle timer in hidden_kernel_module
  pkg/ebpf/hidden_kernel_module.go
Labels: area/ebpf

#4109 [backport v0.21.0] feat(events): remove throttle timer in hidden_kernel_module
  pkg/ebpf/hidden_kernel_module.go
Labels: area/ebpf

#4115 chore(api): event definitions api renaming
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
Labels: milestone/v0.21.0, area/api

#4118 grpc: refactor event structure
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
Labels: area/testing, area/build, milestone/v0.21.0, area/grpc

#4123 [v0.21.0] chore(api): event definitions api renaming
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
Labels: milestone/v0.21.0, area/api

#4124 [v0.21.0] grpc: refactor event structure
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
Labels: area/testing, area/build, milestone/v0.21.0, area/grpc

#4126 perf: Optmize event parameter decoding in pipeline
  pkg/bufferdecoder/decoder.go
  pkg/ebpf/controlplane/signal.go
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf

#4116 fix(build): ldflags setting
  Makefile
Labels: kind/bug, area/build, milestone/v0.22.0

#4128 fix(e2e): run hooked_syscall e2e in all envs
  tests/e2e-inst-test.sh
Labels: area/testing

#4130 chore: possible fix for size/RSS issue
  go.mod
  go.sum
  pkg/k8s/policy.go
Labels: area/build

#4132 [v0.21.0] chore: possible fix for size/RSS issue
  go.mod
  go.sum
  pkg/k8s/policy.go
Labels: area/build, milestone/v0.21.0

#4134 chore(k8s): prepare v0.21.0 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, milestone/v0.21.0

#4135 [v0.21.0] chore(k8s): prepare v0.21.0 release (#4134)
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes

#4137 fix(ci): dev tag is the latest snapshot
  .github/workflows/release-snapshot.yaml
Labels: area/build

#4138 chore(ci): use dev tag for docker image building
  builder/Makefile.release
  builder/Makefile.tracee-container
Labels: kind/chore, area/build

#4139 chore: install last version of golang
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.ubuntu-tracee-make
Labels: kind/chore, area/build

#4141 fix(ci): make release rule to have prerequisites
  builder/Makefile.release
Labels: kind/bug, area/build

#4142 Create Makefile format-pr rule
  Makefile
Labels: kind/chore, area/build

#4144 [v0.21.0] fix(build): bump go to fix cve-2024-24790
  go.mod
Labels: area/build

#4145 fix(build): mv gh release logic to release rule
  builder/Makefile.release
Labels: kind/bug, area/build

#4146 [v0.21.0] release build fix
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.ubuntu-tracee-make
  builder/Makefile.release
  builder/Makefile.tracee-container
Labels: area/build

#4148 feat(events): add security_task_setrlimit
  docs/docs/events/builtin/extra/security_task_setrlimit.md
  mkdocs.yml
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
Labels: area/ebpf, kind/documentation, area/events

#4150 fix(build): fix release build
  builder/Makefile.release
Labels: kind/bug, area/build, milestone/v0.21.0

#4151 [v0.21.0] fix(build): fix release build (#4150)
  builder/Makefile.release
Labels: area/build

#4122 Added event containing full payload for all packets
  pkg/ebpf/c/common/network.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/events/core.go
Labels: area/ebpf, area/network, area/events, milestone/v0.22.0

#4160 chore(logger): safe guard before locking
  pkg/logger/logger.go
Labels: kind/chore, area/logging, milestone/v0.22.0

#4129 chore: rem logger and errfmt as deps from env pkg
  pkg/utils/environment/amount_cpus.go
  pkg/utils/environment/amount_mem.go
  pkg/utils/environment/kernel_config.go
  pkg/utils/environment/kernel_symbols.go
  pkg/utils/environment/osinfo.go
Labels: kind/chore, milestone/v0.22.0
