Repository aquasecurity/tracee, pull requests merged in 2024-07, with the labels that each got.

#4155 fix: generic kubernetes containerd path pattern
  pkg/containers/containers.go
Labels: kind/bug, milestone/v0.22.0

#4110 fix(events): ftrace_hook: address tabs in input lines
  pkg/events/ftrace.go
Labels: area/events

#4169 fix(pipeline): add ebpf caps in stack addres query
  pkg/ebpf/events_pipeline.go
Labels: kind/bug, area/ebpf, milestone/v0.22.0

#4171 fix(tests): remove named pipe if it exists
  tests/integration/capture_test.go
Labels: kind/bug, area/testing, milestone/v0.22.0

#4166 feat(events): create tracee_info event
  docs/docs/events/builtin/extra/tracee_info.md
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/usermode.go
Labels: area/ebpf, kind/documentation, area/events

#4167 Fix(events): don't remove fork excess args
  pkg/ebpf/c/common/context.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/controlplane/processes.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_proctree.go
  pkg/events/core.go
Labels: area/ebpf, area/events

#4178 feat(caps): base ebpf capabilities
  cmd/tracee-rules/main.go
  pkg/capabilities/capabilities.go
  pkg/capabilities/capabilities_test.go
  pkg/containers/path_resolver_test.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/testing, area/UX, kind/feature, milestone/v0.22.0

#4072 Packet capture context
  pkg/pcaps/common.go
  pkg/pcaps/interface.go
  tests/integration/capture_test.go
Labels: area/testing, area/network, milestone/v0.22.0

#4179 chore: introduce eventFlags to policy manager
  pkg/ebpf/tracee.go
  pkg/policy/event_flags.go
  pkg/policy/event_flags_test.go
  pkg/policy/policy_manager.go
  pkg/policy/policy_manager_test.go
Labels: area/ebpf, area/testing, kind/chore

#4185 chore(cap): check if cap is supported before set/unset
  pkg/capabilities/capabilities.go
Labels: kind/chore

#4186 fix(build): add the include to 3rdparty libbpf during libbpfgo compilation
  Makefile
Labels: area/build

#4187 chore(build): trigger tracee tests on Makefile changes
  .github/workflows/pr.yaml
Labels: area/build

#4184 chore: use libbpfgo to check bpf helper func
  go.mod
  go.sum
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/build, milestone/v0.22.0

#4189 fix: inner error inside check for ebpf func
  pkg/ebpf/tracee.go
Labels: area/ebpf

#4182 feat(ebpf): configurable pipeline channel size
  cmd/tracee-ebpf/main.go
  cmd/tracee/cmd/root.go
  pkg/cmd/cobra/cobra.go
  pkg/cmd/urfave/urfave.go
  pkg/config/config.go
  pkg/ebpf/events_enrich.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
  pkg/events/sorting/sorting.go
  tests/integration/tracee.go
Labels: area/ebpf, area/testing, area/UX, kind/feature, area/events, milestone/v0.22.0

#4183 chore(ebpf): optimize filldir64 program
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, kind/chore, milestone/v0.22.0

#4193 fix(controlplane): filter unnecessary enriches
  pkg/ebpf/controlplane/cgroups.go
Labels: kind/bug, area/ebpf, milestone/v0.22.0

#4201 feat(ebpf): add security_settime64
  docs/docs/events/builtin/extra/security_settime64.md
  mkdocs.yml
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
Labels: area/ebpf, kind/documentation, area/events

#4203 fix: Ensure correct event dependency for process_execute_failed
  pkg/events/core.go
Labels: kind/bug, area/events, milestone/v0.22.0

#4202 fix: Prevent loading syscall-specific BPF programs for non-syscall events
  pkg/ebpf/tracee.go
Labels: kind/bug, milestone/v0.22.0

#4206 feat(ebpf): add prev_comm for sched_process_exec
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Labels: area/ebpf, area/events

#4209 chore: release bpf object memory
  go.mod
  go.sum
  pkg/cmd/tracee.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/performance, area/UX, area/build
