Repository aquasecurity/tracee, pull requests merged in 2024-12, with the labels that each got.

#3953 Add `suspicious_syscall_source` event
  .github/workflows/pr.yaml
  docs/docs/events/builtin/extra/suspicious_syscall_source.md
  pkg/ebpf/bpf_log.go
  pkg/ebpf/c/common/memory.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/event_parameters.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/parse_args.go
  pkg/filters/data.go
  tests/e2e-inst-signatures/e2e-suspicious_syscall_source.go
  tests/e2e-inst-signatures/export.go
  tests/e2e-inst-signatures/scripts/suspicious_syscall_source.sh
  tests/e2e-inst-signatures/scripts/sys_src_tester.c
  tests/e2e-inst-test.sh
Labels: area/ebpf, kind/documentation, area/testing, area/events, area/filtering, area/build, milestone/v0.23.0

#4405 chore(api): bump grpc and protoc versions
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource_grpc.pb.go
  api/v1beta1/definition.pb.go
  api/v1beta1/diagnostic.pb.go
  api/v1beta1/diagnostic_grpc.pb.go
  api/v1beta1/event.pb.go
  api/v1beta1/event.pb.json.go
  api/v1beta1/event_data.pb.go
  api/v1beta1/event_data.pb.json.go
  api/v1beta1/threat.pb.go
  api/v1beta1/tracee.pb.go
  api/v1beta1/tracee_grpc.pb.go
  builder/Dockerfile.protoc
Labels: kind/chore, area/build, area/api, milestone/v0.23.0

#4407 chore(grpc): bump api to latest 715b629
  go.mod
  go.sum
  pkg/server/grpc/event_data.go
  pkg/server/grpc/event_data_test.go
  pkg/server/grpc/tracee.go
  pkg/server/grpc/tracee_test.go
Labels: area/testing, kind/chore, area/build, area/grpc, milestone/v0.23.0

#4408 chore(api): add EventCounts to GetMetricsResponse
  api/v1beta1/diagnostic.pb.go
  api/v1beta1/diagnostic.pb.json.go
  api/v1beta1/diagnostic.proto
Labels: kind/chore, area/api, milestone/v0.23.0

#4305 fix(tests): possible out of range in integration
  tests/integration/event_filters_test.go
Labels: kind/bug, area/testing, milestone/v0.23.0

#4354 feat(test): e2e integration test for new helpers
  .github/workflows/pr.yaml
  go.mod
  go.sum
  tests/e2e-net-signatures/e2e-httprequest.go
  tests/e2e-net-signatures/e2e-httpresponse.go
  tests/e2e-net-signatures/export.go
  tests/e2e-net-signatures/scripts/httprequest.sh
  tests/e2e-net-signatures/scripts/httpresponse.sh
Labels: area/testing, area/build

#4385 Analyze legacy output
  cmd/tracee/cmd/analyze.go
  pkg/analyze/analyze.go
  pkg/cmd/flags/logger.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/tracee_ebpf_output.go
Labels: area/UX, kind/feature, area/flags, milestone/v0.23.0

#4417 fix(build): fix build checkers for goimports
  .github/actions/build-dependencies/action.yaml
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
  builder/Makefile.checkers
Labels: kind/bug, area/build, milestone/v0.23.0

#4378 fix hidden_kernel_module history scan for kernels >6.2
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/tracee.h
  pkg/events/core.go
  pkg/events/definition_dependencies.go
  pkg/events/derive/hidden_kernel_module.go
Labels: area/ebpf, area/events, milestone/v0.23.0, candidate/v0.22.5

#4236 fix: Remove unnecessary check for syscall wrapper in sys_enter tracepoint
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf, milestone/v0.23.0

#4421 chore(k8s): prepare v0.22.5 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore

#4423 [v0.22.5] chore(k8s): prepare v0.22.5 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore, cherry-pick

#4428 chore(GH): pin ubuntu (22.04) version for gh runners
  .github/workflows/pr.yaml
Labels: area/build

#4436 fix(ci): add runner type to release workflows
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: kind/bug, area/build, milestone/v0.23.0

#4434 chore: add kernel 6.8 and 6.10 in matrix images
  .github/workflows/pr.yaml
Labels: area/build

#4437 chore(ebpf): refactor reset_event_args_buf to mark entries as invalid
  pkg/ebpf/c/common/context.h
Labels: area/ebpf

#4438 fix(ci): set 2XLARGE runner type to x86_64
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
Labels: kind/bug, area/build, milestone/v0.23.0

#4457 fix(ebpf): adjust inode struct to kernel v6.11
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/c/vmlinux_flavors.h
Labels: kind/bug, area/ebpf

#4454 chore(test): use cat cmd to trigger magic_write event
  tests/integration/event_filters_test.go
Labels: area/testing

#4462 Revert "feat(helpers): unparsed flag helpers"
  signatures/helpers/go.mod
  signatures/helpers/go.sum
  signatures/helpers/helpers.go
Labels: area/signatures
