Repository aquasecurity/tracee, pull requests merged in 2025-10, with the labels that each got.

#4961 chore: add regex for uprobe warn
  pkg/cmd/initialize/callbacks.go
Labels: area/UX, kind/chore

#4966 chore: refactor getSelfLoadedPrograms log other types
  pkg/ebpf/tracee.go
Labels: area/ebpf, kind/chore

#4958 ARM64 integration fixes
  tests/integration/event_filters_test.go
Labels: area/testing

#4968 tests: remove flaky GetSymbolOffset test and add dedicated unit test
  common/elf/analyzer_test.go
Labels: area/testing

#4960 chore: re-add Dependabot config file
  .github/dependabot.yaml
Labels: kind/chore, area/build

#4962 chore: add helper function to register signal
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/controlplane/controller_test.go
Labels: area/ebpf, area/testing

#4972 chore(ci): disable dependabot gomod updates
  .github/dependabot.yaml
Labels: area/build

#4930 feat(ebpf): add extension to Tracee
  pkg/ebpf/extension.go
  pkg/ebpf/extension_test.go
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/testing, area/UX

#4967 chore: core uprobe improvements
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/uprobe.go
  pkg/ebpf/probes/uprobe_events.go
Labels: area/ebpf

#4975 feat(initialize): refactor libbpf log logic
  pkg/cmd/initialize/callbacks.go
  pkg/cmd/initialize/callbacks_test.go
Labels: area/testing, area/UX, kind/chore, milestone/v0.24.0
