Repository aquasecurity/tracee, pull requests merged in 2025-01, with the labels that each got.

#4441 chore: add kernel 6.11 and 6.12 in matrix images
  .github/workflows/pr.yaml
Labels: area/build

#4458 chore(ci): add codeQL as workflow file
  .github/workflows/codeql.yaml
Labels: area/build

#4483 chore(go.mod) bump api to 4cdea40d
  go.mod
  go.sum
Labels: kind/chore, area/build, milestone/v0.23.0

#4475 chore(ci): enable dependabot version updates
  .github/dependabot.yaml
Labels: kind/chore, area/build, milestone/v0.23.0

#4467 chore(performance): update tracee dashboard
  performance/dashboard/provisioning/dashboards/tracee.json
Labels: milestone/v0.23.0

#4442 fix empty arguments resolution
  pkg/events/parse_args_helpers.go
  pkg/events/parse_args_helpers_test.go
Labels: area/testing, area/events

#4424 Update Contributing docs
  Makefile
  docs/contributing/building/building.md
  docs/contributing/building/environment.md
  docs/contributing/documentation.md
  docs/contributing/guidelines.md
  docs/contributing/kubernetes.md
  docs/contributing/overview.md
  docs/contributing/performance.md
  docs/contributing/setup-development-machine-with-vagrant.md
  mkdocs.yml
Labels: kind/documentation, area/build

#4510 chore(ci): trigger pr workflow on release branches
  .github/workflows/pr.yaml
Labels: area/build, milestone/v0.23.0

#4507 [v0.22.0] feat(time)!: epoch timestamps as standard
  builder/entrypoint.sh
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/flags/output.1.md
  docs/docs/install/config/index.md
  docs/docs/outputs/output-options.md
  docs/docs/policies/usage/cli.md
  docs/man/output.1
  examples/config/global_config.yaml
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/cmd/flags/tracee_ebpf_output.go
  pkg/cmd/flags/tracee_ebpf_output_test.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
  pkg/config/config.go
  pkg/ebpf/capture.go
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/controlplane/processes.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/net_capture.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/processor_proctree.go
  pkg/ebpf/tracee.go
  pkg/proctree/proctree.go
  pkg/proctree/proctree_bench_test.go
  pkg/proctree/proctree_procfs.go
  pkg/proctree/proctree_test.go
  pkg/time/normalizetime.go
  pkg/time/time.go
Labels: area/ebpf, kind/documentation, area/testing, area/UX, area/kubernetes, area/build, area/flags

#4515 chore: api/types bump
  go.mod
  go.sum
Labels: kind/chore, area/build, milestone/v0.23.0

#4516 fix(man): missing rebuild
  docs/man/scope.1
Labels: kind/bug, kind/documentation, milestone/v0.23.0

#4527 Update codeql.yaml
  .github/workflows/codeql.yaml
Labels: kind/chore, area/build

#4528 [v0.22.4] feat(time)!: epoch timestamps as standard (#4507)
  builder/entrypoint.sh
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/flags/output.1.md
  docs/docs/install/config/index.md
  docs/docs/outputs/output-options.md
  docs/docs/policies/usage/cli.md
  docs/man/output.1
  examples/config/global_config.yaml
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/cmd/flags/tracee_ebpf_output.go
  pkg/cmd/flags/tracee_ebpf_output_test.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
  pkg/config/config.go
  pkg/ebpf/capture.go
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/controlplane/processes.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/net_capture.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/processor_proctree.go
  pkg/ebpf/tracee.go
  pkg/proctree/proctree.go
  pkg/proctree/proctree_bench_test.go
  pkg/proctree/proctree_procfs.go
  pkg/proctree/proctree_test.go
  pkg/time/normalizetime.go
  pkg/time/time.go
Labels: area/ebpf, kind/documentation, area/testing, area/UX, area/kubernetes, area/build, area/flags

#4529 [v0.22.4-1] fix: clock time detection
  go.mod
  go.sum
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/build

#4482 fix(filters): int conversion without check
  pkg/filters/binary.go
  pkg/filters/data.go
Labels: kind/bug, area/filtering, milestone/v0.23.0

#4545 feat(helpers): reapply: unparsed flag helpers
  signatures/helpers/go.mod
  signatures/helpers/go.sum
  signatures/helpers/helpers.go
Labels: area/signatures, kind/feature, milestone/v0.23.0

#4550 fix(ebpf): fix insufficiently accurate detection of golang heaps
  pkg/ebpf/c/common/memory.h
Labels: area/ebpf

#4552 chore: improve e2e and pipeline for debuggability
  pkg/ebpf/events_pipeline.go
  tests/e2e-inst-test.sh
Labels: area/ebpf, area/testing, kind/chore, milestone/v0.23.0

#4548 fix(events): fix incorrect handling of event parameters
  pkg/ebpf/event_parameters.go
Labels: area/ebpf, milestone/v0.23.0

#4559 fix(ci): remove runners collision
  .github/workflows/pr.yaml
Labels: kind/bug, area/build, milestone/v0.23.0

#4554 fix(e2e): treat corner cases in ds_writer.go
  tests/e2e-inst-signatures/scripts/ds_writer/ds_writer.go
Labels: kind/bug, area/testing, milestone/v0.23.0

#4562 fix(epbf): fix handling of compat tasks in syscall checkers
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf, milestone/v0.23.0

#4557 fix(ebpf): treat sched_process_exit corner case
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/vmlinux_missing.h
  pkg/ebpf/events_pipeline.go
Labels: kind/bug, area/ebpf, milestone/v0.23.0

#4563 feat(events): convert syscall arg to name at processing stage
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/events/core.go
  pkg/events/parse_args.go
  tests/e2e-inst-signatures/e2e-stack_pivot.go
  tests/e2e-inst-signatures/e2e-suspicious_syscall_source.go
Labels: area/ebpf, area/testing, area/events, milestone/v0.24.0

#4564 fix(ebpf): correct value of exit and signal code for sched_process_exit
  pkg/ebpf/c/common/task.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/controlplane/processes.go
  pkg/ebpf/controlplane/processes_bench_test.go
  pkg/ebpf/processor_proctree.go
  pkg/ebpf/processor_proctree_bench_test.go
  pkg/events/core.go
  pkg/proctree/proctree_feed.go
  pkg/server/grpc/event_data_test.go
Labels: area/ebpf, area/testing, area/events, area/grpc, milestone/v0.23.0
