Repository aquasecurity/tracee, pull requests merged in 2025-09, with the labels that each got.

#4909 docs: add missing protobuf and gRPC sections to adding-events guide
  docs/contributing/adding-events.md
Labels: kind/documentation

#4911 fix(ebpf): use u32 for read_size in save_bytes_to_buf
  pkg/ebpf/c/common/buffer.h
Labels: kind/bug, area/ebpf

#4919 bugfix(lsm): interpret lsm file missing as not supported
  common/environment/lsm.go
  common/environment/lsm_test.go
Labels: area/testing

#4916 fix(grpc): sanitize invalid UTF-8 envent serilization to protobuf
  pkg/server/grpc/event_data.go
  pkg/server/grpc/tracee.go
Labels: kind/bug, area/grpc

#4927 feat(ebpf): add min macro for comparing two values
  pkg/ebpf/c/common/common.h
Labels: area/ebpf, kind/feature, milestone/v0.24.0

#4922 fix(events): correct TIMESPEC_T decoded as time.Time instead of float64
  pkg/events/data/decode.go
Labels: area/testing, area/events, area/build

#4937 ci: fix conditional module testing to actually skip expensive jobs
  .github/actions/test-go-module/action.yaml
  .github/workflows/pr.yaml
Labels: area/build

#4940 test: remove flaky EpochToBootTimeNS test
  common/timeutil/time_test.go
Labels: area/testing

#4942 fix(performance): update dashboard detection for new --server flag format
  builder/Makefile.performance
Labels: area/build

#4941 feat(ebpf): add bpf helper compatibility
  pkg/ebpf/probes/compatibility.go
  pkg/ebpf/probes/compatibility_test.go
Labels: area/ebpf, area/testing

#4943 Fix sig engine close chan
  pkg/signatures/engine/engine.go
Labels: area/signatures

#4950 fix(ebpf): use sockaddr workaround in arm64
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#4952 feat(btfhub): BTF generation with parallel jobs
  scripts/btfhub.sh
Labels: kind/feature
