Repository aquasecurity/tracee, pull requests merged in 2025-08, with the labels that each got.

#4854 chore(go): introduce go.work
  Makefile
  api/go.mod
  api/go.sum
  cmd/traceectl/go.mod
  cmd/traceectl/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  types/go.mod
  types/go.sum
Labels: area/signatures, area/UX, kind/chore, area/build, area/api, milestone/v0.24.0

#4865 fix(ebpf): fix exec_test probe reset logic
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf

#4864 containers: add symlink resolution support to path resolver
  pkg/containers/path_resolver.go
  pkg/containers/path_resolver_test.go
  pkg/ebpf/processor_funcs.go
  pkg/events/derive/symbols_loaded.go
  pkg/filehash/cache.go
  pkg/filehash/key.go
  pkg/utils/sharedobjs/shared_object.go
Labels: area/ebpf, area/testing, area/events

#4875 build: add -failfast flag to test-unit target
  Makefile
Labels: area/build

#4872 fix: remove unneeded SYSLOG capability from base capabilities
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/definition_test.go
  pkg/events/derive/hooked_seq_ops.go
  pkg/events/derive/hooked_syscall.go
Labels: area/ebpf, area/testing, area/events

#4877 tests: increase machine size
  .github/workflows/pr.yaml
Labels: area/build

#4870 fix: improve error messages and embed manual pages in binary
  cmd/tracee-ebpf/main.go
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  embedded-man.go
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/capture_test.go
  pkg/cmd/flags/containers.go
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/logger.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/cmd/flags/tracee_ebpf_output.go
  pkg/cmd/flags/tracee_ebpf_output_test.go
  pkg/cmd/printer/printer_test.go
Labels: area/testing, area/UX, area/flags

#3883 helm: remove old webhook config
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/values.yaml
Labels: kind/documentation, area/kubernetes, milestone/v0.24.0

#4879 pkg/cgroup: add userspace cgroup ID extraction utilities
  pkg/cgroup/cgroup.go
  pkg/ebpf/c/common/cgroups.h
Labels: area/ebpf

#4884 ebpf: remove queue/cache pipeline stage and --cache flags
  builder/entrypoint.sh
  cmd/tracee-ebpf/main.go
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/advanced/caching-events.md
  docs/docs/flags/cache.1.md
  docs/docs/install/config/index.md
  docs/docs/install/config/kubernetes.md
  docs/man/cache.1
  mkdocs.yml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/cobra/config.go
  pkg/cmd/cobra/config_test.go
  pkg/cmd/flags/cache.go
  pkg/cmd/flags/cache_test.go
  pkg/cmd/flags/help.go
  pkg/cmd/urfave/urfave.go
  pkg/config/config.go
  pkg/ebpf/events_pipeline.go
  pkg/events/queue/queue.go
  pkg/events/queue/queue_mem_list.go
  pkg/events/queue/queue_mem_list_test.go
  tests/e2e-inst-test.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
Labels: area/ebpf, kind/documentation, area/testing, area/UX, area/kubernetes, area/events, area/build, area/flags

#4895 feat(probes): add map type compatibility requirement
  pkg/ebpf/probes/compatibility.go
  pkg/ebpf/probes/compatibility_test.go
  pkg/errfmt/errfmt.go
Labels: area/ebpf, area/testing, area/logging

#4882 feat: add comprehensive code coverage with Codecov integration
  .github/workflows/pr.yaml
  .gitignore
  Makefile
  codecov.yml
  docs/contributing/testing-coverage.md
  mkdocs.yml
Labels: kind/documentation, area/build

#4897 feat(ebpf): add prog type compatibility
  pkg/ebpf/probes/compatibility.go
  pkg/ebpf/probes/compatibility_test.go
Labels: area/ebpf, area/testing

#4899 fix: resolve Codecov 'missing base commit' issue
  .github/workflows/pr.yaml
Labels: area/build

#4881 refactor: merge UInt and Int filters using generics
  pkg/filters/int.go
  pkg/filters/int_test.go
  pkg/filters/numeric.go
  pkg/filters/numeric_test.go
  pkg/filters/scope.go
  pkg/filters/scope_test.go
  pkg/filters/uint.go
  pkg/filters/uint_test.go
  pkg/policy/ebpf.go
  pkg/policy/equality.go
  pkg/policy/policies.go
  pkg/policy/policies_compute.go
  pkg/policy/policies_test.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
Labels: area/testing, area/filtering

#4893 Load infra/map autocreate
  go.mod
  go.sum
  pkg/ebpf/tracee.go
Labels: area/ebpf, area/testing, area/build, area/logging

#4904 fix:(ebpf): 'and' bitwise bug in save_bytes_to_buf
  pkg/ebpf/c/common/buffer.h
Labels: area/ebpf, milestone/v0.24.0

#4905 build: remove local common module replace directive
  go.mod
  go.sum
Labels: area/build
