Repository aquasecurity/tracee, pull requests merged in 2025-04, with the labels that each got.

#4695 Release v0.23.1 - 2
  .github/workflows/pr.yaml
Labels: kind/chore, area/build, backport

#4696 chore(k8s): prepare v0.23.1 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore

#4697 PR #4696: chore(k8s): prepare v0.23.1 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore

#4396 add traceectl to tracee
  Makefile
  cmd/traceectl/Makefile
  cmd/traceectl/cmd/event.go
  cmd/traceectl/cmd/metrics.go
  cmd/traceectl/cmd/root.go
  cmd/traceectl/cmd/stream.go
  cmd/traceectl/cmd/version.go
  cmd/traceectl/go.mod
  cmd/traceectl/go.sum
  cmd/traceectl/main.go
  cmd/traceectl/pkg/client/client.go
  cmd/traceectl/pkg/client/diagnostic.go
  cmd/traceectl/pkg/client/service.go
  cmd/traceectl/pkg/cmd/cobra/event.go
  cmd/traceectl/pkg/cmd/cobra/metrics.go
  cmd/traceectl/pkg/cmd/cobra/stream.go
  cmd/traceectl/pkg/cmd/cobra/version.go
  cmd/traceectl/pkg/cmd/event.go
  cmd/traceectl/pkg/cmd/flags/format.go
  cmd/traceectl/pkg/cmd/flags/format_test.go
  cmd/traceectl/pkg/cmd/flags/output.go
  cmd/traceectl/pkg/cmd/flags/output_test.go
  cmd/traceectl/pkg/cmd/flags/server.go
  cmd/traceectl/pkg/cmd/flags/server_test.go
  cmd/traceectl/pkg/cmd/metrics.go
  cmd/traceectl/pkg/cmd/printer/event.go
  cmd/traceectl/pkg/cmd/printer/printer.go
  cmd/traceectl/pkg/cmd/stream.go
  cmd/traceectl/pkg/cmd/version.go
  cmd/traceectl/pkg/config/config.go
  cmd/traceectl/test/server.go
  docs/traceectl/commands/event.md
  docs/traceectl/commands/metrics.md
  docs/traceectl/commands/stream.md
  docs/traceectl/commands/version.md
  docs/traceectl/flags/format.md
  docs/traceectl/flags/output.md
  docs/traceectl/flags/policy.md
  docs/traceectl/flags/server.md
  docs/traceectl/index.md
  docs/traceectl/usage.md
  mkdocs.yml
Labels: kind/documentation, area/testing, area/UX, area/build, milestone/v0.24.0

#4699 feat(trace): data field decoding types
  types/trace/trace.go
  types/trace/trace_test.go
Labels: area/testing

#4353 feat!: separate data field decoding types
  go.mod
  go.sum
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/decoder_test.go
  pkg/bufferdecoder/eventsreader.go
  pkg/bufferdecoder/eventsreader_bench_test.go
  pkg/bufferdecoder/eventsreader_test.go
  pkg/cmd/initialize/sigs/sigs.go
  pkg/cmd/initialize/sigs/sigs_test.go
  pkg/cmd/list.go
  pkg/dnscache/dns_events_test.gz
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/types.h
  pkg/ebpf/capture.go
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/controlplane/signal.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/processor.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/processor_proctree.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/data/decode.go
  pkg/events/definition.go
  pkg/events/definition_datafield.go
  pkg/events/definition_test.go
  pkg/events/derive/derive.go
  pkg/events/derive/derive_test.go
  pkg/events/derive/symbols_loaded_test.go
  pkg/events/findings/findings_test.go
  pkg/events/ftrace.go
  pkg/events/parse/params.go
  pkg/events/parse_args.go
  pkg/events/parse_args_bench_test.go
  pkg/events/parse_args_test.go
  pkg/events/usermode.go
  pkg/policy/ebpf.go
  pkg/policy/policy_manager.go
  pkg/policy/v1beta1/policy_file_test.go
  pkg/server/grpc/event_data.go
  pkg/server/grpc/event_data_test.go
  tests/integration/capture_test.go
  tests/integration/event_filters_test.go
Labels: area/ebpf, area/testing, area/UX, area/events, area/build, area/grpc, milestone/v0.24.0

#4705 fix: add toolchain
  cmd/traceectl/go.mod
Labels: area/UX

#4650 feat: add heartbeat event
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/controlplane/controller.go
  pkg/ebpf/heartbeat/heartbeat.go
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
  pkg/server/http/server.go
Labels: area/ebpf, area/UX, area/events, area/api

#4718 chore(deps): bump go toolchain to 1.24.2
  api/go.mod
  cmd/traceectl/go.mod
  go.mod
  signatures/helpers/go.mod
  types/go.mod
Labels: area/signatures, area/UX, kind/chore, area/build, area/api

#4719 chore: add dependabot config for traceectl
  .github/dependabot.yaml
Labels: kind/chore, area/build, milestone/v0.24.0

#4730 chore(go): bump to use latest types
  signatures/helpers/go.mod
  signatures/helpers/go.sum
Labels: area/signatures, kind/chore, milestone/v0.24.0

#4710 fix: ebpf max inst limit
  pkg/ebpf/c/tracee.bpf.c
Labels: kind/bug, area/ebpf

#4743 fix(traceectl): fix printer process field access
  cmd/traceectl/pkg/cmd/printer/printer.go
Labels: kind/bug, area/UX

#4569 feat(ebpf): add security_sb_umount event
  docs/docs/events/builtin/extra/security_sb_umount.md
  mkdocs.yml
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/probes/probes.go
  pkg/events/core.go
Labels: area/ebpf, kind/documentation, area/events, milestone/v0.24.0
