Repository aquasecurity/tracee, pull requests merged in 2025-03, with the labels that each got.

#4647 chore(ci): diminish dependabot frequency...
  .github/dependabot.yaml
Labels: kind/chore, area/build

#4630 Add bear rule to Makefile
  Makefile
Labels: kind/chore, area/build, milestone/v0.24.0

#4654 chore(api): add missing event ids
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource_grpc.pb.go
  api/v1beta1/definition.pb.go
  api/v1beta1/diagnostic.pb.go
  api/v1beta1/diagnostic_grpc.pb.go
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
  api/v1beta1/event_data.pb.go
  api/v1beta1/threat.pb.go
  api/v1beta1/tracee.pb.go
  api/v1beta1/tracee_grpc.pb.go
Labels: area/api, milestone/v0.24.0

#4657 chore(ci): disable action
  .github/workflows/pr.yaml
Labels: kind/chore, area/build, milestone/v0.24.0

#4666 fix(tests): handle tracee pids correctly
  tests/e2e-inst-test.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
Labels: kind/bug, area/testing, milestone/v0.24.0

#4639 Tidy documentation
  docs/contributing/setup-development-machine-with-vagrant.md
  docs/docs/events/builtin/syscalls/renameat.md
  docs/docs/install/config/cli.md
  docs/docs/outputs/output-options.md
  docs/docs/policies/rules.md
  docs/index.md
  docs/tutorials/tracee-vagrant.md
  mkdocs.yml
Labels: kind/documentation

#4668 chore(grpc): update translation table
  go.mod
  go.sum
  pkg/server/grpc/tracee.go
Labels: area/build, area/grpc

#4669 chore(api): add security_task_prctl event ID
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource_grpc.pb.go
  api/v1beta1/definition.pb.go
  api/v1beta1/diagnostic.pb.go
  api/v1beta1/diagnostic_grpc.pb.go
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
  api/v1beta1/event_data.pb.go
  api/v1beta1/threat.pb.go
  api/v1beta1/tracee.pb.go
  api/v1beta1/tracee_grpc.pb.go
Labels: area/api

#4680 chore(ci): dependabot gomod for sec updates only
  .github/dependabot.yaml
Labels: kind/chore, area/build

#4686 chore(go): bump toolchain to go1.24.1 - 2nd
  signatures/helpers/go.mod
  signatures/helpers/go.sum
Labels: area/signatures, kind/chore

#4687 chore: bump toolchain to go1.24.1
  go.mod
  go.sum
Labels: kind/chore, milestone/v0.24.0

#4688 fix(libcap): bump libcap to v1.2.75 & libpsx to v1.2.76-rc1
  go.mod
  go.sum
Labels: kind/bug, area/build, milestone/v0.24.0
