Repository aquasecurity/tracee, pull requests merged in 2025-07, with the labels that each got.

#4794 chore(build): introduce BUILD_TYPE_FLAG
  Makefile
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
Labels: area/ebpf, kind/chore, area/build, milestone/v0.24.0

#4820 feat(utils/proc): enhance namespace utilities
  pkg/utils/proc/ns.go
  pkg/utils/proc/ns_test.go
Labels: area/testing

#4818 Set default buffer pages apprioprate for page size
  cmd/tracee/cmd/root.go
  tests/integration/tracee.go
Labels: area/testing, area/UX, milestone/v0.24.0, candidate/v0.23.2

#4827 chore(Makefile): add go tags to build signatures.
  Makefile
Labels: kind/chore, area/build, area/ci

#4732 Use bounded loops
  pkg/ebpf/c/capture_filtering.h
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/common/common.h
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/common/memory.h
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, area/testing, kind/chore, area/build

#4839 chore(k8s): prepare v0.23.2 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore

#4843 perf: reduce pipeline-channel-size default from 10000 to 1000
  cmd/tracee/cmd/root.go
  docs/docs/install/config/index.md
Labels: kind/documentation, area/UX

#4853 build: add BPF debug stripping option to reduce object file size by ~3MB
  Makefile
  builder/Makefile.release
Labels: area/build

#4857 feat(events): load only used probes
  pkg/ebpf/probes/probe_group.go
  pkg/ebpf/tracee.go
Labels: area/ebpf
