Repository aquasecurity/tracee, pull requests merged in 2025-02, with the labels that each got.

#4578 fix(ebpf): revise thread stack identification logic
  pkg/ebpf/c/common/memory.h
  pkg/ebpf/c/tracee.bpf.c
Labels: area/ebpf, milestone/v0.23.0

#4579 fix(pipeline): fix stack-addresses not working
  pkg/ebpf/events_pipeline.go
Labels: area/ebpf

#4586 Add missing prctl options to parser
  pkg/events/parsers/data_parsers.go
Labels: kind/bug, kind/chore, area/events, milestone/v0.23.0

#4594 chore(k8s): prepare v0.22.6 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore

#4589 fix(build): libbpf output
  .gitignore
  3rdparty/include/stdarg.h
  Makefile
Labels: kind/bug, kind/chore, area/build, milestone/v0.23.0

#4597 [v0.22.6] fix release tarball static binaries & make daily building faster
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
  Makefile
  builder/Dockerfile.alpine-tracee-container
  builder/Makefile.release
  builder/Makefile.tracee-container
  builder/Makefile.tracee-make
Labels: kind/chore, area/build, cherry-pick

#4598 [v0.22.6] chore(go.mod): bump api to latest 6968a8b
  go.mod
  go.sum
Labels: area/build

#4599 [v0.22.6] fix(build): update Makefile.release
  builder/Makefile.release
Labels: kind/bug, area/build

#4600 fix(build): update Makefile.release
  builder/Makefile.release
Labels: kind/bug, area/build, milestone/v0.23.0

#4603 chore(k8s): prepare v0.23.0 release
  deploy/helm/tracee/Chart.yaml
  deploy/kubernetes/tracee/tracee.yaml
Labels: area/kubernetes, kind/chore, milestone/v0.23.0

#4617 fix(ci): CodeQL warning
  .github/workflows/codeql.yaml
Labels: kind/chore, area/build

#4618 fix(ci): CodeQL warning (2)
  .github/workflows/codeql.yaml
Labels: kind/chore, area/build

#4570 feat(events): add open_file_ns and open_file_mount events
  pkg/ebpf/c/common/filesystem.h
  pkg/ebpf/c/common/task.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
  pkg/events/core.go
  pkg/events/parse_args.go
Labels: area/ebpf, area/events, milestone/v0.24.0

#4626 chore(go): bump go.mod to use latest pkgs
  go.mod
  go.sum
  signatures/helpers/go.mod
  signatures/helpers/go.sum
Labels: area/signatures, kind/chore, area/build, milestone/v0.24.0

#4628 chore(go): bump to use latest signatures/helpers
  go.mod
  go.sum
Labels: kind/chore, milestone/v0.24.0

#4631 fix(ebpf): profile only common events
  pkg/ebpf/perf_count.go
Labels: kind/bug, area/ebpf

#4636 chore(api): rename event to zeroed_inode
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
Labels: area/api
