Repository aquasecurity/tracee, pull requests merged in 2025-05, with the labels that each got.

#4750 perf(ebpf): improve decodeEvents
  pkg/ebpf/capture.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_pipeline_bench_test.go
  pkg/ebpf/processor_funcs.go
  pkg/utils/utils.go
  pkg/utils/utils_bench_test.go
  pkg/utils/utils_test.go
Labels: area/ebpf, area/performance, area/testing, candidate/v0.22.4-2

#4772 Revert "fix(decoder): treat abstract socket in decoder"
  pkg/bufferdecoder/eventsreader.go
  pkg/bufferdecoder/eventsreader_bench_test.go
  pkg/bufferdecoder/eventsreader_test.go
Labels: area/testing, milestone/v0.24.0

#4760 fix(signatures): regex of K8SServiceAccountToken
  signatures/golang/k8s_service_account_token.go
  signatures/golang/k8s_service_account_token_test.go
Labels: kind/bug, area/signatures, area/testing

#4778 chore(ci): remove dependabot config file
  .github/dependabot.yaml
Labels: kind/chore, area/build, milestone/v0.24.0, area/ci

#4785 chore(ci): install Go for CodeQL
  .github/workflows/codeql.yaml
Labels: kind/chore, area/build, milestone/v0.24.0, area/ci
